[2020-04-08 09:11] #42 closed

[2020-04-08 11:16] greggmiller opened #213 "Basic copy changes - Intubation Guide"
On informal peer-review with a colleague we identified several copy changes required in the intubation guide.

**Prepare tab:**

"Allocate roles & share airway" changes to "Allocate roles & share airway plan"

**Pre-oxygenation tab:**

2nd section change "face mark" to face mask"

**Perform**
Change " Inflate cuff before ventilation"
to "Inflate cuff generously before ventilation
- 10ml air"
and r

[2020-04-08 11:22] greggmiller opened #214 "Basic copy changes - Intubation checklist"
**Team**
Remove top item : "Anaesthesia contacted if difficulty anticipated"

**Patient**

Change IV access x 2 item to:
"IV access working
- Fluid running"

**Drugs:**
Below Rescue drugs remove "Sugannadex" otherwise remain the same.

**Equipment**
Change top item fro "2 Laryngoscopes (tested)
to "Videolaryngoscope
- blade available
- back-up laryngoscope available"

Change"Airway trolley/broncho

[2020-04-08 11:23] sallychung commented on #202
**Intubation Guide**
- [x] A Intervene Early -> Intervene early
- [x] B Allocate roles & Share airway -> Allocate roles & share airway plan
- [x] C Use COVID-019 Intubation tray -> Use COVID-019 intubation tray
- [x] D Ensure Viral filter and etCO2 in ventilation circuit -> Ensure viral filter and etCO2 in ventilation circuit
- [x] E No changes
- [x] F No changes
- [x] G No changes
- [x] H No chan

[2020-04-08 11:25] lukesleeman commented on #213
Once this is in the app, we can bounce it back to the designers, to update zeplin

[2020-04-08 11:26] greggmiller commented on #202
Hi @sallychung I was just passing some similar comments to this in #213 & #214

Thanks! 😄

[2020-04-08 11:26] lukesleeman commented on #210
Yep, I believe that this code should be cleaned up - now we have the properly designed screens, we no longer need the various placeholders 👍

[2020-04-08 11:34] workerbee22 commented on #197
Finished today.

[2020-04-08 11:34] #197 closed

[2020-04-08 12:11] sallychung opened #215 "Your Welfare - UI Inconsistencies"
- [ ] A More spacing between heading and body
- [ ] B Emoji should align to top of each point

![PPE 002](https://user-images.githubusercontent.com/12321678/78782844-fc902c00-79e5-11ea-907c-a9c2bc5171c5.jpeg)

[2020-04-08 12:18] sallychung opened #216 "Information - Copy changes"
- [x] **A** Capitalisation and inconsistency - change to "Disclaimer & Conditions of Use”
- [x] **B** Capitalisation - change to "References"

![Screenshot (121)](https://user-images.githubusercontent.com/12321678/78783235-a079d780-79e6-11ea-9d04-214a483e4b31.png)

[2020-04-08 12:19] sallychung opened #217 "Information - Icon out of date"
- [ ] **C** Icon needs to be updated to the new red icon ✨

![Screenshot (121)](https://user-images.githubusercontent.com/12321678/78783364-dcad3800-79e6-11ea-93ea-9ba66d72ef79.png)

[2020-04-08 20:24] joshcase commented on #213
I'll take this and #214 and then advocate for Design tag

[2020-04-08 20:50] joshcase commented on #214
Just to be clear, you want to remove Sugammadex as a rescue drug? Why's that? (Asking more as an intern keen on anaesthetics than a developer)

[2020-04-09 01:48] workerbee22 commented on #217
Working on this today along with other icon fixes.

[2020-04-09 01:54] #188 closed

[2020-04-09 03:40] workerbee22 commented on #213
Design tag because designs need updating to reflect this fix.

[2020-04-09 03:40] workerbee22 commented on #214
Design tag because designs need updating to reflect this fix.

[2020-04-09 05:03] greggmiller commented on #214
Hi, can we just put this on Hold @joshcase I'm just going to write a significant update on this as our new intubation checklist has come out today.

Josh fair question on Sugammadex, I will answer you in email 😄

[2020-04-09 05:23] greggmiller commented on #214
The following copy changes are in addition to above, in the event of a conflict, this information supersedes it...

There are several changes to our intubation checklist as per **WH guideline dated 9th April** (attached).

**Team**

Add item: "Communication device checked"

**Patient:**

Change "FIO2" to "FiO2"

Add ? to "Fluid bolus" so now reads "Fluid bolus?"
Add ? to "Pressor infusion" so now

[2020-04-09 05:25] greggmiller opened #221 "Change intubation checklist infographic"
The intubation checklist infographic (accessible through tertiary PDF button) requires updating to reflect changes in guidelines form 9th April.

Attached is new infographic.
@lukesleeman @Western-Health-Covid19-Collaboration/designers This might have to go through design first of all prior to devs?

[9thAprSAS COVID 19 Intubaiton Checklist WH version 1 (1).pdf](https://github.com/Western-Health-C

[2020-04-09 05:29] greggmiller opened #222 "Change extubation graphic"
Attached is updated COVID19 extubation infographic. This should replace extubation infographic as accessible through extubation PDF tertiary button
[8thAprASCAR COVID extubation sequence.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4454189/8thAprASCAR.COVID.extubation.sequence.pdf)

[2020-04-09 08:29] lukesleeman commented on #221
I'll ping @marcedwards on slack and see if he can do the export

[2020-04-09 09:48] #71 closed

[2020-04-09 09:48] #167 closed

[2020-04-09 09:48] #195 closed

[2020-04-09 09:48] #216 closed

[2020-04-09 09:48] #217 closed

[2020-04-09 10:06] kimngyn commented on #164
@lukesleeman we can close this now?

[2020-04-09 10:21] marcedwards commented on #221
Doing this _right now_.

[2020-04-09 10:56] sallychung commented on #217
✅ v1.0.114

![IMG_2ED4A7BD0750-1](https://user-images.githubusercontent.com/12321678/78888248-97e7d680-7aa4-11ea-9c39-72d74ebce9d2.jpeg)

[2020-04-09 10:57] sallychung commented on #216
✅ v1.0.114

![IMG_2ED4A7BD0750-1](https://user-images.githubusercontent.com/12321678/78888293-b0f08780-7aa4-11ea-8fe1-2d1efc731cf0.jpeg)

[2020-04-09 11:01] sallychung commented on #195
✅ v1.0.114
![IMG_904F85D761EA-1](https://user-images.githubusercontent.com/12321678/78888585-3ffd9f80-7aa5-11ea-8193-93819c595232.jpeg)

[2020-04-09 11:04] sallychung commented on #188
✅ v1.0.114

![IMG_5AD0E52A2290-1](https://user-images.githubusercontent.com/12321678/78888754-a08cdc80-7aa5-11ea-89cd-8a4b0836d084.jpeg)

[2020-04-09 11:07] sallychung commented on #180
✅ v1.0.114

![IMG_AEA62C9EF3B3-1](https://user-images.githubusercontent.com/12321678/78888943-0d07db80-7aa6-11ea-968f-bfffd5a22d64.jpeg)

[2020-04-09 11:09] sallychung commented on #177
✅ v1.0.114

![IMG_497FB1EE73B0-1](https://user-images.githubusercontent.com/12321678/78889088-5a844880-7aa6-11ea-88db-f0b51aa7446b.jpeg)

[2020-04-09 11:10] sallychung commented on #176
✅ v1.0.114, TestFlight shows min iOS 12.0

![IMG_BBD85F7BD98A-1](https://user-images.githubusercontent.com/12321678/78889182-88698d00-7aa6-11ea-90fe-81927c11f572.jpeg)

[2020-04-09 11:18] #221 closed

[2020-04-09 11:20] sallychung commented on #171
✅ v1.0.114

![intu-bug-fix](https://user-images.githubusercontent.com/12321678/78889850-d92db580-7aa7-11ea-9c51-cb3fbbf11075.gif)

[2020-04-09 11:21] sallychung commented on #166
✅ v1.0.114

![IMG_2ED4A7BD0750-1](https://user-images.githubusercontent.com/12321678/78889945-0b3f1780-7aa8-11ea-9688-25cfd78d3c01.jpeg)

[2020-04-09 11:31] lukesleeman commented on #164
Yep, I think so

[2020-04-09 11:34] sallychung commented on #174
✅ v1.0.114

![IMG_CCB1ED3A1CF8-1](https://user-images.githubusercontent.com/12321678/78890899-d59b2e00-7aa9-11ea-8692-f48b014b633d.jpeg)

[2020-04-09 11:34] sallychung commented on #167
✅ v1.0.114

![IMG_C5C13404D10D-1](https://user-images.githubusercontent.com/12321678/78890972-f2376600-7aa9-11ea-9f66-a0327dfadf31.jpeg)

[2020-04-09 11:35] lukesleeman commented on #214
Ok, I have re-opened this and moved it over to design, for one of our designers to update zeplin

[2020-04-09 11:45] sallychung commented on #214
✅ v1.0.114

![IMG_0046](https://user-images.githubusercontent.com/12321678/78891706-66bed480-7aab-11ea-88af-a9f8838aa148.PNG)
![IMG_0048](https://user-images.githubusercontent.com/12321678/78891713-69b9c500-7aab-11ea-86f6-ab6715e8ee17.PNG)
![IMG_0049](https://user-images.githubusercontent.com/12321678/78891717-6a525b80-7aab-11ea-869f-029c8d85bd8c.PNG)
![IMG_0050](https://user-images.githubusercont

[2020-04-09 11:49] sallychung commented on #213
✅ v1.0.114

![IMG_0054](https://user-images.githubusercontent.com/12321678/78891986-db920e80-7aab-11ea-8843-d2fd81c3b430.PNG)
![IMG_0055](https://user-images.githubusercontent.com/12321678/78891941-c61ce480-7aab-11ea-8033-78cf9031c45e.PNG)
![IMG_0056](https://user-images.githubusercontent.com/12321678/78891948-c9b06b80-7aab-11ea-82fb-068c7f8b0779.PNG)
![IMG_0057](https://user-images.githubusercont

[2020-04-09 11:49] sallychung commented on #197
@workerbee22 would this require checking the text for every single screen?

[2020-04-09 11:55] lukesleeman commented on #197
I 🤞 _think_ 🤞  it will be ok.  Basically its just a refactoring to pull stuff out from one place in and into another.  Hopefully it was mostly done by the the IDE.

It can't hurt to give things a quick once over, but I think the risk in this one should be low

[2020-04-09 11:56] sallychung commented on #197
@kimngyn has found a few more minor copy issues. I think let’s wait till next week, do a final comb and capture the last remaining copy changes in one last issue

[2020-04-09 11:57] lukesleeman commented on #197
Yep, that sounds like a really good plan!  Hopefully by then some more of the other ui polish issues will have been merged in as well

[2020-04-09 12:00] yimingc2 commented on #196
@workerbee22 , the reason of the warning is that iOS deployment target for the Pods is iOS8 which is lower than the project deployment target iOS12. So it would generate armv7 dSYM files but no binaries.
So the solution is add
`config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '12.0'`
to the Podfile.

[2020-04-09 12:11] sallychung commented on #175
✅ v1.0.115

![IMG_6CCE35EA8037-1](https://user-images.githubusercontent.com/12321678/78893712-1e091a80-7aaf-11ea-9fe4-89f8eb6cf922.jpeg)

[2020-04-09 12:15] sallychung commented on #164
✅ Intubation Guide v1.0.115

![IMG_0060](https://user-images.githubusercontent.com/12321678/78894014-a8ea1500-7aaf-11ea-9a87-6c0ff3c5d0ff.PNG)

[2020-04-09 12:16] sallychung commented on #164
❌ Intubation Checklist background not white. (#grey50)

![IMG_0061](https://user-images.githubusercontent.com/12321678/78894027-aedff600-7aaf-11ea-8ec8-03671fe8c647.PNG)

[2020-04-09 16:47] benblackman commented on #203
Thanks Sally

A- Pa please
B- PaO2 is in mmHg, SaO2 is in % (although this is pretty much inferred from context, so wouldn't include if it takes up too much room)
C- either, although actually Plat in subscript would be more accurate
D- pH doesn't have an additional unit but 2 decimal places would be good. the CO2 is in mmHg
E/F- yes lower case better for both V and P

G- An additional point is tha

[2020-04-09 23:35] lukesleeman commented on #164
Owwww, good catch.  This appears to be be because in the sketch file, the colour is called `Colors.grey50` - but its actually not grey at all, its white: 255,255,255

[2020-04-10 00:09] lukesleeman commented on #36
Looks like @jinjubread has done some pretty amazing designs, which are now in zeplin!

<img width="1593" alt="Screen Shot 2020-04-09 at 10 13 12 pm" src="https://user-images.githubusercontent.com/902252/78950693-e0d67400-7b12-11ea-9b31-683d59e046c0.png">

I'm moving this over to the @Western-Health-Covid19-Collaboration/medical to review and give us a final tick before we can start development.

O

[2020-04-10 00:13] kimngyn commented on #36
I agree with you, on “The basics”.

I suggested “self-care” instead of “self-case”.

“debrief” needs to be spelt correctly x 1

I’m not sure about “comm”? Can we have “communication” if it fits?

[2020-04-10 00:13] lukesleeman commented on #222
I'm assigning this one over to @marcedwards to do his magic 🙂

[2020-04-10 00:16] kimngyn commented on #36
And I’m not sure about capitalisation, and dot points at the end. 😊

![2FF0430B-873A-43D5-82C8-089F4343E159](https://user-images.githubusercontent.com/42886400/78951118-4f680180-7b14-11ea-9609-7dc5dad45c70.jpeg)

[2020-04-10 00:20] workerbee22 commented on #196
Awesome thanks @yimingc2 . I'm also looking at this SO article to confirm syntax etc: https://stackoverflow.com/questions/54704207/the-ios-simulator-deployment-targets-is-set-to-7-0-but-the-range-of-supported-d

So this is as per your solution above June and seems to be the best answer:

![image](https://user-images.githubusercontent.com/5154664/78949654-84258a00-7b0f-11ea-8fa8-7b442212ba35.png)

[2020-04-10 00:22] lukesleeman commented on #215
I've moved this one over into ready for dev

[2020-04-10 00:22] kimngyn commented on #36
I’m also not sure if there’s going to be infographics with this...? Also, do hospital staff need counselling services or phone numbers to those services?

[2020-04-10 00:22] workerbee22 commented on #15
Rechecked Crashlytics and still takes a while for the crashes to hit the console. So will do a combined PR for both of these together.

[2020-04-10 00:23] lukesleeman commented on #210
I've put this one over into ready for dev.  @rockgecko-development if you would like to take it just self-assign to the issue.  Otherwise we can let somebody else pick it up over the long weekend 🙂

[2020-04-10 00:26] yimingc2 commented on #196
Yup, after I added the deploy target for pods, there is only arm64 and no
arm7 anymore so Apple should be happy with that. My change is just on my
branch. You can make the change for a PR as it’s one line. 😃

On Fri, 10 Apr 2020 at 10:20 am, Mike Hughes <notifications@github.com>
wrote:

[2020-04-10 00:29] lukesleeman commented on #206
I'm moving this over to ready for dev.  It also looks like the toolbars on the screens are the wrong colour - over in zeplin they have purple toolbars.  I'll edit the issue description to include this

[2020-04-10 00:45] workerbee22 commented on #196
Yeah working on a PR for a couple of App Store Connect things, so I'll do this fix and another in that PR shortly 👍

[2020-04-10 00:55] greggmiller opened #227 "Minor copy change and link insertion to Disclaimer @conditions of use"
1. After "This app is for clinicians and hospital staff use ONLY"
Change the first mention of "WHAC19" to "Western Health Anaesthesia COVID-19 (WHAC19)"

Thereafter it can be referred to WHAC19. This just ensures users are familiar with the origins of the acronym.

2. Insertion of a new sentence below section:

" WHAC19 aims to provide a really quick, usable means to access the core information fo

[2020-04-10 00:56] lukesleeman commented on #148
So I've bumped the priority on this as it turns out having references for where we sourced all the info is pretty important 🙂

In terms of what we need from design - nothing fancy, just some sort of textual screen to present this info.

[2020-04-10 00:56] sallychung commented on #221
✅ v1.0.115

![IMG_580A3B581563-1](https://user-images.githubusercontent.com/12321678/78952686-c05de800-7b19-11ea-99dc-db78e6a5e297.jpeg)

[2020-04-10 01:08] greggmiller commented on #36
@jinjubread This is excellent thank you for all the time, effort and expertise put into this 🙌 💯

@kimngyn Thank you for your attention to detail and picking up for the minor copy changes.
Yes, access to counselling resources or infographics through a tertiary button in top right is planned for later versions. In current iteration, it has access to the hospital phone numbers which is good for time

[2020-04-10 01:12] lukesleeman commented on #108
Hmmmm, based on the comments above I'm wondering if we can address this by:

1. Providing better onboarding screens to more clearly contextualise the app ( see issue #113 )
2. Tweaking copy to make it more generic.  Eg, for a step that calls for a particular device which not all hospitals have, we could add "(If available)" or "(optional)".  For a step or checklist items that not all hospitals do

[2020-04-10 01:13] lukesleeman commented on #98
Assigning to me to update the readme.

[2020-04-10 01:38] sallychung opened #229 "Daily Round - Copy changes"
B - Breathing/Assessment
- [ ] **A** Fix casing - PAO2? -> PaO2?

B - Breathing/Plan
- [ ] **B** Fix casing, add units - "PA02 > 55-60" -> "PaO2 > 55-60mmHg"
- [ ] **C** Add whitespace - "SaO2 > 88-92" -> "SaO2 > 88-92%
- [ ] **D** Fix casing - "PPlat < 30" -> "Pplat < 30"

G - Git
- [ ] **E** Fix title casing - "G - Git" -> "G - GIT”

![Copy-changes 002](https://user-images.githubusercontent.com/

[2020-04-10 01:43] lukesleeman commented on #36
I'm not so sure moving the various stages out to a sub-screen is the best way to go.  Unfortunately there is loads of research that shows users just don't click buttons or navigate through apps 😬 - so if we have it behind a button at the bottom of the "Your welfare" screen, it's likely that a lot of users will never find their way through to it.  Having it in tabs means that the basics are still t

[2020-04-10 01:45] sallychung opened #230 "Ventilation - Copy changes"
Initial Steps/Lung Protective ventilation
- [x] **A** Fix title casing - "Lung Protection" -> "Lung protection"
- [x] **B** Fix casing - "Low tidal Volumne" -> "Low tidal volume”

Initial Steps/Aims
- [x] **C** Fix spelling - "SpO2 88-92%" -> "SaO2 88-92%"
- [x] **D** Add whitespace - "Pplat <30" ->"Pplat < 30"
- [x] **E** Fix casing, add decimal point, add whitespaces "Ph>7.0" -> "pH > 7.20”

![C

[2020-04-10 01:46] sallychung commented on #203
Thanks Ben.
Closing this to spin off as two new issues with updated requirements #228 #230

[2020-04-10 01:46] #203 closed

[2020-04-10 02:21] greggmiller commented on #36
Yeah fair points @lukesleeman

The reason I think it would be good for user if this isn't too accessible is although it provides plenty of insight, it will be a  little anxiety-inducing for some to easily access the latter stages of pandemics effects (potential PTSD! etc)... So I think having it at the bottom provides the ability to access that but also means its only really the inquisitive user w

[2020-04-10 02:31] greggmiller commented on #36
However, in saying that I am happy to follow your lead on this @lukesleeman @kimngyn @jinjubread  😄
We can always amend at a later date if that is the feedback we get 😄

And just to be absolutely clear @jinjubread , I think the work on it and its appearance is Exceptional 🎉  💯

[2020-04-10 03:14] sallychung opened #233 "Ventilation - Move title outside of cell"
Ventilation screens have section headings inside the cell instead out outside it.
This is inconsistent to Daily Rounds and Your Welfare

Note: Recommend doing this task together with #230 if it’s still open

Headings affected
- [ ] **A** Initial Steps - Lung protection
- [ ] **B** Initial Steps - Aims
- [ ] **C** Initial Steps - If deterioritating
- [ ] **D** Adjuncts - If initial stepwise approac

[2020-04-10 03:15] sallychung commented on #233
👋 designers, please let me know if you’re happy to apply this design change

[2020-04-10 03:46] sallychung commented on #202
✅ v.1.0.117

Only thing left is “Use Videolaryngoscope CMAC” -> “Use videolaryngoscope CMAC”
Closing this issue as this is minor and everything else is complete. There will be another comb through for the copy audit that can be captured there.

![IMG_0064](https://user-images.githubusercontent.com/12321678/78960476-88fb3580-7b31-11ea-866d-7da893693d74.PNG)
![IMG_0065](https://user-images.githubuse

[2020-04-10 03:46] #202 closed

[2020-04-10 03:59] sallychung commented on #159
✅ v1.0.117

![IMG_102410EF0875-1](https://user-images.githubusercontent.com/12321678/78961074-73870b00-7b33-11ea-83f6-137ed54cd013.jpeg)

[2020-04-10 04:10] jinjubread commented on #36
Thanks for the feedback @kimngyn @greggmiller @lukesleeman I've revised and corrected the typos.

Regards to the conversation between Gregg and Luke.... As a user, I felt it's helpful to read the _Phases of Pandemic and suggestions  for self-care_ before you go to the content. (Also agree with Luke's point of avoiding adding depth to reach the content.

![image](https://user-images.githubuserconte

[2020-04-10 04:21] maks commented on #114
@workerbee22 I think we can consider the release process agreed on at this stage, despite waiting on Google Play approval so going to close, but feel free to reopen if there are any unresolved issues with this.

[2020-04-10 05:12] maks opened #234 "hash of the disclaimer text needs to be used"
Instead of setting a incremented integer as the value, we need to use a hash of the disclaimer text (eg sha1) as the value to be certain of the exact disclaimer text that a user has accepted.

As a bonus: if this value is then reported as a analytics event along with a unique id for the device we had an auditable way to know every user is accepting specific disclaimer text.

[2020-04-10 05:17] lukesleeman commented on #227
Re-opening and moving to design :-)

[2020-04-10 05:33] greggmiller commented on #36
Thanks @jinjubread I think we are maybe better to just remove the subtitle and leave the tab as The basics?
If the user only reads one thing it should be the top line and then basic tips as they are true whatever stage we are in.
Then they can decide whether to flick through stages of pandemic.
How does that sound?

[2020-04-10 06:11] kimngyn commented on #227
Wait, the font size is different...

![FB8B23F1-31A7-4013-9A27-8FC7FD6EFDBE](https://user-images.githubusercontent.com/42886400/78967473-edc08b00-7b45-11ea-86df-d20dd0246233.jpeg)

[2020-04-10 06:14] workerbee22 commented on #234
Do we need a general issue to sort out the overlap between: Disclaimer 'top messages', Full Disclaimer and TestFlight release 'management' text. A these are all doing similar things.

[2020-04-10 06:20] greggmiller commented on #227
I think this is fine for current version. It is important that there is attention drawn to this section. Most important thing is message is there 😄

[2020-04-10 06:22] yimingc2 commented on #227
Hi Kim, which device are you using?

On Fri, 10 Apr 2020 at 4:11 pm, Kim <notifications@github.com> wrote:

[2020-04-10 06:27] kimngyn commented on #227
I’m looking at it now
![67FF7F91-630F-4D5A-A2C6-75C49068B46C](https://user-images.githubusercontent.com/42886400/78968510-28c3be00-7b48-11ea-8399-84fa3c15e338.jpeg)

[2020-04-10 06:47] maks opened #237 "Messaging Overlap between Disclaimer 'top messages', Full Disclaimer and TestFlight release 'management' text"

[2020-04-10 06:48] maks commented on #234
@workerbee22 yep that can be tracked in #237

[2020-04-10 06:51] maks opened #238 "UI classes need to be removed from data layer"
For now `hard_data.dart` and the classes within it are our data layer so UI classes like `ReusableCard` have no business being there and needed to be refactored into separate datamodels holding the data, which is displayed by the `ReusabelCard` widgets

[2020-04-10 07:42] #173 closed

[2020-04-10 08:02] lukesleeman opened #241 "Make app GDPR compliant + better inform our users about what data is gathered"
As part of issue #15 we now gather analytics and crash reporting data using google analytics.  After[ researching the issues](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/241#issuecomment-620568108), I believe there are 4 things we need to do:

- [x] #301 -  Build a settings screen, under the info icon, that Clearly explains what data we gather, what its used for a

[2020-04-10 08:31] lukesleeman opened #242 "Fix flicker with app bar on iOS"
On iOS the app bar flickers in and out as you scroll up and down

**iOS app bar flicker**
![Screen-Recording-2020-04-10-at-5 43 12-pm](https://user-images.githubusercontent.com/902252/78975945-8e1fab00-7b58-11ea-8205-0cd9fcb3f4bf.gif)

Meanwhile on android the situation is a little bit better, however you still get an un-naturally dark background behind the app bar as you scroll:

**Android app ba

[2020-04-10 09:35] workerbee22 commented on #238
@maks @lukesleeman Yeah agree, this has been out problem of hard coding from the start. I'd prefer data classes, standard UI widget classes and raw data in json or similar.

But timeframe wise this will delay the Beta significantly.

[2020-04-10 09:37] workerbee22 commented on #241
Yep one slight complication is that some of the testers are in the UK, although app at the moment is restricted to Australia in Google Play and App Store Connect.

[2020-04-10 09:42] lukesleeman commented on #238
Yeah, this is definitely an "after beta 1" thing

[2020-04-10 09:42] workerbee22 commented on #237
We currently have 3 separate pieces of content trying to do similar things:
- Description of the app's audience and role, added late to top of Disclaimer. Personally I think it is better in an Onboarding experience.
- Disclaimer text
- New Management required paragraphs required in TestFlight release notes

All are doing the same or similar things. Need to reconcile these and be clear about the go

[2020-04-10 09:44] workerbee22 commented on #234
While we sort out  #237 I still think the Disclaimer version flag can be converted over to a hash, independent of 237.

[2020-04-10 09:46] workerbee22 commented on #227
Easy fix

[2020-04-10 09:49] workerbee22 commented on #196
Still looking at this one, previous PR failed to fix the issue. @yimingc2 lets discuss the entry for `config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '12.0'` because it sems to be in there and yet not fixed.

[2020-04-10 09:55] workerbee22 commented on #20
Resubmission in Google Play still no response, but checking that was only done last Sunday:

![image](https://user-images.githubusercontent.com/5154664/78982208-fd9b9780-7b64-11ea-86bc-782afe5a5fcb.png)

And Google Play times are being broadcast at 7+ days ... if that is calendar days, don't expect until Mon 12th April, or if business days thats Wed 14th April.

[2020-04-10 09:56] maks commented on #238
Yeah sorry I should have been more clear, I don't expect this to go into the beta. I'll make a label to make that clear.

[2020-04-10 11:15] #15 closed

[2020-04-10 11:19] jinjubread commented on #36
@greggmiller Alright! Here we go... :) design for #36 is ready to go on dev. I've merged the final change on Zeplin.
<img width="1236" alt="Screen Shot 2020-04-10 at 9 18 13 pm" src="https://user-images.githubusercontent.com/8220376/78987236-cfbc5000-7b70-11ea-96a9-ba3bca3e621f.png">

[2020-04-10 11:27] kimngyn commented on #36
@sallychung  do we still need to keep #215 open?

[2020-04-10 11:39] lukesleeman commented on #36
I think whoeever does this one should also pick up #215 at the same time 🙂

[2020-04-10 11:40] lukesleeman commented on #215
👋 If anybody is thinking of picking this up, be aware that there is a major change for the screen as part of #36  - whoever is doing #36 should also take this issue at the same time

[2020-04-11 04:24] yimingc2 commented on #227
@kimngyn , hey I fail to reproduce the issue. I tried on iOS 12.4 iphone 6 plus but it doesn't happen to me. Are you testing on a simulator? Do you know the iOS version?

[2020-04-11 05:19] lukesleeman commented on #227
It's weird - it seems to be quite device dependent.  I've seen it on some android emulators, but not others and it doesn't occur on my pixel 2 phone .

[2020-04-11 06:32] cjmlgrto commented on #45
Here's the updated design, with subtitles. [They're also available on Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/screen/5e89b517c64be91fb3d24898/).

Keen to get a quick re-review @Western-Health-Covid19-Collaboration/medical + QA folks.

![Additional Resources](https://user-images.githubusercontent.com/1712450/79037147-e2d32c80-7c11-11ea-816b-172c11410cf7.png)

[2020-04-11 06:35] cjmlgrto commented on #227
Done and done. [Designs now synced to Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/screen/5e8461ebf2308a232bbd278b/).

I've also updated the style of the URLs in the app to use **blue600**, and tweaked the "I Agree" toolbar underneath for better content separation.

![ Short](https://user-images.githubusercontent.com/1712450/79037227-5d9c4780-7c12-11ea-87a6-31a4bc47970e.png)

[2020-04-11 06:37] cjmlgrto commented on #233
That's a great idea. Keeps it consistent too. I've [updated the design on Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e759b3382d3c56689bfe78a) to match.

![Slice](https://user-images.githubusercontent.com/1712450/79037261-a6540080-7c12-11ea-8f67-8710f3666d49.png)

[2020-04-11 06:37] cjmlgrto commented on #214
Done and done. [Zeplin synchronised](https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e8b06178874b0220dd36892).

[2020-04-11 06:38] cjmlgrto commented on #213
Copy's now [synced with Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e759b39c50f086fabc23305).

[2020-04-11 06:40] cjmlgrto commented on #148
I've used the same styling from #45 for this screen by making those cards work like links with descriptions. [Here's the design for it on Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/screen/5e8b0f2d904a5820961a9418/).

![Acknowledgements and References](https://user-images.githubusercontent.com/1712450/79037293-08ad0100-7c13-11ea-92e6-554cae06a1ae.png)

[2020-04-11 06:41] #214 closed

[2020-04-11 06:41] #213 closed

[2020-04-11 06:42] #227 closed

[2020-04-11 06:47] cjmlgrto commented on #199
Before the designers dig into this piece of work— might need a bit of clarification here. Where should this content live inside the app? Will be a tab inside the original Cross-Skilling section described in #43?

Or is this a different screen altogether?

[2020-04-11 07:02] greggmiller commented on #199
Hi @cjmlgrto, yes so the plan is that cross-skilling will be a list with various pages that might be an infographic/hyperlink or other scrollable tab feature.

This should live under subdivider C for circulation as it is regarding cardiac arrest.
It should be titled ALS/BLS pandemic modifications and once clicked on opens into scrollable tab described above with infographic on the tertiary button.

[2020-04-11 07:04] greggmiller commented on #45
This looks great @cjmlgrto 👍

Only copy change I would suggest is changing "Resource dashboard for critical care professionals" to "Resource dashboard for Intensive Care society"

Thanks for looking at this 🙌 😄

[2020-04-11 07:06] cjmlgrto commented on #45
Easy! Made the change on Zeplin now for the devs. I'll remove the design tag since this should be ready for dev now! 🎉

[2020-04-11 07:38] kimngyn commented on #233
Title looks nicer, I’m glad you made those changes and decided to capitalise every letter. Honestly wasn’t sure what was best. Great job!

[2020-04-11 07:48] kimngyn commented on #148
“Department” with capitalisation? Maybe?

“Codemagic and Manichord for additional build minutes and support “ maybe?

Everything else looks good.

[2020-04-11 07:49] kimngyn commented on #45
This one looks really good! 😊

[2020-04-11 08:33] greggmiller commented on #148
Great work @cjmlgrto 🙌

Yeah probably a D for Department.

Codemagic and Manichord did provide additional minutes and support so should be recognised 👍

I also think its right that each contributor (dev, developer etc.) is named (if they wish to be) under acknowledgements or a contributor section? Maybe the contributor a separate colour for a link or it scrolls down to that? Happy for that decisio

[2020-04-11 08:36] greggmiller commented on #233
This looks great @cjmlgrto 👍

Only suggestion would be after neuromuscular blockade just having:
"NOT first-line management - discuss with ICU consultant" as a bullet point maybe in a lighter font.
Brevity is the winner here and it's good to reassure staff there is always senior help around 😄

[2020-04-11 10:17] yimingc2 commented on #227
Hey @kimngyn ! I know why it happened and I can reproduce it now. It's because you enable accessibility of the font size and set it to the smallest. For some reason, RichText doesnt go well with accessibility.

[2020-04-11 10:20] kimngyn commented on #227
Yes! That’s why I asked you about RichText 😂

[2020-04-11 11:42] yimingc2 commented on #229
Hi @sallychung , in the app, sometimes we use `PaO₂` with subscript 2 and sometimes `PaO2` with simply a `2` besides it. What should we be consistent with?

[2020-04-12 02:56] #229 closed

[2020-04-12 04:57] #230 closed

[2020-04-12 12:29] yimingc2 commented on #242
I look at the code for this issue. I think the main reason for "Flickering" is because of how we calculate the navi bar background color based on the scroll position.
`AppColors.dynamicAppBarBackground(percentage)`

A quick solution is to disable the bouncing scroll. It can stop the flickering but the navi bar color transition is still not smooth. It starts out too dark. Something wrong with the c

[2020-04-12 12:45] yimingc2 commented on #242
Also, I'm not sure if we want to have the iOS Large Title effect here in the first place. If so, we can use `CupertinoSliverNavigationBar` to achieve that which looks more native.

[2020-04-12 23:57] workerbee22 commented on #242
So we can definitely fix the flicker issue as it is not a flutter bug or constraint. But I just haven't had time to have a closer look.

So this starts to get us to a key question. Do we want to start having two designs at run time; one for iOS and the other for Android. I've been looking at this generally, but I think we should discuss it as a team before we start doing it in the code.

Flutter c

[2020-04-13 02:05] #238 closed

[2020-04-13 05:42] workerbee22 commented on #241
Not there is a GDPR set of questions in Firebase we'll have to complete too.

[2020-04-13 05:48] yimingc2 commented on #242
Yeah good point. And also the same for platform icons.

On Mon, 13 Apr 2020 at 9:57 am, Mike Hughes <notifications@github.com>
wrote:

[2020-04-13 06:05] workerbee22 commented on #196
UI fix failed, so discussed with @yimingc2 the Podfile change by adding this line:

[code]

[2020-04-13 06:07] workerbee22 commented on #196
The warning **ITMS-90078: Missing Push Notification Entitlement** remains, but as per Flutter issue. But will ignore this for now as we track the flutter framework issue on this [issue](https://github.com/flutter/flutter/issues/9984)

[2020-04-13 06:24] cjmlgrto commented on #148
Done— [on Zeplin now](https://app.zeplin.io/project/5e7597a68651056664fb6e53/screen/5e8b0f2d904a5820961a9418/) 👍

Might be worth adding a link to the repository in this project perhaps? Tapping "Made with ♥︎ by a band of volunteers" could do that? That way the app doesn't have to keep being updated for every new contributor?

[2020-04-13 06:27] cjmlgrto commented on #233
Updated accordingly. Thanks folks! 🙏

The new set of screens [are on Zeplin now](https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e759b3382d3c56689bfe78a).

[2020-04-13 06:32] cjmlgrto commented on #43
Alright, here are the designs for the "Proning" screens. I've decided to split the "Pre-Manoeuvre" screens into two separate ones ("Staff" and "Patient") because they were getting quite long.

![Slice](https://user-images.githubusercontent.com/1712450/79097949-4beaa980-7da4-11ea-82d1-69bc54471b03.png)

Users will find these screens (and the linked demonstration video) by going into the Cross-Skill

[2020-04-13 06:55] cjmlgrto commented on #199
Here are the designs for it:

![ALS BLS](https://user-images.githubusercontent.com/1712450/79099423-6d996000-7da7-11ea-883c-f94839610628.png)

Just like #43, these screens will be accessible from the ICU / Cross-Skilling screen:

![Cross-skilling](https://user-images.githubusercontent.com/1712450/79099449-80ac3000-7da7-11ea-9a42-1928d5be8017.png)

[2020-04-13 07:22] yimingc2 commented on #242
This is how it usually looks like using Large Title navi bar on iOS. Hope it will help to determine the design.

![LargeTitle](https://user-images.githubusercontent.com/14011195/79101152-4cd30980-7dab-11ea-9cee-7140f06d5207.gif)

[2020-04-13 07:28] workerbee22 commented on #242
@yimingc2 Yep much more iOS native 👍 ... I think this design discussion is getting much more urgent.

[2020-04-13 08:11] kimngyn commented on #199
LGTM! only one suggestion

![Screenshot (148)_LI](https://user-images.githubusercontent.com/42886400/79104566-2fee0480-7db2-11ea-9bed-7724d14f0080.jpg)

[2020-04-13 08:32] kimngyn commented on #43
I thought it would be cool to have a trolley emoji:

![Screenshot (156)_LI](https://user-images.githubusercontent.com/42886400/79105984-fff43080-7db4-11ea-8eab-017ddea7641c.jpg)

[2020-04-13 08:32] kimngyn commented on #43
I'm not sure if there were changes to this section:

![Screenshot (157)_LI](https://user-images.githubusercontent.com/42886400/79106055-1d28ff00-7db5-11ea-8d63-38e7b953666c.jpg)

[2020-04-13 08:33] kimngyn commented on #43
Disability section was missing? :

![Screenshot (158)](https://user-images.githubusercontent.com/42886400/79106115-3631b000-7db5-11ea-9fe3-e5f8ce049a91.png)

[2020-04-13 08:34] kimngyn commented on #43
Is the last tab meant to be a checklist?
Also the double title of "circulation".
Capitalisation for "peak" and "minute".
Typo for "pressures".

![Screenshot (161)_LI](https://user-images.githubusercontent.com/42886400/79106147-46498f80-7db5-11ea-8116-b592cf80ed6e.jpg)

[2020-04-13 08:35] kimngyn commented on #43
Capitalisation issue for "tilt".
![Screenshot (160)_LI](https://user-images.githubusercontent.com/42886400/79106251-7bee7880-7db5-11ea-9c26-3eb4353db38f.jpg)

[2020-04-13 08:37] greggmiller commented on #199
@cjmlgrto Yeah this looks really great to me Carlos.
Thanks @kimngyn  for making that one recommendation, I would agree.

[2020-04-13 08:38] greggmiller commented on #43
Looks really good @cjmlgrto.
 Agree with Kim's changes. Probably best to have @fabiendade have a look at this as he drafted this one 😄

[2020-04-13 08:45] cjmlgrto commented on #199
Was on the fence about this, but I've decided to remove them. Still the same intent, just a bit cleaner. Thanks @kimngyn!

[2020-04-13 08:49] cjmlgrto commented on #43
Great attention to detail. Changes made. Thanks folks!

[2020-04-13 08:53] kimngyn commented on #199
@greggmiller  are you ok with this too?

![Screenshot (164)_LI](https://user-images.githubusercontent.com/42886400/79107624-10f27100-7db8-11ea-9b4b-0bec98de3667.jpg)

[2020-04-13 10:22] workerbee22 commented on #196
The **ITMS-90381: Too many symbol** files is resolved.

Now only the warning **ITMS-90078: Missing Push Notification Entitlement** remains. We'll see if this gets resolved once we move to a new flutter version.

Flutter frame work issue is here: flutter/flutter#9984 but summary is ' ... turn on Push Notifications then the warning will go way ...'  🤣Not sure we should do that when we can ignore it

[2020-04-13 10:44] #36 closed

[2020-04-13 10:44] #215 closed

[2020-04-13 22:00] adamkoch commented on #20
FYI, team said should be approved now

[2020-04-13 22:25] maks commented on #20
Thanks @adamkoch yes the app is now published on Beta track :tada: Thanks for all your help!!

[2020-04-13 22:37] workerbee22 commented on #20
@maks We're not done, so prefer to keep this open for a bit longer.

[2020-04-13 22:38] workerbee22 commented on #114
Still not done, prefer to keep open a little longer.

[2020-04-13 22:46] maks commented on #20
@workerbee22 what is still left to do?

[2020-04-13 22:54] workerbee22 commented on #20
Store listing fixups, actually do the Open Beta push of a release and other bits and pieces.

[2020-04-13 23:01] workerbee22 commented on #234
@maks Good idea will add as an Analytics event along with some more events and adjustments to Analytics, now that we have data coming through from people using the app.

[2020-04-13 23:05] workerbee22 commented on #114
Release process still to be finalised once we're totally off Firebase App Dist and we have released open Betas and a proper production release to both app stores.

[2020-04-14 00:48] #210 closed

[2020-04-14 04:59] workerbee22 opened #251 "PPE Technique Video Bugs"
Currently on the PPR Technique screen, you can:

- play both videos at the same time. Is this desirable? Because audio conflicts with each other.
- video once playing, can select the 'Step by Step Guide', or Method 1 or Method 2 screens and the video continues to play, with audio being heard in the background. I don't think this is desirable? Can also select the PDF screens as well, with video con

[2020-04-14 07:12] greggmiller opened #252 "resuable_infographic_page widget in view to have multi-page alternative"
There are several infographics which are multi-page that we would like to include in future versions of the app.

Would it be possible for the reusable_infographic_page widget to be modified or an alternative created so that it can be used for this purpose. Ideally the only main modification for this would be that it would be scrollable (up/down) and would preferably have some information on it as

[2020-04-14 07:28] workerbee22 opened #253 "Release Notes Not Uploaded to Google Play"
The release notes for the app are not being automatically uploaded into the Google Play Internal track, with the codemagic builds.

[2020-04-14 07:48] workerbee22 commented on #252
PageView() was my first thought, with a page indicator.

But I think we also need to look at the infographics themselves more closely:
- They are constructed as single pages and are useful when I assume they are printed as a single sides A4 page. As in actual physical paper.
- They shown multiple 'steps' usually in a short process.

If we use a PageView, each 'step' can have an image and/or text,

[2020-04-14 08:31] fabiendade commented on #43
Looks amazing @cjmlgrto and agree with all the changes proposed by Kim. Thanks!

[2020-04-14 10:35] sallychung commented on #43
Looks like this is ready for dev 🤘

[2020-04-14 10:49] fabiendade opened #254 "Build out ICU cross skilling - Breathing - Non invasive ventilation"
Under ICU cross skilling Breathing section we need to instruct non ICU medical staff safely initiate non invasive ventilation which will hopefully prevent patients from having to be anaesthetised and put on the ventilator.

Format would be an intro section highlighting that this is a potentially dangerous treatment for staff looking after the patient, and an introduction of the concept.

Along the

[2020-04-14 10:52] fabiendade commented on #254
Title of section

Non invasive Mechanical Ventilation (NIV)

4 Tabs
1.	Non-invasive mechanical ventilation
2.	Indications
3.	Initiation
4.	Troubleshooting

Bold text the title of each box within the tab.

Tab 1

**Non-invasive Mechanical ventilation (NIV)**

Do NOT institute in COVID-19 patient unless discussed with Intensivist

This is an aerosol generating procedure

Closed circuit positive pres

[2020-04-14 11:08] fabiendade opened #255 "ICU cross skilling - Breathing - High flow nasal Prongs"
Within the cross skilling - Breathing section it would be useful to have a button titled “high flow nasal prongs” to help staff safely initiate and manage this oxygen delivery device

Opening it brings up a screen with:

3 Tabs

1. High flow nasal Prongs
2. Initiation
3. Management

Bold headings are titles of each box within the Tab

Tab 1

High Flow Nasal Prongs (NFNP) are a humidified high flow

[2020-04-14 11:38] fabiendade opened #256 "ICU cross skilling. - Breathing - Invasive Mechanical ventilation"
Similar to previous - Within the Breathing section of the ICU cross skilling section It would be useful to have a button titled “Invasive Mechanical Ventilation” which guides clinicans thorough steps to safely manage patients on ventilators.

This section is more complex than the other two previously posted, but will require the same format so I have left on a word document to hopefully make it cl

[2020-04-15 00:50] #253 closed

[2020-04-15 00:58] greggmiller commented on #252
Hi @workerbee22  I agree, I think having the ability to break the infographics down to steps that we can slide between would be extremely useful.
It would be the ideal solution.
This is perhaps a slightly separate issue to the multipage infographic widget as I still think there would be some demand for the multi-page widget so the infographics would be there as a reference.

In terms of poor image

[2020-04-15 01:53] greggmiller opened #260 "Basic Copy Change on Extubation guide"
In perform tab change:
"Switch to surgical mask with Hudson or nasal prongs over the top"
to:
"Switch to Hudson or nasal prongs O2 with a surgical mask over the top"

This should be ready for dev.
@Western-Health-Covid19-Collaboration/flutter-devs

[2020-04-15 04:10] workerbee22 commented on #253
Once the file uploading correctly, had to change the Store Listing to default to US english en-US so the auto uploaded release notes would not error out on Australian English en-AU.

So now Store Listing is en-US

![image](https://user-images.githubusercontent.com/5154664/79297870-cb9e8280-7f22-11ea-964b-5aa7ca3b188d.png)

[2020-04-15 04:47] #260 closed

[2020-04-15 05:26] workerbee22 commented on #20
Fixed language of Store Listing and release notes uploading automatically for codemagic builds, as per [issue 253](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/253)

[2020-04-15 09:44] greggmiller commented on #222
This seems to have been resolved in #259 thanks to @marcedwards 👍
I'll close this one down @lukesleeman

[2020-04-15 09:44] #222 closed

[2020-04-15 09:46] greggmiller commented on #199
Thanks @cjmlgrto .

This one looks ready for @Western-Health-Covid19-Collaboration/flutter-devs
@lukesleeman

[2020-04-15 09:49] greggmiller commented on #148
This one looks ready for @Western-Health-Covid19-Collaboration/flutter-devs.
 @lukesleeman ?

[2020-04-15 10:46] #233 closed

[2020-04-15 11:38] lukesleeman commented on #148
Yep, this one looks ready for dev!

I think with individual contributors, it would be nice if all our names were in there somewhere 🙂  But in the interests of keeping this particular task focused, let just build to the designs right now - hopefully a little bit later, the designers can come up with some kind of cool easter egg, or way of putting us all in there.

[2020-04-15 11:42] lukesleeman commented on #251
Yeah, these all sounds like bugs we should fix - I'm moving this one over into ready for dev 👍

[2020-04-15 11:44] lukesleeman commented on #237
Good call out - I've applied the `Medic` label and assigned this one over to @greggmiller , though I guess for the most part we can just hash out the details over in slack 👍

[2020-04-15 11:47] lukesleeman commented on #252
Based on our discussions in the call this evening, it sounds like @workerbee22 will do some prototyping tomorrow on possible solutions.

@kimngyn did provide this video as a possible example:
https://youtu.be/lrMCjIYpnjg

In the video they have a number of cards with images on them - then you tap each one and get it fullscreen

[2020-04-15 23:04] greggmiller commented on #252
That video looks an incredible way to break down infographics 😄

[2020-04-15 23:11] greggmiller commented on #237
I agree that some of the duplications on information may seem unnecessary. However, it is more reinforcement by repetition under these circumstances so that it is 100% clear who the target audience is. The risk if we aren't quite clear Ron this message is substantial - the app gets pulled under COVID restrictions and considerable setback on timeline.

I think the best order from here would be...
O

[2020-04-15 23:14] greggmiller commented on #148
@lukesleeman Yes agree, individual names and role/contribution should be in there 😄 👍.

This can probably be copied directly from the README?

[2020-04-16 00:18] greggmiller opened #263 "ICU cross skilling. - Airway - WH COVID19 Intubation video"
Add compressed video through this link.
(Compressed from 150MB to 6MB)

https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/WHIntubationVideoGmailSmall.mp4

As discussed yesterday @lukesleeman , if this is too significant in size we might need to think of alternatives.

[2020-04-16 00:25] #43 closed

[2020-04-16 03:03] rockgecko-development opened #264 "Vertical scroll position of guide items is not maintained when switching tabs"
Steps to reproduce:
1. Open any tabbed guide screen with content longer than your screen, eg Proning-> Staff Pre-Manoeuvre
2. scroll down
3. change tab
4. change back

#### Expected:
Staff Pre-Manoeuvre tab should maintain scroll position
#### Actual:
Scroll is reset to top

Related to #204

[2020-04-16 05:07] #148 closed

[2020-04-16 05:08] #199 closed

[2020-04-16 07:36] workerbee22 commented on #252
Ok mocked something up based on the **Extubation** we have in the app already. The infographic for it is this image/pdf:

https://c14cdbb8-fa6f-468d-93e6-86b26d7dbbf8.filesusr.com/ugd/7ddf74_9b0003df894542688b48b65e7ecaf920.pdf

Mocked a quick and very rough PageView alternative, where we break down the content away from a single page that we 'zoom' into a more mobile friendly result. Advantages a

[2020-04-16 07:39] workerbee22 commented on #252
I wish we had imagery as sexy as Nike sneakers 🤣

[2020-04-16 07:43] workerbee22 commented on #114
Fixed the Google Play release notes with [PR 258](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/258) being uploaded by codemagic into Google Play 👍

Will keep open until we get first released version to both Android and iOS app stores.

[2020-04-16 08:15] greggmiller commented on #252
This looks incredible @workerbee22 🙌 💯

[2020-04-16 11:16] lukesleeman commented on #263
At the moment the app is linking through to the video on youbube, seems like a pretty good solution, so long as we are happy that users will always have mobile connection.

It seems like we can embed youtube videos on the app ( see https://pub.dev/packages/youtube_player_flutter ) so I'm thinking we might even want to remove the existing two PPE videos and replace them with an embedded youtube pla

[2020-04-16 11:21] lukesleeman commented on #251
Anybody who is looking at this should be aware that as part of #263 there is some discussion of moving over to using embeded youtube videos

[2020-04-16 11:22] lukesleeman commented on #263
Also it would be good to hear from @workerbee22 or @maks to see if they think that `youtube_player_flutter` package is any good - it does score 98, so I'm guessing its a good one?

[2020-04-16 11:29] sallychung opened #267 "ICU Cross-skilling: Copy changes"
- [x] **A** Proning/Staff Pre-Manoeuvre/Team - "Staff trained in proving" -> "Staff trained in proning"
- [x] **B** Proning/Staff Pre-Manoeuvre/Team - "Trunk and libs" -> "Trunk and limbs"
- [x] **C** Proning/Post-Manoeuvre - "Postion head" -> "Position head”

<img width="887" alt="image" src="https://user-images.githubusercontent.com/12321678/79451105-579ad200-8029-11ea-857b-fcd135b8af12.png">

[2020-04-16 11:33] lukesleeman commented on #252
So - we discussed this in detail during tonights call.  Basically we think there are a few issues mixed in here:

1. Why do we have the infographics in here?  Is it because we have a legal/medical requirement to show the original source?  Or will medical staff find them useful?  Can they be altered and if so how much?

2. How do we display infographics with multiple pages?

3. How can we break up

[2020-04-16 11:40] sallychung opened #268 "ICU Cross-skilling/Daily Round: Broken emojis on iOS 12, Android 9"
Emojis are either displayed as a question mark, incorrectly rendered or different to Zeplin

- [x] **A** Proning/Indication/Contraindications/Haemodynamic instability 🩸-> ⚖️
- [x] **B** Proning/Staff Pre-Manoeuvre/Team - 6x staff available 6️⃣ -> 6
- [x] **C** Proning/Patient Pre-Manoeuvre/Circulation - Check adequate vascular ♥ -> ❤️
- [ ] **D** Proning/Patient Pre-Manoeuvre/Other - Apply padding

[2020-04-16 11:44] lukesleeman commented on #268
Question for @sallychung ... or possibly @greggmiller - can you suggest any alternate emojis we could use for A, B, and D?

[2020-04-16 11:49] sallychung opened #269 "Unresponsive button in Acknowledgements"
When tapping on “Western Health Department of Anaesthesia”, nothing happens.

It appears the route was not configured to a URL.

![Link](https://user-images.githubusercontent.com/12321678/79452656-d264ec80-802b-11ea-875d-b67d77a17c69.jpg)

![Screenshot (171)_LI](https://user-images.githubusercontent.com/12321678/79452662-d3961980-802b-11ea-841e-3501ebd21247.jpg)

[2020-04-16 11:51] lukesleeman commented on #269
@greggmiller can you let us know what the URL is, and then move this over to `Ready for dev` ?

[2020-04-16 14:12] rockgecko-development commented on #268
I have all 3/4 broken on Samsung S8 Android 9 too.
Emojis in question are:
🩸 6️⃣ ❤️(ok on mine) 🩹
Alternatives might be:
⚖️ 6 ❤️
?

[2020-04-16 21:16] greggmiller commented on #269
These are only available on the hospital intranet which would not be accessible externally.
So the best way might be to link to the microsite which has them: https://whcovid19.wixsite.com/covid19

And amend the subtext from "Policies and procedures" to "Policies and procedures available on the microsite"

[2020-04-17 10:25] #45 closed

[2020-04-18 06:36] workerbee22 commented on #242
Fixed !

[2020-04-18 06:40] lukesleeman commented on #269
Moving over into ready for dev

[2020-04-18 06:57] lukesleeman opened #273 "Update Zeplin PPE screens to match app"
A while ago a new versions of the PPE Donning and doffing guides were released which re-order some of the steps and add in extra steps for hand hygiene.

We integrated these into the app, however it seems like the zeplin designs never got brought into sync.  One of the @Western-Health-Covid19-Collaboration/designers needs to go through the app, and then update the steps in the PPE screens in zepli

[2020-04-18 07:36] #242 closed

[2020-04-18 07:56] #269 closed

[2020-04-18 11:27] sallychung commented on #268
yeah should work.

🩸🩹 are only available on Emoji v12 released 2019 https://emojipedia.org/emoji-12.0/

I’ve updated the title and first comment to reflect the changes.

Not sure what’s a suitable substitute for 🩹... 🤕 doesn’t seem right

[2020-04-18 11:39] sallychung commented on #269
✅ v.1.0.146

![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 38 37](https://user-images.githubusercontent.com/12321678/79636719-0f141d80-81bd-11ea-8eda-06139735c173.png)

[2020-04-18 11:40] sallychung commented on #260
✅ v1.0.146

![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 40 09](https://user-images.githubusercontent.com/12321678/79636739-31a63680-81bd-11ea-97df-7f6c1d8a2624.png)

[2020-04-18 11:43] sallychung commented on #242
✅ v1.0.146

![flicker_fix](https://user-images.githubusercontent.com/12321678/79636775-7e8a0d00-81bd-11ea-900c-0c0eb5803c1d.gif)

[2020-04-18 11:44] sallychung commented on #233
✅ v1.0.146

![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 43 32](https://user-images.githubusercontent.com/12321678/79636793-ab3e2480-81bd-11ea-8f9c-7c1ddfc41710.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 43 34](https://user-images.githubusercontent.com/12321678/79636795-aed1ab80-81bd-11ea-8d86-9b7b07c78492.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 43 35

[2020-04-18 11:45] sallychung commented on #230
✅ v1.0.146

![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 43 34](https://user-images.githubusercontent.com/12321678/79636818-e04a7700-81bd-11ea-8635-45dababaf37d.png)

[2020-04-18 11:48] sallychung commented on #229
✅ v1.0.146

Broken emoji will be created as a separate issue

![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 47 00](https://user-images.githubusercontent.com/12321678/79636862-3d462d00-81be-11ea-8ed1-df2fca1d980e.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 47 16](https://user-images.githubusercontent.com/12321678/79636864-3e775a00-81be-11ea-8689-7bbb81b3419d.png)
![Simulato

[2020-04-18 11:49] sallychung commented on #227
✅ v1.0.146

![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 49 00](https://user-images.githubusercontent.com/12321678/79636885-6f578f00-81be-11ea-812a-7b9c8ec01eb5.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-18 at 21 49 02](https://user-images.githubusercontent.com/12321678/79636887-72eb1600-81be-11ea-8270-9728ee5d15f7.png)

[2020-04-18 11:56] sallychung commented on #268
Added additional bugs from Daily Round.

[2020-04-18 12:04] sallychung commented on #148
✅ v1.0.146

[2020-04-18 12:06] sallychung commented on #45
✅ v1.0.146

[2020-04-18 12:42] yimingc2 commented on #206
For issue D, Zeplin is outdated. The current order in the app is correct.

[2020-04-19 03:08] #267 closed

[2020-04-19 03:14] #98 closed

[2020-04-19 03:22] lukesleeman opened #277 "ALS/BLS Modifications Infographic"
Under the ALS/BLS Modifications screen, there is a link to an infographic.  We need to add in the infographic.

It should be this PDF: https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/BLS.modifications.v1.1.3rd.April.pdf

[2020-04-19 03:23] lukesleeman commented on #277
I've moved this over to @marcedwards in design - @marcedwards can you do your magic and convert the PDF into a PNG.  Once thats done, you can move it over to ready for dev

[2020-04-19 03:31] lukesleeman commented on #206
Yep, somehow it slipped between the cracks.  I've got issue #273 to update zeplin

[2020-04-19 05:25] greggmiller commented on #268
I would say:
Agree with A-B

C could be a syringe as it is about having adequate intravenous access 💉

 D Proning/Patient Pre-Manoeuvre/Other - Apply padding to bony prominences 🩹 -> TBC
could be a bed emoji 🛏️

 E Daily Round/B - Breathing/Assessment PAO2? 🩸-> Could both by syringes too as is blood test
 Round/C - Circulation/Assessment Lactate? 🩸-> Same as above syringe would be adequate if allo

[2020-04-19 06:29] lukesleeman commented on #268
Thanks for that!  Moving to ready for dev

[2020-04-20 02:05] #206 closed

[2020-04-20 02:59] workerbee22 commented on #185
Ok the emoji problem I think needs a higher priority. Currently emojis fail because they are not present:
- iOS many emoji are iOS 13.x onwards only
- Android versions also do not have many emoji, and are showing up in the Google Play console reports:

![image](https://user-images.githubusercontent.com/5154664/79709884-b6509c00-8306-11ea-87c3-b6f34ea071c9.png)

[2020-04-20 03:50] workerbee22 commented on #185
So the core problem here is that by default in Text widgets Flutter uses the default emojis supported on the given os platform and its version at runtime. So for the emojis we use in code, they are shown on some devices and not on others.

There are a couple of solutions:
1. The title of this issue ie. move the designs away from emoji based (my personal preferred)
2. Use an emoji font, and change

[2020-04-20 09:56] yimingc2 commented on #268
Based on the comments above,
A => ⚖️
B => 6 (which is a plain number)
D => 🛏️
C, E, F =>  💉
Is that confirmed? Thanks!

[2020-04-20 10:04] workerbee22 commented on #268
Hey team, are we also checking Android version support for these? Because older Android versions have issues still:

See issue [185](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/185) for screenshots of other Android versions with major issues.

Not specifically ICU Cross-skilling/Daily Round, but are we not checking Android prior to version 9?

[2020-04-21 09:46] lukesleeman commented on #268
Yeah, I think we are putting older android versions in the "to hard" basket - it sounds like only a small number of our users will be on android, and some of the older ones have _really_ bad emoji support.

For this issue lets just make the suggested substations, but it seems we do need to find a more permanent solution to the emoji problems

[2020-04-22 02:32] workerbee22 opened #279 "Launch Screen"
When the app starts from a cold start, or from a warm re-start (the os does memory garbage collection when the app is in the background) the app shows a white screen for anywhere from 1 to 4 seconds depending on the speed of the phone before the Home screen or Disclaimer is shown.

Suggest add a launch screen (called launch screen in both Android and iOS) with the centered product icon or other de

[2020-04-22 03:46] joshcase commented on #268
Happy to patch this one

[2020-04-24 23:54] sallychung commented on #268
✅ v1.0.150

![Simulator Screen Shot - iPhone 5s - 2020-04-25 at 09 52 33](https://user-images.githubusercontent.com/12321678/80265360-ac4de500-86da-11ea-9781-69c722e10127.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-25 at 09 52 38](https://user-images.githubusercontent.com/12321678/80265366-b07a0280-86da-11ea-9b84-dd0ccee24dc2.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-25 at 09 52 48

[2020-04-24 23:54] #268 closed

[2020-04-25 00:02] sallychung commented on #199
✅ v.1.0.150

[2020-04-25 00:06] sallychung commented on #43
✅ v.1.0.150

[2020-04-25 00:10] sallychung commented on #36
✅ v1.0.150

[2020-04-25 00:26] sallychung opened #281 "Emoji’s cut off on the bottom"
Emoji’s on the bottom are cut off for some screens.
Looks like it only happens to the last item of the first section if the text doesn’t wrap multiple lines.

Note: Separate issue raised on emoji alignment #282

Affected:
- [ ] **A** Your welfare/The basics 🗞 Limit new Intake
- [ ] **B** Your welfare//Pre-phase 🔥 "Readiness" burnout
- [ ] **C** Your welfare//Core pahse 😵 Distress
- [ ] **D** Your

[2020-04-25 00:34] sallychung opened #282 "Emoji alignments in Your Welfare and Cross Skilling"
Emojis for each cell is not aligned with it’s text.
This affects all screens across You Welfare, Proning and ALS/BLS

Image highlights a few screens that stands out the most.

There’s also a vertical alignment under Proning. ６6 x staff available for proning

![Copy changes 010](https://user-images.githubusercontent.com/12321678/80266615-203ebc00-86e0-11ea-897d-6869bb83ecae.jpeg)

[2020-04-25 00:48] lukesleeman commented on #281
Wow, good catch!  @sallychung is this on on specific devices or font sizes?   I'm looking at it on my pixel 2, with normal font sizes and it looks ok

[2020-04-25 00:51] lukesleeman commented on #237
It sounds like this is something we need to resolve for the Version 1 relese - I'm assigning it to that milestone

[2020-04-25 00:52] sallychung commented on #281
Both on iPhone 6 (iOS 12) and iPhone 8+ (iOS 13)

[2020-04-25 00:56] lukesleeman commented on #241
I'm guessing for the public release we are going to go global?  So I'm guessing we will need this?

Hopefully its just some questions we can answer and options we can turn on?

[2020-04-25 00:58] lukesleeman commented on #185
When chatting to the designers @marcedwards mentioned that the twitter emoji are open source and hopefully would solve the issue:

https://twemoji.twitter.com/

@workerbee22 and @greggmiller I'm unsure if we need this for the V1 release.  What are your thoughts?

[2020-04-25 01:01] lukesleeman commented on #154
Ok, I'm actually moving this over into version 1, since we probably need to give the full set of screens a once over before the first public release

[2020-04-25 01:02] lukesleeman commented on #20
I'm wondering can we close this one off now?

[2020-04-25 01:03] lukesleeman commented on #19
I'm wondering can we close this one off now?

[2020-04-25 01:34] workerbee22 commented on #251
I have an easy fix for this.

[2020-04-25 01:34] workerbee22 commented on #264
Also add analytics tracking of users landing on each tab.

[2020-04-25 01:38] workerbee22 commented on #19
@lukesleeman Prefer not to until we have done one full cycle up to the app stores. There is still quite a bit of work to do here before we have actually published to the App Store ... any many things can still get us rejected.

[2020-04-25 01:38] workerbee22 commented on #20
@lukesleeman Prefer not to until we have done one full cycle up to the app stores. There is still quite a bit of work to do here before we have actually published to Google Play ... any many things can still get us rejected.

[2020-04-25 02:10] workerbee22 commented on #185
@lukesleeman the open source emojis issues seems like lots of hard work. We can do the exact same thing with flutter emoji package much easier. See previous comments.

Why create emoji assets individually when we can just use a flutter package?

[2020-04-25 02:19] workerbee22 commented on #281
Need to move away from emojis as per [issue 185](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/185)

[2020-04-25 02:20] workerbee22 commented on #282
Again need to move away from emojis as per [issue 185](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/185)

[2020-04-25 04:01] lukesleeman commented on #252
After discussing with @greggmiller it seems we will need to add a number of infographics for V1 which have multiple pages, so we will at least need to do mult-page infographics.

[2020-04-25 04:06] lukesleeman opened #284 "Update infographics for Version 1"
@greggmiller Has some updated infographics which need integrating into the app for version 1.

[2020-04-25 04:07] lukesleeman commented on #284
@greggmiller can you provide the updated infographics, and then we will get them integrated into the app

[2020-04-25 04:09] lukesleeman opened #285 "Faded watermark for each page with copy"
@greggmiller has requested that every page with copy have a watermark:

Western health makes no guarantee as to the correctness or applicability of this information in other settings.
©2020 by Western Health Anaesthesia"

[2020-04-25 04:12] lukesleeman commented on #285
@greggmiller Are you able to provide a bit more information about this requirement?  To be honest a watermark on every page seems pretty excessive.

Perhaps with some more information on what we want to achieve we can find a better way to solve the problem?

[2020-04-25 04:19] #285 closed

[2020-04-25 05:34] lukesleeman commented on #285
So based on some discussions this is something that we won't be doing

[2020-04-25 06:26] #164 closed

[2020-04-25 07:53] lukesleeman commented on #252
So, I've moved this one _out_ of the Version 1 milestone.  As we discussed during our call we will just track the new infographics via issue #284 , which will include the multi page infographics.

This issue can remain about breaking up and better formatting infographics to mobile screens

[2020-04-25 07:57] lukesleeman commented on #277
My bad, I didn't realise this one was ready to go!  @rockgecko-development or @yimingc2 do you want to take this one?

[2020-04-25 08:07] yimingc2 commented on #277
I'll pick it up if nobody does after finish my current one.

[2020-04-25 08:22] lukesleeman opened #288 "Home and information screen changes"
There are some modifications that need to be made to the home and information screens to better surface information:

- [x] Add new information section to home screen
- [x] Add phone icon to home screen
- [x] Update information screen, removing items
- [x] Add "last updated date" to the information screen
- [x] Add contributors under the Acknowledgements and references

# Add new information secti

[2020-04-25 08:23] lukesleeman commented on #288
@greggmiller Do you just want to double check I got all this correct, then we can move it over to design?

[2020-04-25 08:27] lukesleeman opened #289 "List all the contributors"
At the moment the Acknowledgements and references screen has this:

![image](https://user-images.githubusercontent.com/902252/80274994-d37bd500-8721-11ea-9cf5-e8becd19a1d1.png)

However it doesn't actually list the names of everybody!  We would like to somehow include the names of all the contributors in the app.

We could possibly put them into the Acknowledgements and References screen.  Another

[2020-04-25 08:48] lukesleeman commented on #241
During our call we agreed that I would try and progress this one, hopefully with @maks helping out 👍

[2020-04-25 09:45] lukesleeman opened #290 "Update app copy"
@greggmiller Needs to go through and do a bunch of minor copy updates to most of the screens in the app.  As Gregg can write Flutter code, this will be a DIY job 🙂

This issue is to track his progress:

- [x] Home screen button text
- [x] PPE Technique
- [x] Your welfare
- [x] Airway intubation guide
- [x] Intubation guide (including updating emoji)
- [x] Intubation checklist
- [x] Extubation guid

[2020-04-25 09:57] lukesleeman opened #291 "Phone links on each screen"
The original intention was that each screen would have a phone icon in the top right corner.  Tapping the phone icon would bring up a confirm dialog saying who you were about to call - you then tap "Yes" and you can make a call direct to the appropriate person at WH.

The idea was each screen would have a different number, associated with the person or department who was responsible and knowledgea

[2020-04-25 09:57] lukesleeman commented on #291
Just tagging @workerbee22 on this one, as we discussed it on todays call

[2020-04-25 10:07] #264 closed

[2020-04-25 12:23] yimingc2 commented on #282
The space seems to be built into the font. It only happens for emoji but not the text.
This might be related: https://github.com/flutter/flutter/issues/28894

<img width="361" alt="Screen Shot 2020-04-25 at 10 19 31 pm" src="https://user-images.githubusercontent.com/14011195/80279788-0d110800-8743-11ea-9f7b-e5fbfb177e4d.png">

It's properly aligned on Android though. I don't know what the solution

[2020-04-25 12:38] yimingc2 commented on #281
This might also relate to
https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/282

When I press the phone icon and then navigate back, the bottom is not cut off. Also when I'm in Dart dev tool "select widget mode", it displays properly.

@workerbee22 , I don't know if this is a flutter bug. Thinking if it can be an easy fix, we go for it otherwise leave it as it is, as it

[2020-04-25 23:54] cjmlgrto commented on #288
Here's a pass at the design based on the requirements for now — can update after @greggmiller double-checks the info above.

## Updated - Main Screen

![Main](https://user-images.githubusercontent.com/1712450/80293479-1336d100-87a3-11ea-9e54-bd3a0fcfab7a.png)

* A new section called "Resources" is added under "ICU"
* A phone button has been added in the app's top Navigation/App Bar

## Added - Res

[2020-04-25 23:56] cjmlgrto commented on #289
I was originally hesitant at first to add the "Contributors" inside the app because it sounds tedious having to manually update that list every time a new volunteer for the project rolls in. It'd be great if this could be automated somehow 🤔

## Updated - Information Screen

![Info](https://user-images.githubusercontent.com/1712450/80293511-5a24c680-87a3-11ea-9cae-31774b86e5fe.png)

* Much more co

[2020-04-26 00:10] greggmiller commented on #288
This looks great Carlos 👍 💯

[2020-04-26 00:16] kimngyn commented on #288
It looks very nice @cjmlgrto 🤩 great work!

[2020-04-26 00:20] cjmlgrto commented on #273
Done and done.

![Updated PPE](https://user-images.githubusercontent.com/1712450/80293938-73c80d00-87a7-11ea-8eff-a123795e80bd.png)

[2020-04-26 00:20] #273 closed

[2020-04-26 00:26] cjmlgrto commented on #279
Here's the design for that— [Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5ea4d4ac42591a23572ef3de)

![Launch Screen Image](https://user-images.githubusercontent.com/1712450/80293994-4760c080-87a8-11ea-8f9d-69d9f6c6a63d.png)

Ideally, this screen is built out — not a static image. That way, the logo would resize/position accordingly and align to the logo when the M

[2020-04-26 00:58] workerbee22 opened #293 "Flutter change to stable channel"
Currently we are using flutter v1.15.17, which is a previous beta channel version, but not the current beta channel version. We use this for CI and developer builds. So we are essentially now on an 'uncommon' version of Flutter.

To ensure the least number of ongoing issues (including with the various packages we use) recommend we move to the stable channel version of Flutter. The stable channel g

[2020-04-26 01:11] workerbee22 commented on #281
@yimingc2 Yep seeing the same behaviour ie. it does render correctly for a given emoji sometimes but not others.

So yep on iPhone 6 with iOS v12.4.6 (latest v12 release) emoji cut off:

![image](https://user-images.githubusercontent.com/5154664/80294631-197e7a80-87ae-11ea-9b53-427928168323.png)

But does render correctly in a debug paint, with the containing widget allowing for the height of the

[2020-04-26 01:19] workerbee22 commented on #281
@yimingc2 My guess is it is a flutter bug. Perhaps upgrade you flutter locally to say v1.17 (latest beta channel) and see if we still have the issue on iOS with emojis cut off.

[2020-04-26 01:21] lukesleeman commented on #273
Great stuff 😄

[2020-04-26 01:23] lukesleeman commented on #279
Nice work ✨   I've moved this over to ready for dev 🙂

[2020-04-26 01:25] lukesleeman commented on #289
As we have designs, I'm going to close this issue and just wrap all the changes into issue #288 🙂

[2020-04-26 01:26] #289 closed

[2020-04-26 01:30] workerbee22 commented on #279
So just to be clear, this Launch screen is shown by the platform and is before Flutter framework has loaded. So this means we build it twice; once for iOS and once for Android. To 'build it out' we've have to do thi sin native ie. Swift/C# and Java/Kotlin.

Suggest we move out of Version 1 milestone or go for something simpler for Version 1 where we just use an image (vector or PNG). Often the lau

[2020-04-26 01:31] lukesleeman commented on #288
Amazing!  I've moved this over to ready for dev!

[2020-04-26 01:31] workerbee22 commented on #279
@lukesleeman So I removed 'Ready for Dev' tag for now.

[2020-04-26 01:34] workerbee22 commented on #288
Looks good @cjmlgrto ...very on brand 👍But can I suggest separate Acknowledgemets and References into separate screens ? It seems a bit long and is mixing the content types when combined?

[2020-04-26 01:42] cjmlgrto commented on #288
You’re right @workerbee22 — I might break out References into its own screen

[2020-04-26 03:18] yimingc2 commented on #281
Hi @workerbee22 , I've tried v1.17 but it still doesn't help. One way to "dirty" fix it is to increase the font size from 17 to 22 so that the emoji bottom will not bu cut off.

Also, after increase the title size, the issue of alignment is not that obvious......I know this bit hacky

<img width="410" alt="Screen Shot 2020-04-26 at 1 13 56 pm" src="https://user-images.githubusercontent.com/1401119

[2020-04-26 03:33] maks commented on #282
I'd agree, given we have great designers helping us, using actual icons would be much better

[2020-04-26 05:07] yimingc2 commented on #288
Hey @cjmlgrto, the background color of the WH Definitive Resource is #purple500 (158 118 161) as described in Zeplin while in the codebase our purple500 is (139, 81, 144) which is much darker than Zeplin. Well I think I'll just update the codebase to be the correct rgb.

[2020-04-26 05:17] yimingc2 commented on #288
And also, regarding to the new Additional Resources Page, we don't have Header Text style with **white color** at the moment in the design and codebase so I'll leave it as black which is `textH4` in the codebase.

[2020-04-26 05:50] cjmlgrto commented on #288
@yimingc2 yeah, I’ve decided to change purple500 to be a much lighter color. Please change it theme color in the code base so it updates everywhere 😄

Also, is there no way to override textH4 to be white just for this screen? 🤔

[2020-04-26 06:29] yimingc2 commented on #288
Technically this is not difficult. Do you think we should make this as a style or put it inline in the code? Something like `textH4Dark` and `textH4Light`

[2020-04-26 08:33] workerbee22 commented on #279
Like the new government Covid Safe app we should consider the Launch screen along with the Onboarding screens, Disclaimer etc. Because it is all part of app startup and first run ... so we need to make sure this is a completely smooth experience.

[2020-04-26 08:35] workerbee22 commented on #251
Additionally, once played to the end, the videos do not re-show the controls:

![image](https://user-images.githubusercontent.com/5154664/80302317-a6482900-87ec-11ea-9a1a-9b658a89df9c.png)

[2020-04-26 08:36] workerbee22 commented on #196
Will retest when move to Flutter stable v1.17 as part of [issue 293](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/293)

[2020-04-26 08:38] workerbee22 commented on #20
Currently preparing documentation so the @greggmiller and Western Health can confirm final app store listing information.

[2020-04-26 08:38] workerbee22 commented on #19
Currently preparing documentation so the @greggmiller and Western Health can confirm final app store listing information.

[2020-04-27 01:59] #277 closed

[2020-04-27 07:06] greggmiller commented on #290
First part of this patched in #296

More to follow for changes to Intubation guideline later/tomorrow. 👍

[2020-04-27 07:11] greggmiller opened #297 "Updated infographic for Intubation checklist"
https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/WHIntubationTeamGuidelinesv6.pdf

Hi @Western-Health-Covid19-Collaboration/designers
Page 9 (Appendix 2) is new image required required for Intubation Checklist.

[2020-04-27 07:33] #281 closed

[2020-04-27 07:33] #282 closed

[2020-04-27 09:57] lukesleeman commented on #288
I'm not a flutter expert, but good software engineering say:  Make it a style so we can reference it everywhere and change it in one place 🙂

@cjmlgrto With splitting the "References" and "Acknowledgements" into two difference screens, is this something you wanted to do in zeplin?  Or should we just go ahead and develop it, then you can update zeplin later?

[2020-04-27 09:58] lukesleeman commented on #288
Also @yimingc2 when you implement this, be aware that @greggmiller has already make some copy changes to the homescreen as part of:

https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/292
https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/296

Don't overwrite Greggs work :-)

[2020-04-27 10:01] lukesleeman commented on #279
Yep, this is fine.  This issue isn't part of V1 and can just sit in the backlog until after V1 ships.

With building out the native android version - I used to be pretty good at this, and I've got some ideas on how we can do it and support a bunch of difference screen sizes 😁

Hit me up when we implement!

[2020-04-27 10:13] workerbee22 commented on #279
Cool ... we can do images easy, but if we want something flashy then its
vector drawables or Java/Kotlin code.

But be aware there are some platform specific issues here too and if we do
something flashy then someone will have to to it in Swift too. 🤣

On Mon, 27 Apr 2020, 8:01 pm Luke Sleeman, <notifications@github.com> wrote:

[2020-04-27 10:39] #297 closed

[2020-04-27 10:41] lukesleeman commented on #284
Just FYI, whoever takes this will need to work on dealing with multiple page infographics - during the call we decided to handle them like a normal PDF viewer - eg, page 2 just appears vertically after page1, etc

[2020-04-27 11:38] sallychung commented on #206
✅ v1.0.160

![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 36 36](https://user-images.githubusercontent.com/12321678/80368001-6017c600-88cf-11ea-91a7-24e8bc0d2a1a.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 37 05](https://user-images.githubusercontent.com/12321678/80368010-6443e380-88cf-11ea-8a37-fdc0fd00b049.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 37 10

[2020-04-27 11:39] sallychung commented on #267
✅ v1.0.160

![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 38 53](https://user-images.githubusercontent.com/12321678/80368092-863d6600-88cf-11ea-8cd1-a36ef138b645.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 39 01](https://user-images.githubusercontent.com/12321678/80368102-89d0ed00-88cf-11ea-9310-5c8ac88cfe2b.png)

[2020-04-27 11:44] sallychung commented on #282
✅ v1.0.160

![IMG_0076](https://user-images.githubusercontent.com/12321678/80368551-4165ff00-88d0-11ea-8b3a-651f423ebfce.PNG)
![IMG_0077](https://user-images.githubusercontent.com/12321678/80368555-42972c00-88d0-11ea-9846-296d1f279860.PNG)

[2020-04-27 11:46] sallychung commented on #277
✅ v1.0.160

![IMG_9DFC7F9F0301-1](https://user-images.githubusercontent.com/12321678/80368744-8be77b80-88d0-11ea-887a-07399547f417.jpeg)

[2020-04-27 11:47] sallychung commented on #281
✅ v1.0.160

![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 46 49](https://user-images.githubusercontent.com/12321678/80368845-b89b9300-88d0-11ea-92d3-ad55ebb8e0b0.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 46 52](https://user-images.githubusercontent.com/12321678/80368854-bc2f1a00-88d0-11ea-9ecf-440f5aa7d21e.png)
![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 46 56

[2020-04-27 11:48] sallychung commented on #264
✅ v1.0.160

[2020-04-27 11:49] sallychung commented on #297
✅ v1.0.160

![IMG_9DFC7F9F0301-1](https://user-images.githubusercontent.com/12321678/80369005-ebde2200-88d0-11ea-8692-dfb7b10031e8.jpeg)

[2020-04-27 11:50] sallychung commented on #164
✅ v1.0.160

![Simulator Screen Shot - iPhone 5s - 2020-04-27 at 21 49 59](https://user-images.githubusercontent.com/12321678/80369113-116b2b80-88d1-11ea-9801-33df1905b19d.png)

[2020-04-28 06:36] workerbee22 commented on #241
Firebase project GDPR sectio we need to complete is this. So unless Western Health has an existing Privacy Officer, then suggest @greggmiller is best placed to be the nominated person?

![image](https://user-images.githubusercontent.com/5154664/80454958-39f53300-896e-11ea-8b47-80612abae315.png)

[2020-04-28 09:23] lukesleeman commented on #241
It seems for sentry somebody needs to login and accept something called the DPA:
https://sentry.io/security/

[2020-04-28 12:15] lukesleeman commented on #241
# Summary
So, after doing a bunch of research, I believe the following approach should be suitable:

1. Build a settings screen, under the info icon, that:
   a. Clearly explains what data we gather and why.
   b. Provides a switch that disables analytics and Sentry.
2. Modify the disclaimer, so that under the "Please keep in mind section" it says: "WAC19 gathers analytics and crash data which is

[2020-04-28 12:22] lukesleeman commented on #241
✅ I've reviewed the privacy policy on the WH website, which we comply with.

[2020-04-28 12:39] lukesleeman opened #300 "Fill out the GDPR section in the firebase project and the DPA section in sentry."
In the firebase project there is a GDPR section, where we need to nominate a data protection officer

![image](https://user-images.githubusercontent.com/5154664/80454958-39f53300-896e-11ea-8b47-80612abae315.png)

Sentry somebody needs to login and accept something called the DPA:
https://sentry.io/security/

Unless Western Health has an existing Privacy Officer, we suggest @greggmiller is best pla

[2020-04-28 12:40] lukesleeman commented on #300
I've assigned this issue over for @greggmiller and @workerbee22 to complete - it should only be 10 min to log into the two websites and click the buttons

[2020-04-28 12:46] lukesleeman opened #301 "Build settings screen which explains what data we gather and allows opt out"
As part of our push to Make app GDPR compliant + better inform our users about what data is gathered  ( #241 ) we need to build a settings screen, under the info icon, that clearly explains what data we gather, what its used for and provides a switch to opt out.   The opt out switch will disables analytics and Sentry.

In terms of what we gather and why:

- Analytics on how the users are using the

[2020-04-28 12:59] lukesleeman commented on #237
When we are updating the disclaimer, we need to modify the disclaimer, so that under the "Please keep in mind section" it says: "WAC19 gathers analytics and crash data which is used to improve the app. For more information and to opt out, go to information > settings"

The build out of the settings screen is being tracked as part of #301

[2020-04-28 22:18] maks commented on #241
Excellent job @lukesleeman !
Likewise for Sentry error reporting we are not collecting or sending any user personally identifiable information and only limited device information as can be seen here:

![Screenshot from 2020-04-29 08-15-34](https://user-images.githubusercontent.com/71999/80543292-ecbaa500-89f1-11ea-9b9c-31634ecc87a0.png)

[2020-04-29 08:36] lukesleeman commented on #288
@cjmlgrto I'm looking and I can see the resources section, but not the updated main screen - am I missing something?

[2020-04-29 11:51] cjmlgrto commented on #301
And here's the design for that [on Zeplin](https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e759a2469655666b6e39917) 😄

![Privacy](https://user-images.githubusercontent.com/1712450/80593762-1660e400-8a65-11ea-8118-707402c1f204.png)

Also heads up, the spacing between the tiles on the parent Information screen on the left has been updated to be `8pts` so it's consistent with t

[2020-04-29 22:56] workerbee22 commented on #301
Just a thought .... if we are going to call the page Privacy we should really provide all of the privacy information. At the moment we are using the following link on the app stores as the Privacy Policy:

http://www.westernhealth.org.au/PatientsandVisitors/Medical_Records/Pages/default.aspx

So it just seems we should add that to the page? Because without it ... seems 'incomplete' ?

[2020-04-30 00:12] workerbee22 commented on #301
Suggest we should tweak the wording a bit too to future proof it and make it shorter and more direct, something like:

The app gathers general usage information to help improve the app via analytics and crash & error reporting. No personal identifiable information is gathered and you can opt out of analytics and error & crash reporting at any time.

Analytics, crash & error reporting collection BU

[2020-04-30 02:26] workerbee22 commented on #301
Also thinking .... title of the switch and the switch at the top of a card? With explanatory text underneath it (but on the same card) in grey? Seems weird to have just text on a separate card?

This would match @rockgecko-development s subtitle for Page x of y o the infographic screens and the sub titles at the bottom of the cards on the home screen.

Something like this:

![image](https://user-i

[2020-04-30 02:28] workerbee22 commented on #293
Next Flutter stable channel delayed until week beginning Mon 4th May.

[2020-04-30 03:05] lukesleeman commented on #301
👋 Hey, just wanted to get @cjmlgrto's thoughts on the design changes proposed by @workerbee22

With the copy that mike suggested:

I'm generally happy with that, though I would like to specifically mention that we use google analytics and sentry, with links off to them, so that people can make up their own minds.  Some people may have strong feelings about google as a company for example, where as

[2020-04-30 03:08] workerbee22 commented on #301
To be honest I disagree. I think the specific product being used is an unnecessary distraction ... and I don't see any other apps doing that? But if we decide to keep them, we have analytics events for all links used throughout the app (unless turned off with this switch 🤣) so we'll know if anyone clicks on them.

[2020-04-30 03:27] workerbee22 opened #303 "Stores Image Assets"
We need some Apple App Store and Google Play store listing assets for the app. Would be nice to have a perspective view of app o device frame, but either way need some design work on there. For example, COVIDSafe app image assets:

- Google Play - 3 x Android phone assets in portrait, with the option for more
- App Store - 3 app previews + 10 screenshots in portrait, with the option for more

![im

[2020-04-30 03:29] workerbee22 opened #304 "Stores Support web page"
App Store and Google Play require  a webite / support page. We could just provide the WH web site, but that seems unhelpful for users.

http://www.westernhealth.org.au/

Commonly these basic support webssites have a list of FAQ type questions and answers about the app.

[2020-04-30 03:57] workerbee22 opened #305 "Button Behaviour Inconsistencies"
Behaviour on tap varies and is not consistent across the app. Key example are home screen shere call icon shows a ripple on pressed, but information has no on pressed feedback at all.

![image](https://user-images.githubusercontent.com/5154664/80670221-a9436200-8ae9-11ea-9750-bd8f204e3c4f.png)

[2020-04-30 04:01] workerbee22 opened #306 "Scrollbars on Vertical Scroll"
We have vertical scroll only on the Disclaimer screen at the moment, but many other scrolling content screens. Note the scroll bar only appears if the screen is scrolled and does not fit on the screen for the device at runtime.

This is really a design decision. Do we want this? If so in which cases?

[2020-04-30 05:01] workerbee22 opened #307 "Android Returning from any Url Sets Nav bar icons to white"
On Android, for any and all urls, when returning to the app from a url, results in the returned screen nav bar icons being white. On some Android versions (ie. v8.x) this results in white on white nav bar, other Android versions (ie. v10.x) results in white on grey nav bar as system adapts. Expected result is the app nav and status bar themes ie. currently dark icons on white background.

Android

[2020-04-30 08:27] lukesleeman commented on #307
Yeah, I have noticed this as well!  👏 great job on getting it into the issue tracker and figuring out how to reproduce it.

Do you think we need to address this for V1?

[2020-04-30 08:29] lukesleeman commented on #306
🤔 Is this an issue on android?  Just playing around with the app on android things have felt right with regards to scrolling.  One thing I do notice is sometimes the glow effect is clipped off.

Also:  Do we need this for V1?

[2020-04-30 08:33] lukesleeman commented on #304
I think perhaps just hosting using github pages might be a good idea.  Josh Case has said he is interested in taking this on.  I think the main thing will just to be to get the URL in time for V1 with _something_ at that address, then we can build it out and enhance it.

[2020-04-30 08:34] lukesleeman commented on #303
Is this something one of the @Western-Health-Covid19-Collaboration/designers can pick up?

[2020-04-30 08:43] cjmlgrto commented on #301
@lukesleeman / @workerbee22 — updated based on the above discussion:

![Simpler](https://user-images.githubusercontent.com/1712450/80690657-7792c100-8b12-11ea-97b3-87f22bc5a43d.png)

Much simpler.

[2020-04-30 08:55] workerbee22 commented on #306
We can hold it off for v1 but it is super easy.

The only place we should probably put a scroll bar is where there is a long continuous piece of content that usually scrolls ... like disclaimer, perhaps multipage infographics anything else? Its literally 1 line of code.

[2020-04-30 08:56] workerbee22 commented on #307
Optional for v1 ... it just bugs me and I think easy fix.

[2020-04-30 09:24] lukesleeman commented on #301
I see @workerbee22 has given the 👍   - does this mean we are good to go?

[2020-04-30 09:25] lukesleeman commented on #306
Cool, I'll leave off the V1 milestone for this, since its not a blocker, but if we can get it done before we ship, great 👍

[2020-04-30 09:36] workerbee22 commented on #301
Yep ok let's go with that ... is Ready for Dev. Because it is also a little tricky as the setting needs to be stored, but read from storage before the app starts and we assign sentry to trap Flutter errors ... so there is a bit of app restructuring to do for app startup.

[2020-04-30 10:44] workerbee22 commented on #293
In call agreed to postpone this until after Version 1 iss released.

[2020-04-30 11:03] lukesleeman commented on #301
Moving over to ready for dev!  As discussed in tonights call we will assign this one over to @workerbee22 as its actually got a few tricky architectural things to disable sentry.

[2020-04-30 11:26] lukesleeman commented on #303
Its sounds like @marcedwards is handling this one, so I'm assigning to him 🙂. Thanks Marc!

[2020-04-30 12:04] marcedwards commented on #303
Not a problem. I can do it. I think the first step might be to decide which screens should be featured, and work out the accompanying text.

[2020-04-30 12:22] lukesleeman commented on #204
I'm seeing this in Android as well.  I'm wondering if its something fundamentally wrong with the flutter widgets.  I think if this isn't something we easily fix, the best solution might be to just open a bug with upstream and live with it.

[2020-04-30 12:26] lukesleeman commented on #88
I'm closing this issue - the Proning section is complete, and the video is tracked by another issue

[2020-04-30 12:40] lukesleeman commented on #305
I checked out all our toolbar buttons and its only the info icon which doesn't have the ripple - everywhere else seems to have it properly.

Since it seemed simple, I produced a small fix!

[2020-05-01 07:30] lukesleeman commented on #303
Yeah, happy to go with both your and @workerbee22 suggestions on which screens are the best ones to feature and what has the most ✨

[2020-05-01 07:59] workerbee22 commented on #303
Perhaps these screens screens 'look' the best/most interesting? But really @greggmiller should decide.

- Home
- PPE step-by-step
- Your Welfare
- Ventilation
- Additional Resources

[2020-05-01 12:36] marcedwards commented on #303
That list looks great, and I agree the final call should be @greggmiller’s!

[2020-05-01 23:58] workerbee22 commented on #237
@greggmiller is currently working through a document for app content (like disclaimer) and the app store listings. The goal is to get the right content in the right places.

[2020-05-02 00:36] workerbee22 commented on #251
Moving this to milestone Version 1.1 ... as I'd recommend moving away from **chewie** as the video player to the first party plugin **video_player**. It doesn't have as much control via its controller that I'd like. It also throws lots of platform warnings on Android and iOS that are concerning.

[2020-05-02 00:42] workerbee22 commented on #204
@sallychung and @lukesleeman watched the video and tried again and I can no longer replicate this issue on later versions.

Can you pleas re-test, but note the swipe up won't work until the tab transition is complete.

But I'm not seeing the swipe up causing mid tab transition, being mistaken for a horizontal gesture anymore.

So I'm also changing to Version 1.1 milestone at this stage, so even if

[2020-05-02 00:49] lukesleeman commented on #204
Yeah, I think we are fine to tag this v1.1

Perhaps it may be fixed by the flutter version upgrade?

[2020-05-02 00:54] workerbee22 commented on #204
Seems to be gone already ... but look more closely for 1.1

On Sat, 2 May 2020, 10:49 am Luke Sleeman, <notifications@github.com> wrote:

[2020-05-02 07:30] workerbee22 commented on #291
Even if we can't have specific numbers for specific screens, a call button might:

- present common numbers for user selection
- user selects the number and it is called

This just means keeping phone numbers as static data in the app, or scraping the web page we currently hit.

[2020-05-02 09:22] lukesleeman commented on #305
Based off what @workerbee22 has said, we can close this one off now

[2020-05-02 09:22] #305 closed

[2020-05-02 09:26] lukesleeman commented on #304
@joshcase I've assigned you to this issue - I'll create the basic repo tonight with a "hello world" file in it, then you can take over.

We can use github pages https://pages.github.com

[2020-05-02 09:40] lukesleeman commented on #288
Looks like we still have to put a "last updated date" on the information screen.  This can be the time the build was produced.  @yimingc2 do you know how to implement this, or will you need some help from @workerbee22  ?

[2020-05-02 11:36] lukesleeman opened #313 "Additional ICU screens"
@greggmiller has a few new ICU screens which need to be added.  Apparently they are fairly straightforward to create so @greggmiller will just have a crack at creating them himself.

This issue is to track the creation and testing of the new screens.

[2020-05-02 12:52] yimingc2 opened #314 "Inconsistent gaps and margins on Home Screen"
On our home screen, some of the gaps are inconsitent.
- Horizontal gaps in ICU and Resources sections are bigger than the Airway section.
- For ICU section, its head title is not lined up with its cards.

![Simulator Screen Shot - iPhone 11 Pro - 2020-05-02 at 22 48 16](https://user-images.githubusercontent.com/14011195/80864696-9d14fb80-8cc7-11ea-95f3-d8c0dfdc6a46.png)

[2020-05-02 12:54] lukesleeman commented on #237
I'm making the updates as part of this PR: https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/315

[2020-05-02 13:21] lukesleeman commented on #304
Our URL is now https://western-health-covid19-collaboration.github.io

@joshcase I'll add you to the repository - you can take things from here 🙂

[2020-05-03 00:38] joshcase commented on #304
Thank you Luke, I'm on this now.

[2020-05-03 02:09] greggmiller commented on #284
For Intubation Guide PDF tertiary button
[Intubation_Guide_Infographics_Multipage.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4569501/Intubation_Guide_Infographics_Multipage.pdf)

@Western-Health-Covid19-Collaboration/designers I think maybe @marcedwards was going to take a look?

[2020-05-03 02:16] greggmiller commented on #284
Similar for extubation...

[Extubation_Guide_Infographics_Multipage_3rdMay.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4569506/Extubation_Guide_Infographics_Multipage_3rdMay.pdf)

[2020-05-03 02:41] joshcase commented on #304
Happy with where this is at for now. Link: https://western-health-covid19-collaboration.github.io

@greggmiller Are you happy to double check the answer to the "Are you credible?" question? Any further comments you want to add?

Welcome content additions or phrasing changes from anyone.

Also happy for @Western-Health-Covid19-Collaboration/designers to get involved if they want however I expect th

[2020-05-03 03:51] lukesleeman commented on #284
@greggmiller I assume you want all the pages from these PDFs?

[2020-05-03 03:53] lukesleeman commented on #304
Wow @joshcase , it looks amazing!

[2020-05-03 04:34] sallychung commented on #305
✅ v1.0.168

Seeing the ripple effect on both buttons

[2020-05-03 04:55] marcedwards commented on #304
@joshcase Awesome stuff!

[2020-05-03 05:18] sallychung commented on #154
### Home
- [x] Disclaimer (first install)
- [x] Main Screen
- [x] Information
	- [x] App Feedback
	- [x] Disclaimer & Conditions of Use
	- [x] Acknowledgements
	- [x] References
		- [x] Safe Airway Society
		- [x] Intensive Care Society
		- [x] Australian New Zealand Intensive Care Society
		- [x] Western Health Department of Anaesthesia
		- [x] Western Health Novel Coronavirus Information
		- [x]

[2020-05-03 06:01] sallychung commented on #154
Draft: These are notes I took while testing. As the Zeplin files no longer match some of the screens, I’ve focused on UI more than the copy.

All
 - Tables with cells. Bottom margins from text content needs to be smaller
 - Tables with cells with list of emojis. Each line item needs a smaller margin in between
 - Section titles needs to have slightly bigger gap below text

Information
- Made by lo

[2020-05-03 06:51] greggmiller commented on #284
Yes please 👍

[2020-05-03 10:24] workerbee22 commented on #304
@joshcase  looks really nice ... def on brand.

Perhaps check on a mobile screen to make sure it is readable? Because its mostly going to be viewed on mobile. So thinking those white content cards can be wider to allow bigger fonts?

[2020-05-03 10:31] lukesleeman commented on #304
Looks great, we are closing down this issue 👍👏

[2020-05-03 11:31] lukesleeman commented on #284
@marcedwards - during tonights call we had some discussion about the current PNGs we are embedding in the app - we have had a lot of trouble trying to get multiple pages ( see all the comments on this PR: https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/302 )

@rockgecko-development managed to find a way to embed PDFs directly in the app, do it turns out we no longer nee

[2020-05-03 11:55] lukesleeman opened #319 "Discoverability of PDF button"
Where there is an associated infographic, its is usually accessed by a PDF button in the right of the screens toolbar

<img width="376" alt="image" src="https://user-images.githubusercontent.com/902252/80913360-643c5b80-8d87-11ea-8e45-e37463bb6a00.png">

Unfortunately the PDF button is not very discoverable - a lot of users miss it.  We should look at approaches to make the infographics more disco

[2020-05-03 12:02] lukesleeman commented on #154
Thanks for the great work @sallychung !

What would you like us to do with this issue? Did you want to keep it open against the Beta 3 milestone?  Or is the work for this issue done?

[2020-05-03 12:05] sallychung commented on #154
There are varying levels of issues I think we should fix vs ones that could be left for later.

AFAIK, most of these aren’t yet captured but I wanted to also double check that.

I could highlight the ones I’d recommend fixing for release?

[2020-05-03 12:40] lukesleeman commented on #154
👍 That sounds like a good plan

[2020-05-04 03:03] marcedwards commented on #284
Ok, great!

[2020-05-04 03:25] marcedwards commented on #284
If we want to trim the PDFs down to remove unneeded pages, or crop out certain details, I can help with that.

[2020-05-04 06:12] greggmiller commented on #290
#320 for new items to ICU quick training

[2020-05-04 06:12] greggmiller commented on #313
PR in for this #320

[2020-05-04 06:17] greggmiller commented on #304
Hi @joshcase this looks great. Thanks for dedicating the time to this. Could I recommend a couple of copy changes? In the credible section could you add something along the lines of "Each section is informally peer-reviewed by other specialists within anaesthesia and intensive care to ensure at the time of writing they comply with both Western Health guidelines and nationally recognized standards"

[2020-05-04 06:20] greggmiller commented on #304
Also @joshcase maybe change "brainchild" to "The idea of WHAC19 was conceived by..."
Hope that's alright 👍

[2020-05-04 09:25] lukesleeman commented on #304
I've re-opened this issue so we can address @greggmiller's comments

[2020-05-04 10:25] lukesleeman opened #321 "Convert all infographics to PDF"
We now support rendering PDF documents directly in the app.  This means we can replace our current PNG based infographics with the original source infographics.

All the originals should be in: https://github.com/Western-Health-Covid19-Collaboration/source-documents

# Infographics that need replacing:
- [ ] PPE donning
- [ ] PPE doffing method 1
- [ ] PPE doffing method 2
- [ ] Intubation checkli

[2020-05-04 11:24] sallychung opened #322 "ICU cell bottom margins too large"
This margin mismatch seems to only affect sections under ICU. ie, Ventilation, Daily Round, Proning... etc

The bottom margin is a lot larger than the top.

![Copy changes 011](https://user-images.githubusercontent.com/12321678/80961043-6c5ece80-8e4d-11ea-8338-c8ba1c9aba9a.jpeg)

[2020-05-04 11:29] sallychung opened #323 "Disclaimer margin and text colour"
All text under this sections needs to be black. This is more obvious on iPad as the extra white space makes it can be harder to read for those that are visually challenged (me 🤓)

Margins also needs to be tightened up. I’ve highlighted one example showing headings and content having margins that much larger than what’s in Zeplin. (Note that Zeplin’s scale is different but the proportions still are

[2020-05-04 11:29] sallychung commented on #154
I’ve created 2 issues that I think are worth fixing for release

#322 - Bottom cell margins in ICU sections needs to be smaller
#323 - Fix up Disclaimer text colour and margin

[2020-05-04 11:34] #314 closed

[2020-05-04 13:07] lukesleeman opened #325 "Padding in various pages broken"
There are a number of pages where the padding seems broken:

![image](https://user-images.githubusercontent.com/902252/80968723-cb2b4480-8e5b-11ea-9075-34f60387f19e.png)

![image](https://user-images.githubusercontent.com/902252/80968776-e1d19b80-8e5b-11ea-8ae7-e2e4d9b0e2b6.png)

![image](https://user-images.githubusercontent.com/902252/80968787-e72ee600-8e5b-11ea-8ba0-ee29b4a8591c.png)

![image](

[2020-05-05 07:04] workerbee22 commented on #301
So this is done and working. Feel free to checkout this PR branch. and test.

Still WIP because discussing implementation details with @maks and @rockgecko-development because it sets a kind of precedent for future changes. So want their agreement before I finish it.

[2020-05-05 07:09] workerbee22 commented on #300
@greggmiller can you please confirm the detail for you as the **Data Protection Officer** ? That is these fields:

![image](https://user-images.githubusercontent.com/5154664/81042215-f90f9800-8ef2-11ea-80da-ad7481d13363.png)

@maks Not sure I have the Sentry console access, are yuo able to do same for Sentry?

[2020-05-05 08:29] joshcase commented on #304
Thanks all!

Sounds reasonable @greggmiller. Have pushed the changes as per Gregg's comments. Will close this issue now - but am happy to be contacted if people want me to make content changes on their behalf.

[2020-05-05 08:29] #304 closed

[2020-05-05 10:44] sallychung commented on #325
Additional screens affected which I’ve starred

- [ ] Information *
- [ ] References *
- [ ] PPE
- [ ] WH resources
- [ ] Additional resources
- [ ] Quick ICU training

[2020-05-06 10:01] #325 closed

[2020-05-06 10:04] lukesleeman commented on #154
Thanks for all your help on this @sallychung  - now we have everything in the audit ticked off, should I close this issue, or move it against a different version?

[2020-05-06 10:17] lukesleeman commented on #313
As gregs PR is now merged, I'm closing this out and moving over to QA

[2020-05-06 10:17] #313 closed

[2020-05-06 10:35] maks opened #327 "need to use DI for app architecture"
Currently there a number of classes using static methods that make dependent classes pretty much impossible to unit test properly as its not possible to stub/mock statid methods [sic].

Need to refactor the app architecture to make use of Provider along wiht som simple manual constructor dependency injection to use DI instead.

[2020-05-06 10:47] lukesleeman commented on #288
Just recording some implementation hints we got:

![image](https://user-images.githubusercontent.com/902252/81168622-af9a7800-8fda-11ea-873d-de83660d5a7e.png)

[2020-05-06 10:52] workerbee22 commented on #327
@maks this is not really a 'need' and not impossible to test. Being able to unit, widget and integration test a flutter app does not require DI. Depending on the work involved, I'd suggest we defer this (like we have several other key architectural changes) until after version 1. Major re-architecting at this point will probably blow our agreed goal of Version 1 to stores this weekend.

[2020-05-06 11:05] sallychung commented on #154
Yeah, let’s close this off. We can create a new one if we need to do it again 🙂

[2020-05-06 11:05] #154 closed

[2020-05-07 03:21] greggmiller opened #331 "Update P1 of Infographic in intubation Guide"
After peer review, page 1 of 8 page infographics for intubation guideline requires to be changed.
I have attached a screenshot of image to replace it with.
This image is a section of Page 5 of attached source document
https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/WHIntubationTeamGuidelinesV9.pdf

I can make this change through screenshotting and then amending

[2020-05-07 05:43] greggmiller commented on #300
@workerbee22 has all the relevant information, so we can close this one now? @lukesleeman

[2020-05-07 09:53] lukesleeman commented on #331
Intresting.  Is there not just an updated version of the PDF that contains the new image?

[2020-05-07 10:01] greggmiller commented on #331
No, its a bizarre situation where the society that makes the infographic has it different to our guidelines so we have hacked at it to change the colour of runner 1.

Anyway I think @marcedwards is on it 👍

[2020-05-07 10:07] marcedwards commented on #331
So far, I’m not having much luck wrangling the PDF. Is it possible whoever created the original could make the changes needed? If that’s not an option, we’ll find another way.

![pdf](https://user-images.githubusercontent.com/1121547/81282285-4bd98300-909e-11ea-9087-fc9cae959224.png)

[2020-05-07 10:49] sallychung commented on #289
✅ v1.0.173

[2020-05-07 11:13] sallychung commented on #313
This isn’t on Zeplin so I’m comparing I purely against the PR
✅ v1.0.173

[2020-05-07 11:16] lukesleeman commented on #303
Just an update on time frames @marcedwards  - we are thinking we will have screenshots with final copy in them for you sometime this weekend

[2020-05-07 11:31] #322 closed

[2020-05-07 12:38] #323 closed

[2020-05-07 12:56] sallychung commented on #325
✅ v.1.0.177

[2020-05-08 02:13] workerbee22 commented on #331
Ditto ... as yet un-able to extract this diagram from the PDF either.

[2020-05-08 02:17] workerbee22 commented on #331
@marcedwards ... did some magic .... diagram now as a vector in a sketch file I'll send to you on Slack 👍

[2020-05-08 02:36] workerbee22 commented on #300
@greggmiller Firebase project Data Privacy setup with the details you sent. But i still can't get to the Shared vault in 1Password. So perhaps @maks can do the Sentry console similar.

[2020-05-08 02:37] workerbee22 commented on #293
Fluter v1.17 now released in stable channel. But as per team agreement, waiting to do this change for all devs, codemagic and retest the app until after Version 1 is live.

[2020-05-08 04:43] greggmiller commented on #331
@workerbee22 @marcedwards Sorry I was also working on this. I have just updated the document with required section. It will probbaly be of lower quality than your solution but should be fine for V1.
I was going to create an issue for this and one other infographic PDF to be replaced for V1 due to peer review process.
https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/mas

[2020-05-08 07:14] greggmiller commented on #284
Sorry I have had to reopen this for 2 final updates for infographics (intubation guide and ALS/BLS modifications to ensure they are up to date at time of release.)

Both located in source documents:

https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/08052020_Intubation_Guide_Infographics_Multipage.pdf

https://github.com/Western-Health-Covid19-Collaboration/sourc

[2020-05-08 08:37] lukesleeman commented on #237
Just checking in here - @greggmiller I know you have a new disclaimer text - are you going to integrate it yourself, or did you want to put it in here and we can get one of the other flutter devs on it?

[2020-05-08 08:39] lukesleeman commented on #331
Ok, cool!  Now we have the PDF over in issue #284 are we able to close this one?

[2020-05-08 21:23] greggmiller commented on #331
Yes, sorry for the confusion, extra work and changing plan.

[2020-05-08 22:55] lukesleeman commented on #331
Closing this issue

[2020-05-08 23:05] lukesleeman commented on #284
I think that the PPE screens just currently have single PNG pages in them, so whoever picks up this task will need to convert them over to using the PDF viewer that @bramt built up for the inbutation and extubation screens

[2020-05-09 04:02] greggmiller commented on #290
All changes completed in #334

[2020-05-09 04:47] lukesleeman commented on #300
😅I've filled in the sentry details and can confirm this is also setup correctly in firebase ✅

[2020-05-09 04:47] #300 closed

[2020-05-09 10:09] #331 closed

[2020-05-09 10:13] #288 closed

[2020-05-09 10:33] #290 closed

[2020-05-09 10:34] marcedwards commented on #284
Just to confirm, I think there’s two changes we’re after.

### 1. Update `airway_management.png`

Update `airway_management.png`, using page 1 from  `08052020_Intubation_Guide_Infographics_Multipage.pdf`.

I can see differences between what we have now, and the new version in the PDF.

- Do we want the “High risk patient and high risk AGP” legend?
- Do we want the “Piror to entering intubation…” t

[2020-05-09 11:01] lukesleeman commented on #284
Ok, sorry for the misunderstanding there @marcedwards  - In both of those screens we will replacing the PNGs with PDFs - so we don't need any PNGs updating.

In our call tonight @greggmiller said he will try and make the changes and PR them tommorow

[2020-05-09 11:02] marcedwards commented on #284
Ok, sounds great! Those PDFs are 4.8 MB and 2.3 MB though. We’ll need to be a little careful with bundle size, I think?

[2020-05-09 11:05] lukesleeman commented on #284
Good point.  Is there any magic you are able to do in terms of optimising PDF size?

[2020-05-09 11:14] lukesleeman commented on #303
@marcedwards here are the screenshots:

# Home
![image](https://user-images.githubusercontent.com/902252/81472201-d0143d80-9239-11ea-8283-46f5fff31807.png)

# PPE step-by-step
![image](https://user-images.githubusercontent.com/902252/81472227-ea4e1b80-9239-11ea-8897-dbc6fde7403a.png)

# Your Welfare
![image](https://user-images.githubusercontent.com/902252/81472232-f508b080-9239-11ea-9e36-1a3ee962

[2020-05-09 11:38] greggmiller commented on #284
I'm just about done with making the changes, current issue is some that are landscape orientation are reverting to portrait... So I may need to fiddle a bit more when clear-headed in the morning prior to submitting PR.

Happy to be advised on file size 😄

[2020-05-09 12:02] yimingc2 commented on #303
@marcedwards Here is the iOS end

![Simulator Screen Shot - iPhone 11 Pro - 2020-05-09 at 21 50 27](https://user-images.githubusercontent.com/14011195/81473279-a579b300-9240-11ea-8ebd-eb669dcd154d.png)
![Simulator Screen Shot - iPhone 11 Pro - 2020-05-09 at 21 50 39](https://user-images.githubusercontent.com/14011195/81473286-b1657500-9240-11ea-89c4-8beea224b11a.png)
![Simulator Screen Shot - iPho

[2020-05-09 12:05] marcedwards commented on #303
Great, thank you!

[2020-05-09 22:27] greggmiller commented on #303
Hi @marcedwards @lukesleeman they look great, but if I could just make a couple of comments...

I'd remove the PPE one (guidance changes a lot and people are very particular about it so might take the slightest issue if there is something they see not to be to their standards.)
This could potentially be replaced by the PPE technique home screen if one of the videos has a visual as if it has been p

[2020-05-09 22:50] greggmiller commented on #284
Updated in #335

[2020-05-09 22:53] greggmiller commented on #284
There was a slight issue with aspect ratios and sizing for PDF pages in landscape other than portrait but it should be fine for current version. There was nothing in source documents related to package online that seemed to offer a solution 😕 .

[2020-05-09 23:27] lukesleeman commented on #303
Ok @greggmiller here are the screens you have asked for:

# PPE Home screen (with video)

![image](https://user-images.githubusercontent.com/902252/81487468-65e2b380-92a0-11ea-885c-008690552239.png)

# ALS/BLS modifications (ALS tab)

![image](https://user-images.githubusercontent.com/902252/81487471-709d4880-92a0-11ea-80a4-8070db6019e9.png)

# Intubation checklist

![image](https://user-images.gi

[2020-05-09 23:29] lukesleeman commented on #303
@yimingc2 are you able to take screenshots that match mine ☝️ We need the

- PPE Home screen (with video)
- ALS/BLS modifications (ALS tab)
- Intubation checklist

[2020-05-09 23:32] greggmiller commented on #303
Awesome @lukesleeman 🚀 🎉  Thanks

[2020-05-09 23:33] greggmiller commented on #303
@lukesleeman   I can screenshot on my iPhone X those images? Coming up...

[2020-05-09 23:36] lukesleeman commented on #303
You could, but you will have to make sure your device screen resolution exactly matches what June used for her screenshots, otherwise they won't match up with what she has provided.  Not sure what resolution hers are, and if its different to your iPhone X

[2020-05-09 23:37] greggmiller commented on #303
Ah ok, no worries.

[2020-05-09 23:40] greggmiller commented on #303
![IMG_9963](https://user-images.githubusercontent.com/54889183/81487617-2a48e900-92a2-11ea-81cf-ed5072dd42fe.PNG)
![IMG_9962](https://user-images.githubusercontent.com/54889183/81487620-316ff700-92a2-11ea-9d05-5bff401bd2dd.PNG)
![IMG_9961](https://user-images.githubusercontent.com/54889183/81487621-33d25100-92a2-11ea-803b-2519795c9d2c.PNG)
![IMG_9960](https://user-images.githubusercontent.com/5488

[2020-05-09 23:42] greggmiller commented on #303
![IMG_9965](https://user-images.githubusercontent.com/54889183/81487649-8ad82600-92a2-11ea-9bfb-872e7fc0bcd3.PNG)

[2020-05-09 23:44] greggmiller commented on #303
Yeah might be better with Junes, that last one looks like cardiac arrest is underlined which we don't want. Feel free to comment mine out if they are more of a hindrance than a help 😄 .

[2020-05-09 23:52] #284 closed

[2020-05-10 01:17] yimingc2 commented on #303
![IMG_3271](https://user-images.githubusercontent.com/14011195/81490535-f03e0e00-92c6-11ea-8079-6b9cbfad0b3e.PNG)
![Simulator Screen Shot - iPhone 11 Pro - 2020-05-10 at 11 16 09](https://user-images.githubusercontent.com/14011195/81488714-cd542f80-92af-11ea-81a4-e6b9dade5d15.png)
![Simulator Screen Shot - iPhone 11 Pro - 2020-05-10 at 11 15 41](https://user-images.githubusercontent.com/14011195/8

[2020-05-10 01:25] yimingc2 commented on #303
@greggmiller , I've uploaded 2 more screenshots (+5 from yesterday). But failed to have the PPE tech one with video visual because it's just an audio on my end. My screenshot specification is 1242 x 2688 pixels (portrait).

[2020-05-10 06:14] greggmiller commented on #303
Thanks @yimingc2 they look great 😄

[2020-05-10 11:10] greggmiller commented on #237
@lukesleeman  I have completed the document with Mike for this and we have finalised disclaimer and simplified the onboarding screen. So we can close this now I think. Might be something that needs to be revisited and simplified  further down the track

[2020-05-10 11:10] #237 closed

[2020-05-10 11:11] greggmiller commented on #303
This won't need to be complete for Beta 3 @lukesleeman I think as we can get beat out and then have this finalised for when the app goes on the store?

[2020-05-10 11:14] greggmiller commented on #241
I think this is now complete @lukesleeman ? Can we close it?

[2020-05-10 14:03] lukesleeman commented on #241
Not quite - just waiting for @workerbee22 's PR to be merged, then we can close this one

[2020-05-11 02:28] #301 closed

[2020-05-11 02:54] workerbee22 commented on #241
[#301](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/301) closed now, although there are some loose end tasks to do later.

@lukesleeman we can probably close this now as functionally complete. Loose ends are just implementation/code cleanups.

[2020-05-11 03:26] lukesleeman commented on #241
Closing this issue 🙌

[2020-05-11 03:26] #241 closed

[2020-05-14 02:36] greggmiller opened #337 "Home page and copy changes"
Multiple changes to make.

- [x]  "Remove Staff welfare banner"

- [x] Make basic PPE technique top.

- [x] Move Your welfare to within Quick ICU training.

 Copy changes:
Correct spelling rhythm in ALS/BLS modification

[2020-05-14 03:45] greggmiller commented on #337
#338

[2020-05-14 07:13] workerbee22 commented on #113
New conflicting requirements:
- @greggmiller has reported that management really wants (unlikely to budge) on the Disclaimer being the first screen which it is. But also want what is know currently as the 'Full Disclaimer' at the top.
- Apple requires 'prominent' guidance for users that the app audience and use is for hospital staff and not the general public.

With just one screen atm and managem

[2020-05-14 11:15] sallychung commented on #323
✅ v1.0.184

[2020-05-14 11:16] sallychung commented on #322
✅ v1.0.184

[2020-05-14 11:18] sallychung commented on #288
✅ v1.0.184

[2020-05-17 06:15] workerbee22 commented on #113
@greggmiller Approved the Onboarding screen PR 339 which is now merged.

Closing.

[2020-05-17 06:15] #113 closed

[2020-05-17 23:31] workerbee22 commented on #293
Note the new Stable flutter release v1.17 got a hot fix over night to **v1.17.1** to fix a bunch of crashes, one key one is present with **Analytics**. So this is why we wait a bit folks before moving to a new version: https://github.com/flutter/flutter/wiki/Hotfixes-to-the-Stable-Channel

I have noticed some of our other issues like package **native_pdf_view** which brings with it a transitive de

[2020-05-17 23:33] workerbee22 commented on #293
Ok so updated the project to run with:
- Flutter v1.17.1
- Updated gradle and wrapper versions to be AS standard versions
- Updated several packages which have fixes
- Sentry remains as is due to it being unclear about the new runZoneGuarded being deprecated but impacts on Sentry are as yet unclear.

[2020-05-18 03:51] #293 closed

[2020-05-18 08:00] workerbee22 commented on #196
Warning **ITMS-90078: Missing Push Notification Entitlement** remains.

Still an open issue after Flutter v1.17.1 as the new sta le release. Recommendation is still to ignore the warning:

https://github.com/flutter/flutter/issues/9984

[2020-05-18 23:52] workerbee22 commented on #337
@greggmiller Can we close this one now?

[2020-05-18 23:53] workerbee22 commented on #303
@marcedwards Beta 4 is out and being tested, but note that it did have some Home screen changes. Where are you at with the images? @greggmiller will hopefully get confirmation that Beta 4 is ok to be the production release in the next day or two.

[2020-05-18 23:55] workerbee22 commented on #327
Have been postponing looking at this, due to the more urgent Beta 3 and Beta 4 changes that management required to get to Version 1 production release.

[2020-05-18 23:58] workerbee22 commented on #321
Note that issues with `native_pdf_view` package are now resolved as of v1.0.187, so anyone can pick this up and look at how @rockgecko-development did it already for the **Intubation Infographic** 👍

[2020-05-18 23:59] workerbee22 commented on #319
@lukesleeman Has been partially addressed via the new PDF icon that @marcedwards replaced.

Should we close this one or leave it open do you think?

[2020-05-19 00:11] greggmiller commented on #337
Yes @workerbee22. Closed.

[2020-05-19 00:11] #337 closed

[2020-05-19 00:22] greggmiller commented on #303
@marcedwards @workerbee22 Of note 2 of the images have changed due to copy changes. I have attached the updated versions.

![Updated_homepage](https://user-images.githubusercontent.com/54889183/82271266-ac2fc500-99ba-11ea-90a9-343261d4e684.PNG)
.
![ALS:BLSmod_2](https://user-images.githubusercontent.com/54889183/82271256-a76b1100-99ba-11ea-8045-1997f4279792.PNG)

[2020-05-19 04:03] marcedwards commented on #319
My vote would be to close the issue — we can make improvements, but I think they’ll require a larger rethink.

[2020-05-20 00:28] kimngyn opened #341 "Welfare Screen Issue [Draft]"
After comparing our app to the design from Zeplin, I found that the colour of the tab to be different.

Please refer to screenshot and change B to match with A.

- [ ] **B** Needs to be green

![Screenshot (37)](https://user-images.githubusercontent.com/42886400/82391413-91298780-9a84-11ea-8bf7-7d84d05e8865.png)

[2020-05-20 00:37] kimngyn opened #342 "Navigation Color Theme Inconsistency [Draft]"
A wise designer once told me that colour themes were critical to helping the user know where they are in the app (Thanks to Matt!).

If we have moved "Your Welfare" cell to the bottom with Resources [C] and made it purple, perhaps it would be a good idea to change the white colour of the welfare screens [D] to purple just like the 'Additional Resources' screen and 'WH Resources' [E].

- [ ] **D**

[2020-05-20 01:04] kimngyn opened #343 "Subtitles Capitalisation Inconsistencies"
I noticed a few inconsistencies with capitalisation found in subtitles.

On the Home Screen, [G] has capitalisation in the subtitles but there's no capitalisation found in [F], [H], [I], [J] and [K].

- [x] **F**  Please change to 'WH Videos and Step by Step Guide'.
- [x] **H**  Please change to 'Guidelines', with a capital G for 'Guidelines'
- [x] **I**  Please change to 'Strategy', with a capita

[2020-05-20 01:19] kimngyn opened #344 "Capitalisation Inconsistencies in Titles"
I have found inconsistencies in the titles above the cells. As found in [L] the letters are all capitalised. However, [M] and [N] have not been capitalised. Also, the titles from [N] have a colon. Would it be better to remove them?

- [x] **M** Please change to 'Condition and Example Behaviours'.
- [x] **N** Please change to 'Choice of Sedative', 'Consider Daily Sedation If' and 'Commonly Used Dru

[2020-05-20 01:29] kimngyn opened #345 "Unzoomable PDF"
I was not able to zoom in some of the pages. Please investigate further before making significant changes as I just quickly checked. There is a possibility that I may have missed a few more.

- [ ] **O** Please fix the zoomable feature from pages 1/8 to 8/8 from the 'Intubation Infographic' screen
- [ ] **P** Please fix the zoomable feature from pages 1/2 to 2/2 from the 'Extubation Infographic' s

[2020-05-20 01:34] kimngyn opened #346 "Weird Padding [Draft]"
There is an inconsistent amount of spacing and padding between the cells. Please refer to screenshot.

- [ ] **S** Please change the spacing found in [S] to match [R].

![Screenshot (50)](https://user-images.githubusercontent.com/42886400/82394898-8c1d0600-9a8d-11ea-84bc-65592547bdb9.png)

[2020-05-20 01:38] kimngyn opened #347 "Cut Off When Scrolling [Draft]"
I don't seem to have an issue when I am scrolling on other screens like "Intubation Guide". However, I noticed there was an additional margin found at the bottom, as shown in [T] and [U]. Please refer to screenshot.

- [ ] **T** Please remove margin
- [ ] **U** Please remove margin

![Screenshot (52)](https://user-images.githubusercontent.com/42886400/82395128-2c732a80-9a8e-11ea-8739-1a29fc0a5648.

[2020-05-20 01:46] kimngyn opened #348 "Cell Contents"
I was not able to find the design in Zeplin but I noticed that the contents of [W] could have been neatly laid out like [V]

- [ ] **W** Please change the layout and space out "When:"

![Screenshot (54)](https://user-images.githubusercontent.com/42886400/82395466-f71b0c80-9a8e-11ea-8485-10400e6b7968.png)

[2020-05-20 02:26] workerbee22 commented on #345
Related to this [issue 321](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/321) which is to implement the **native_pdf_view** for these screens and utilise the PDF files themselves, rather than images.

[2020-05-20 02:42] workerbee22 commented on #237
btw. This was the feedback from Western Health legal representative:

![image](https://user-images.githubusercontent.com/5154664/82398935-5846de00-9a97-11ea-99c3-a7b67cc826bd.png)

[2020-05-20 11:46] sallychung opened #349 "Disclaimer typo - Two full stops instead of one"
Second paragraph ends with two full stops instead of one.

![IMG_0079](https://user-images.githubusercontent.com/12321678/82442520-2b201d00-9ae3-11ea-8a3d-f4f9dc16c706.jpg)

[2020-05-20 11:47] sallychung commented on #348
Could we also tighten the padding between the last bullet point and the greyed text?

Looks neater if the padding for the footer was like Neuro Basics

![IMG_455D39EFD3FB-1](https://user-images.githubusercontent.com/12321678/82442687-7afee400-9ae3-11ea-8976-27c92a806b9d.jpeg)

[2020-05-26 11:08] lukesleeman commented on #185
Based on our discussions with @greggmiller on the weekend its sounding like this might be something required from WH for us to be able to ship version 1.

We agreed that Gregg would have a crack at moving a small part of a screen over to use icons, probably from font awesome.  Once thats done we should have a better idea of what dev and design work is involved and we can further spec out what need

[2020-05-26 11:14] lukesleeman commented on #347
Huh, yeah, I noticed that one and it annoyed me as well 🙂

[2020-05-26 11:18] lukesleeman commented on #342
Owwww, well spotted!  I've moved this one over to design - it would be good to get an opinion either @Mattro or @cjmlgrto - How do you think the "Your Welfare" would look in purple?  Is this something we should go for?

[2020-05-26 11:19] lukesleeman commented on #345
Yeah, I think the best solution for this is just to move the screens over to actual PDFs

[2020-05-26 11:23] lukesleeman commented on #254
@greggmiller We now have the "breathing" section in Quick ICU training.  Can we close this issue down, or is this something else ?

[2020-05-26 11:24] lukesleeman commented on #252
We are now displaying the complete PDFs in the app, which kind of solves the issue of showing multi page infographics.  I'm closing down this issue.

[2020-05-26 11:24] #252 closed

[2020-05-26 11:25] #319 closed

[2020-05-26 11:25] lukesleeman commented on #255
@greggmiller is this one still needed or is it covered off by the current stuff we have in Quick ICU Training?

[2020-06-11 01:45] greggmiller opened #351 "Movement of Your Welfare screen to ICU quick training"

[2020-06-11 01:51] greggmiller opened #352 "Inclusion of ROTEM Clinical Support Tool"
Functional clinical support tool with high utility in patient management to help guide blood product administration. reduces information-dense algorithms into a simple calculator.

[2020-06-11 06:02] nair25 commented on #114
Try Flybuilds - Flybuilds is the fastest way for developers to create a team and share iOS/Android App for beta testing through their personal cloud in a highly secure manner.
Beta App Distribution, iOS & Andriod (https://www.flybuilds.com/)

[2020-08-30 04:15] lukesleeman commented on #352
Closing this issue and moving to done, as it seems to be included

[2020-08-30 04:15] #352 closed

[2020-08-30 04:16] lukesleeman commented on #351
Closing as this now appears to be done.

[2020-08-30 04:16] #351 closed

[2020-08-30 04:16] lukesleeman commented on #349
Closing, as this is now fixed

[2020-08-30 04:16] #349 closed

[2020-08-30 04:18] lukesleeman commented on #348
I just checked this out - now the update of the icons, etc is done, this is fixed

[2020-08-30 04:18] #348 closed

[2020-08-30 04:19] lukesleeman commented on #347
Tested and this is still present

[2020-08-30 04:21] lukesleeman commented on #346
Tested - CVS basics seems fixed, but the daily ward round still has a small amount of padding which could be tweaked

[2020-08-30 04:24] lukesleeman commented on #345
I tested and this seems to be fixed now - seems that these screens are now PDFs

[2020-08-30 04:24] #345 closed

[2020-08-30 04:25] lukesleeman commented on #344
Tested and this now appears to be fixed

[2020-08-30 04:25] #344 closed

[2020-08-30 04:26] lukesleeman commented on #343
Tested and this seems to be fixed now

[2020-08-30 04:26] #343 closed

[2020-08-30 04:27] lukesleeman commented on #342
Things have moved around, but this issue is still present - the your welfare is now in Quick ICU training; it should be blue, but it is white

[2020-08-30 04:28] lukesleeman commented on #341
Tested - this is still present.  However as the welfare screen is now in ICU, it should probably be blue

[2020-08-30 04:29] lukesleeman commented on #327
Thinking we should close this issue as we are probably not going to get to it?

[2020-08-30 04:29] lukesleeman commented on #321
Tested and this still looks like it needs doing

[2020-08-30 04:30] lukesleeman commented on #307
This still seems to be present

[2020-08-30 04:31] lukesleeman commented on #306
Tested and this still seems to be an issue

[2020-08-30 04:34] lukesleeman commented on #204
Tested and it still seems to be happening, but I guess this is something to do with flutter

[2020-08-30 04:35] lukesleeman commented on #185
This has now been done - the app is using a new set of icons

[2020-08-30 04:35] #185 closed

[2020-08-30 04:36] lukesleeman commented on #114
Since it seems we will not be releasing to the play store, I'm going to close this one down.

[2020-08-30 04:36] #114 closed

[2020-08-30 04:36] lukesleeman commented on #20
Since it seems we wont be publicly releaseing I'm closing this one down

[2020-08-30 04:36] #20 closed

[2020-08-30 04:37] lukesleeman commented on #19
Since it seems we wont be releasing, I'm closing this one down

[2020-08-30 04:37] #19 closed

[2020-08-30 04:38] lukesleeman commented on #303
Since it seems we wont be shipping, I'm closing this one down

[2020-08-30 04:38] #303 closed