[2020-03-22 10:21] marcedwards opened #9 "Add design system colours to style.dart"
Here’s an expanded colour palette for the app, that should cover some potential future colours we may need. It’s based on Matt’s original work, with the **500** weight colours being the primaries.

![colours](https://user-images.githubusercontent.com/1121547/77247077-984d3880-6c81-11ea-9e81-96a172bc960c.png)

Here’s the colours as Dart code:

[code]

I (or anyone) can add these to `style.dart`, bu

[2020-03-22 10:57] rockgecko-development commented on #9
Hey Marc,
1. No, `-` is invalid. Go with `grey_900` or `grey900`
2. the first 3 params in the fromRGBO are ints. Opacity is double. So you have to remove the decimal `.0` from those.

I actually had the same issue last week when a designer sent me a generated dart snippet via adobe xd, generating code that doesn't compile. Must be an adobe thing :)

[2020-03-22 11:07] marcedwards commented on #9
Thanks for the feedback! Here’s the updated code:

[code]

[2020-03-22 11:08] rockgecko-development commented on #9
LGTM - but I'm only lurking here until tomorrow night / Tuesday :)

[2020-03-22 11:18] rockgecko-development commented on #9
Oh, with the 50/500/600/800/900, this is more what Flutter/Material calls _swatch_, right? If  you define 10 of them, they can be defined like this:
[code]
And then referenced like
`var color = blueSwatch[600]` etc

If anyone has experience making custom `swatch`es, we could go this route, but otherwise it's probably not necessary, it's fine to reference each color separately.

[2020-03-22 22:08] maks opened #12 "Android release builds need to be signed"
Need to setup CI to sign release builds for Android

[2020-03-22 22:09] maks opened #14 "iOS release builds need to be signed"
Need to setup CI to sign release builds for iOS

[2020-03-22 22:11] maks opened #15 "Need to add tool for Crash Reporting & Analytics"
I'm familiar with Sentry and it works well for Flutter in prev project so I can set up Sentry account and add to app unless someone else has different preferences?
cc: @workerbee22 @alessandrofavero @adamkoch @domesticmouse

[2020-03-22 22:14] adamkoch commented on #15
I've only used Sentry with RN before. It seems good. Other option which I've used with Flutter is [Firebase Crashlytics](https://pub.dev/packages/firebase_crashlytics) which also works quite well although it has an open where it catches all exceptions as non-fatal (you an still see all the info fine though).

[2020-03-22 22:19] maks opened #16 "PR build status checks currently not working from Codemagic"
I've left a message in Codemagic's slack support channel reporting this and asking for help last night, need to wait til europe wakes up today til I hear back from them.
But for now it means everyone needs to check the status of PR builds on CI manually (failures should be reported in slack channel) before merging into master please :disappointed:

FYI: @domesticmouse @alessandrofavero  @adamkoch

[2020-03-22 22:34] maks commented on #15
Thanks @adamkoch . Yes I had lots of trouble last year with crashlytics for Flutter app, so went with Sentry on several apps so far includign a commerical one and works very well.

[2020-03-22 22:40] adamkoch commented on #15
Sentry SGTM

[2020-03-22 22:50] workerbee22 opened #17 "App Publishing - Android Firebase App Distribution"
Setup CI/CD integrated publishing of Release and signed builds of the app to Firebase App Distribution.

[2020-03-22 22:50] workerbee22 opened #18 "App Publishing - iOS Firebase App Distribution"
Setup CI/CD integrated publishing of Release and signed builds of the app to Firebase App Distribution.

[2020-03-22 22:51] workerbee22 opened #19 "App Publishing - iOS Apple App Store"
Setup CI/CD integrated publishing of Release and signed builds of the app for Beta to Test Flight and Apple App Store.

[2020-03-22 22:52] workerbee22 opened #20 "App Publishing - Android Google Play"
Setup CI/CD integrated publishing of Release and signed builds of the app for Beta to Google Play.

[2020-03-22 22:58] workerbee22 commented on #9
I'm assuming we'll hold off on themeing for now?

Also is it worth in `style.dart` to use an abstract class? So then in code everything is referenced as `Styles.bluePrimary` ? Just makes the code a little more readable, thoughts?

[2020-03-22 23:05] marcedwards commented on #9
I’m happy and comfortable with whatever works. It’s no trouble for me to get the swatch stuff happening.

[2020-03-22 23:32] marcedwards commented on #9
Actually, maybe it’s a distraction for now. Maybe we just stick with the flat constants for now. If it’s okay, I think I will keep adding design system stuff as Issues, and let developers move it into the code?

[2020-03-23 00:17] marcedwards commented on #9
![colours-checkerboard](https://user-images.githubusercontent.com/1121547/77279892-0132c000-6d17-11ea-8912-5398ff4b89c2.png)

Ok, here are the final (for now) colours that can be put into `style.dart`. I also have some notes on usage below.

[code]

The intention is for all our colour needs to be covered by the constants above. If we’re missing something, we can add it as a constant, so we have a

[2020-03-23 02:07] marcedwards opened #21 "Add typography styles to style.dart"
This should be all or most of the text styles we need in the app. They’re all named similarly to HTML elements (H1, H2, P etc). I’m prefixing everything with text. Please let me know if that’s a good idea or not.

Please note that these styles reference the colour constants we have (listed in #9).

![textstyles](https://user-images.githubusercontent.com/1121547/77273222-21f31980-6d07-11ea-8c86-d30

[2020-03-23 02:26] rockgecko-development commented on #21
Hi Marc
1. See https://api.flutter.dev/flutter/painting/TextStyle-class.html , scroll to "Custom Fonts" to see how to add these ttf files to the project and reference them
2. FontWeight is "The thickness of the glyphs used to draw the text", ref: https://api.flutter.dev/flutter/dart-ui/FontWeight-class.html
thin is `w100`,
"bold" is w700.
If you'd rather just "normal" you can specify `FontWeight.n

[2020-03-23 04:20] adamkoch commented on #9
@marcedwards is there a few named colors we can give to some of these shades? kid of like what I see here:
https://app.zeplin.io/project/5e7597a68651056664fb6e53/styleguide/colors?cid=5e7599bbeff8336f22e3516f

eg.
Color backgroundGreen = green500;
Color appBackground = grey500;
etc.

It's better if we can use the named colors in the code as much as possible so we keep re-using the same ones over a

[2020-03-23 04:21] adamkoch commented on #9
I kind of started this here but will migrate over to your colors in next PR:
https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/blob/6a7c261e6fe732c319f1b6ad3a4de16482dae9b8/lib/style.dart#L9

[2020-03-23 04:27] marcedwards commented on #9
Thanks! I agree, and I think your proposed solution is good.

[2020-03-23 05:23] lukesleeman opened #26 "Enhance flutter section of Readme.md"
The Readme.md has a section for flutter specific documentation.  Somebody needs to fill it out with some info - as a flutter dev, what do people need to know to checkout and build the project?

Is it as straightforward as just checking out and clicking run?  Are there any settings or flutter specific things to be aware off.

We will also have a lot fo people who may not be familiar with flutter he

[2020-03-23 05:24] lukesleeman commented on #26
Note, we currently have a branch and PR with a few changes to the readme.  You might want to stack on top of that: https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/24

[2020-03-23 06:25] domesticmouse commented on #21
Is this a PR in flight somewhere? As the `Inter` font is on our fonts.google.com CDN, I'd suggest loading the font via [google_fonts](https://pub.dev/packages/google_fonts) pub package. Thoughts?

[2020-03-23 07:43] workerbee22 commented on #17
Now using Firebase CLI to connect to codemagic (rather than Firebase App Dist Gradle plugin).

[2020-03-23 08:00] lukesleeman opened #28 "Build out Subscreens"
We want to very rapidly build out the sub-screens, and then iteratively enhance them.  To do this we first need sub screens in the app.

As a temporary place holder, we need each of the following screens added in just using a `PageView`.  Sometimes there will be text that just says "TODO" on the sub screen, sometimes there will be an image, with pinch to zoom enabled using a gesture controller.

#

[2020-03-23 08:20] rockgecko-development commented on #21
@domesticmouse I caught up with Luke, I'll do this shortly. Good idea re google_fonts

[2020-03-23 08:28] ericjiang97 commented on #26
Part of #27

[2020-03-23 08:36] lukesleeman opened #30 "Build Your Welfare Screen"
Under "Look after yourself" the following subscreen needs building:

<img width="289" alt="image" src="https://user-images.githubusercontent.com/902252/77297264-20dcdf00-6d3d-11ea-9bf4-94cf5335cced.png">

for the "Phases of Pandemic and suggestions for self-care" button, please link it out to a subscreen which can contain the text "TODO"

[2020-03-23 08:38] lukesleeman opened #31 "Update title on home screen for ICU"
At the moment the app says "ICU Non-Intensivist"

![image](https://user-images.githubusercontent.com/902252/77297734-d6a82d80-6d3d-11ea-8de0-0bdbd45f8b0d.png)

As per the information architecture in our readme it needs to say "ICU for new starters"

https://files.slack.com/files-pri/T2H965QFM-F0105MNNF34/image.png

[2020-03-23 09:22] greggmiller commented on #31
@Marc @Matt This can be changed to "ICU"... An intensivist is a specialist intensive care physician. It is likely with COVID-19 pandemic that non-intensive care specialists "non-intensivists" e.g. anaesthetists and others will be looking after ICU patients... Just having ICU simplifies things

[2020-03-23 09:28] lukesleeman opened #32 "Build out the PPE putting on personal protective equipment step by step guide"
Inside the PPE section there is a button which should link off to a "Putting on Personal Protective Equipment" "Step By Step Guide"

<img width="404" alt="image" src="https://user-images.githubusercontent.com/902252/77301946-9d26f080-6d44-11ea-9347-1ae9e5c8d6bb.png">

**We need to build build out the putting on guide.**

@greggmiller Can you please provide some information in this issue on what sh

[2020-03-23 09:30] lukesleeman opened #33 "Build out the PPE putting on personal protective equipment infographic"
Inside the PPE section there is a button which should link off to a "Putting on Personal Protective Equipment" "Infographic"

<img width="404" alt="image" src="https://user-images.githubusercontent.com/902252/77301946-9d26f080-6d44-11ea-9347-1ae9e5c8d6bb.png">

**We need to build build out putting on infographic**

@greggmiller Can you please provide some information in this issue on what should b

[2020-03-23 09:34] lukesleeman opened #34 "Build out the PPE taking off personal protective equipment step by step guides 1 & 2"
Inside the PPE section there is a button which should link off to a "Taking Off Personal Protective Equipment" "Step By Step Guide"

<img width="404" alt="image" src="https://user-images.githubusercontent.com/902252/77302471-79b07580-6d45-11ea-985e-dc63f4a4b326.png">

**We need to build build taking off guide.**

@greggmiller Can you please provide some information in this issue on what should be

[2020-03-23 09:35] lukesleeman opened #35 "Build out the PPE taking off personal protective equipment infographic"
Inside the PPE section there is a button which should link off to a "Taking off Personal Protective Equipment" "Infographic"

<img width="404" alt="image" src="https://user-images.githubusercontent.com/902252/77301946-9d26f080-6d44-11ea-9347-1ae9e5c8d6bb.png">

**We need to build build out taking off infographic.**

@greggmiller Can you please provide some information in this issue on what should

[2020-03-23 09:38] lukesleeman commented on #30
👋 @greggmiller do you know what phone number the phone icon on this screen should go to?

[2020-03-23 09:42] lukesleeman opened #36 "Build out Phases of Pandemic and suggestions for self-care screen"
At the bottom of the staff welfare screen, there is a button which links off to a "Phases of Pandemic and suggestions for self-care" screen

**We need to build build out the Build out Phases of Pandemic and suggestions for self-care screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

@

[2020-03-23 09:59] lukesleeman opened #37 "Build out the intubation guide screen"
From the main menu there is a button which takes you to the intubation step by step guidance screen.  That screen is currently **really** basic.

**We need to build build out a detailed version of the intubation step by step guidance screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

[2020-03-23 10:00] lukesleeman opened #38 "Build out the intubations checklist screen"
From the main menu there is a button which takes you to the intubation checklist screen.  That screen is currently **really** basic.

**We need to build build out a detailed version of the intubation checklist screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

@marcedwards Once greg h

[2020-03-23 10:03] lukesleeman commented on #38
Just noting that @greggmiller has mentioned that he would like there to be actual check boxes users can tick off on this screen. So we will have to give some thought to interactivity.

A question for @greggmiller - do we have to save the screens state?  As in - if the user ticks three 3 things, goes out of the screen then comes back in, should the 3 items still be ticked?

Its possible remembering

[2020-03-23 10:07] lukesleeman opened #39 "Build out the intubations infographics screen"
From the main menu there is a button which takes you to the intubation infographics screen.  That screen is currently **really** basic.

**We need to build build out a detailed version of the intubation infographics screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

@marcedwards Once

[2020-03-23 10:13] lukesleeman opened #40 "Build out the ICU ventilation screen"
From the main menu there is a button which takes you to the ICU ventilation screen.  That screen is currently **really** basic.

**We need to build build out a detailed version of the ICU ventilation screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

@marcedwards Once greg has provide

[2020-03-23 10:14] lukesleeman commented on #40
Based on the plan, its looking like there are two screens or sub-sections:

<img width="218" alt="image" src="https://user-images.githubusercontent.com/902252/77306074-378a3280-6d4b-11ea-864a-280c240709b0.png">

I think @greggmiller and @marcedwards will need to figure out exactly what these are (screens?  Expanding sections in one page?)

[2020-03-23 10:19] greggmiller commented on #32
Please refer to source document

https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/Western%20Health%20donning%20and%20doffing%20PPE.pdf

Putting on PPE = Donning.
Taking off PPE = Doffing

The step by step guide for Putting ON (donning)
Has 6 steps
1. Hand Hygiene (with attached image - if difficult to enhance the one in PDF I can try and find alternative)
2. Gow

[2020-03-23 10:23] lukesleeman commented on #32
For reference this is the step by step thing Alessandro showed us

![steps](https://user-images.githubusercontent.com/902252/77306923-7967a880-6d4c-11ea-8a1d-1a32e1c80b98.gif)

[2020-03-23 10:25] lukesleeman opened #42 "Build out the ICU Daily Round Screen"
From the main menu there is a button which takes you to the ICU General Care screen.  That screen is currently **really** basic.

**We need to build build out a detailed version of the  ICU General Care screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

@marcedwards Once greg has prov

[2020-03-23 10:29] lukesleeman opened #43 "Build out the Cross-skilling screen"
From the main menu there is a button which takes you to the ICU Tips for junior staffers screen.  That screen is currently **really** basic.

**We need to build build out a detailed version of the ICU Tips for junior staffers screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

@marcedw

[2020-03-23 10:32] lukesleeman commented on #9
Awesome!  Now this is merged, can we close this issue?  Or is there more work?

[2020-03-23 10:39] lukesleeman opened #44 "Build out the information, contact numbers screen"
Inside the information screen there is a button which takes you to the contact numbers screen.  That screen is currently **really** basic / possibly doesn't exist.

**We need to build build out a detailed version of the contact numbers screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is done assign the issue to Marc Edwards.

[2020-03-23 10:43] lukesleeman commented on #44
Based off what @Mattro told me, there will be numbers sections in this screen:

Then we will do something like

or even

These same numbers will be accessed from other sections in the app.  We will track that work via another issue.

[2020-03-23 10:43] greggmiller commented on #32
Thanks @lukesleeman

[2020-03-23 10:47] greggmiller commented on #33
Please refer to Source doc: Western Health donning and doffing PPE.pdf

@marcedwards The infographic on 2nd page is the one we need: "Putting ON PPE"

[2020-03-23 10:52] lukesleeman opened #45 "Build out the Society & College Recommendations screen"
Inside the information screen there is a button which takes you to the Society & College Recommendations screen.  That screen is currently **really** basic / possibly doesn't exist.

**We need to build build out a detailed version of the Society & College Recommendations screen**

@greggmiller Can you please provide some information in this issue on what should be in this section?  Once that is do

[2020-03-23 10:54] adamkoch commented on #9
There's still a bit of work to be done around the colors/styles but we can close this one and follow up separately.

[2020-03-23 10:54] #9 closed

[2020-03-23 10:55] rockgecko-development commented on #21
Actually, looks like @adamkoch merged this already in #25 , so it's already done

[2020-03-23 10:55] greggmiller commented on #34
This is slightly more challenging than the putting ON PPE section!

Please refer to source document

https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/Western%20Health%20donning%20and%20doffing%20PPE.pdf

Putting on PPE = Donning.
Taking off PPE = Doffing

The step by step guide for Putting OFF (doffing)

Taking off PPE Has 2 methods! This is where the complexity

[2020-03-23 10:58] adamkoch commented on #21
I was going to do it, but while I added the colors I didn't add the other text styles as per above. I may try and do it as part of #30 which has a lot of text styles (but if someone else wants to do it separately please feel free to).

[2020-03-23 10:59] lukesleeman opened #46 "Build out the app feedback screen"
Inside the information screen there is a button which says "app feedback"

After some discussion we have decided it needs to open this form: https://forms.gle/zQtfhvswrKmjJjNV7

We will continue to enhance the form, but the app will need updating to open it when you click the "app feedback" button

[2020-03-23 11:00] greggmiller commented on #35
Please refer to source doc WH donning and doffing PPE.

The infographic is page 1.

[2020-03-23 11:04] lukesleeman opened #47 "Build out well designed Disclaimer & Conditions of use screen"
The Disclaimer & Conditions of use screen needs to present a disclaimer.  It is accessible from two places:

1. When the user first starts the app it is the first thing they see
2. You can access it again from a button in the information screen

**We need to build build out a detailed version of the disclaimer & conditions of use screen**

@greggmiller Can you please provide some information in th

[2020-03-23 11:08] greggmiller commented on #36
Please refer to source document Sustaining wellbeing COVID19_ICS.pdf

This is the table that takes up page 1 of the document.

This can then be broken up into a step-by step guide as suggested by @alessandrofavero or as a carousel perhaps? Open to suggestions.

It has 4 stages:
1. Pre-phase: No cases on unit
2. Initial Phase: Case 1
3. Core Phase: Full scale - multiple cases
4. End phase: Immediat

[2020-03-23 11:08] lukesleeman opened #48 "Update home screen branding"
There are some new colours and branding from @marcedwards

![image](https://user-images.githubusercontent.com/902252/77310610-b9ca2500-6d52-11ea-8ab5-a64de450bac6.png)

This needs to be integrated into the app

[2020-03-23 11:09] lukesleeman commented on #48
@marcedwards Is it safe to say this is ready for dev?  If so tag as `ready for dev`

[2020-03-23 11:10] marcedwards commented on #48
@lukesleeman Yep, but @Mattro and I are just sorting out that header image now. That’ll be needed.

[2020-03-23 11:13] greggmiller commented on #36
The main thing is for the phases to be aligned to "Issues and likely impact" and those ligned to "Needs and recommended approach"
Maybe an appear function so you tap the screen and the next phase comes up?

[2020-03-23 11:13] greggmiller commented on #36
But if that is too much for what its worth, the table alone is fine

[2020-03-23 11:36] Mattro commented on #34
<img width="324" alt="image" src="https://user-images.githubusercontent.com/1920449/77312731-ab7e0800-6d56-11ea-8fa1-a5582bdb464e.png">
We could break the buttons in to two like this. (I already added it like this to Zeplin too)

[2020-03-23 11:40] workerbee22 commented on #46
FB App Distribution doesn't have anything that can help. Probably do the email thing is easiest.

[2020-03-23 11:50] lukesleeman commented on #46
Awesome.  I vote for the gmail app one.  Perhaps put something in the email subject, so we can setup filter rules for it, and possibly fwd it to ppl?

Luke
On 23 Mar 2020, 10:40 PM +1100, Mike Hughes <notifications@github.com>, wrote:

[2020-03-23 11:51] greggmiller commented on #37
(For a bit of lay person insight, intubation is the prcoess of placing a patient in a drug-induced coma and then inserting a breathing tube from the mouth into the trachea. In Covid19 patients it is high risk as it is an "Aerosol-generating procedure" meaning it puts us at risk as lots of virus gets in the air and can infect us. We want to make sure both we and our junior medical staff get it righ

[2020-03-23 11:54] greggmiller commented on #39
Please refer document SAS COVID 19 infographics 1 2.pdf

This is pages 1 and 2, might need a slide option to go between the two and a zoom.

Thanks!

[2020-03-23 11:57] greggmiller commented on #44
Its the numbers from this page we need:
http://wh.cyphix.net/

These are the main numbers from across the hospital.
However in first instance a link to this page which opens it up might suffice?

[2020-03-23 11:59] greggmiller commented on #44
I will in due course try and compile a list of numbers fit for purposes, but this probably isnt a priority for first release.

[2020-03-23 12:01] lukesleeman commented on #44
Yeah, I like just having the button link to the page.  That way we know it's up to date.  We can do proper layout and other bits for this a few days down the track, once we have filled out more of the app.

Luke
On 23 Mar 2020, 10:57 PM +1100, greggmiller <notifications@github.com>, wrote:

[2020-03-23 12:01] greggmiller commented on #38
Please refer to source doc: COVID-19_Emergency_Intubation_Checklist.png
--
No @lukesleeman state does not have to be saved. Thanks for asking though.

[2020-03-23 12:02] lukesleeman commented on #44
I'm tagging this as ready for dev.  Can one of the @Western-Health-Covid19-Collaboration/flutter-devs link up the button to launch http://wh.cyphix.net/ in a web browser?

We will design a proper page a bit down the track.

[2020-03-23 12:23] greggmiller opened #53 "Embedded video to change in Putting on Personal Protective Equipment"
Hi Adam,

Minor (hopefully) amendment required.
The video/link currently embedded in putting on PPE is the one for taking it off.

Could you switch to video from this link please:
https://www.youtube.com/watch?v=jZyR0S8FKIY&feature=youtu.be

Let me know if any queries. Cheers!

[2020-03-23 19:21] adamkoch commented on #53
Yep will do.

[2020-03-23 20:39] maks commented on #46
Email.ia ok, with some of my other open source apps I link through to GH repo new issua url. Main thing is to cut down on people trying to leave feedback via Google play!

[2020-03-23 20:58] ericjiang97 commented on #48
Will be happy to tackle this once this is ready

[2020-03-23 21:00] adamkoch commented on #21
Sorry just saw the note to use google fonts package, I actually just included the ttf fonts directly. Please review PR:
https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/55

[2020-03-23 21:21] adamkoch commented on #30
Initial build done. Still need correct phone number and to put in the icons.

[2020-03-23 21:22] adamkoch commented on #21
Fixed in #55

[2020-03-23 21:22] #21 closed

[2020-03-23 21:22] adamkoch commented on #53
Fixed in #55

[2020-03-23 21:22] #53 closed

[2020-03-23 21:58] alessandrofavero commented on #44
I can pick this issue tonight after work

[2020-03-24 00:21] greggmiller commented on #47
This app is designed to be used by Anaesthetic and Critical Care doctors at Western Health who are caring for patients during the COVID-19 Pandemic. The guidelines, protocols and advice within this app are designed to educate staff and suggest recommended management of patients with COVID-19. The recommendations within this application do not indicate an exclusive course of action as the results m

[2020-03-24 00:22] greggmiller commented on #47
^ Copy above and checkbox required at bottom.

[2020-03-24 00:30] marcedwards commented on #40
Yep, can do! My initial thought is that if there’s not too much info, we could just stack it. A little bit of scrolling is okay! If it gets longer, we can work out if it’s best to have expanding sections on the one screen, or separate screens. I’ll wait to see what info we end up needing to fit in.

[2020-03-24 00:32] marcedwards commented on #32
I think that looks awesome. Great work @alessandrofavero! One UX question: Is it possible to tap to jump to a different step? It might be nice to go back, if someone hits continue by accident.

[2020-03-24 00:41] greggmiller commented on #40
Please refer to source document https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/COVID-SARI%20Treatment%20Poster%202020.pdf

Suggested Initial Actions subsection:

_Page titled:_ Suggested Initial Ventilator Settings

(then bullet point list, at your and devs discretion as to whether these points appear in bulk or sequentially)

- SIMV/VC
- Vt 4-8ml/kg (ideal bo

[2020-03-24 00:52] greggmiller commented on #40
Adjuncts page change to Adjuncts to Ventilation

_Titled:_  Adjuncts to Ventilation

_(then bullet point list, at your and devs discretion as to whether these points appear in bulk or sequentially)_
- Deep sedation
- Prone Positioning
  - Strong recommendation for patients with severe ARDS
  - 12-18 hours  per day
  - May need contiguous days of proning
- Restrictive fluid regime
  - Strong recomm

[2020-03-24 00:53] greggmiller commented on #43
This may be a work in progress as waiting for more information being compiled by ICU for this.

[2020-03-24 00:53] greggmiller commented on #43
Hopefully in next couple of days, but otherwise put this on backburner.

[2020-03-24 00:56] greggmiller commented on #46
I think a link to the google form I am in process of creating might be good. That could then generate feedback to WH email or my email that I can circulate amongst a core of us to interpret?

[2020-03-24 00:56] greggmiller commented on #46
But you guys are the experts on this.

[2020-03-24 00:59] workerbee22 commented on #17
Implemented but need to fix a release-notes.txt file issue where notes are not being shown to testers of the app via FB App Dist.

[2020-03-24 00:59] workerbee22 commented on #18
Now have tested and working correctly in a test environment. Working on PR to implement.

[2020-03-24 01:00] greggmiller commented on #46
Main criteria in google form will be:

Speciality: (Anaesthetics/ICU etc)
Level of training: (e.g. specialist/reg/other)
The operating system of phone/tablet:

How easy is it to figure out and use app?
Which aspect is most useful? (Staff welfare, intubation etc.)
Which aspect requires more development? (Staff welfare, intubation etc.)
Any features you would like us to add?
Any features you would l

[2020-03-24 01:01] workerbee22 commented on #14
I'll pick this up as part of the Firebase App Dist work as they are highly correlated.

[2020-03-24 01:02] workerbee22 commented on #12
@maks This seems done. Its in codemagic, but where should we store all the Keys? Do we have a Key Store somewhere? We should store them securely before we close this issue.

[2020-03-24 01:03] workerbee22 commented on #19
Once we have Apple Dev Account I can do this, as also includes wiring into codemagic CI/CD.

[2020-03-24 01:03] workerbee22 commented on #20
We have Google Play account and I can do this, as also includes wiring into codemagic CI/CD.

[2020-03-24 01:07] greggmiller commented on #46
I'm keen for any comment on the above @maks @lukesleeman @workerbee22 . I think Google form is a good way, I'm also happy for my WH email in first instance (probably remove as app moves from FB into stores) but you may know of likely problems with a google form in this setting?

Maybe the best solution is the link to that and an email address?

[2020-03-24 01:20] alessandrofavero commented on #32
Hey @marcedwards thanks , yes the user can tap on any step to view it again. On the slack channel, there should be a .gif with a more custom version that I was working on.

[2020-03-24 01:29] greggmiller commented on #45
_I think this should be retitled Additional Resources:_

_The intention is that this screen provides links to other commonly used resources for our department and critical care workers_

_Then Screen should have various subheadings/sections..._

_ The link can be built into the title_

**Western Health**

Novel Coronavirus Information
https://coronavirus.wh.org.au/

Western Health COVID-19 Daily B

[2020-03-24 02:06] fmatosqg opened #56 "Documentation: Github 101"

[2020-03-24 02:36] alessandrofavero commented on #31
I'll fix this one with #44

[2020-03-24 03:22] marcedwards commented on #32
Great! Thanks for the info.

[2020-03-24 03:44] fmatosqg commented on #56
I can't assign myself to this issue, but I'll be taking it and making a PR.

Comment here if you want to get assigned to it or collaborate etc.

[2020-03-24 05:27] marcedwards commented on #33
@Mattro And I have come up with some plans on how to handle these screens, and are ready to start committing temporary assets, so the dev side can progress.

We’ve opted for 1200×600px images, which should mean the images can be pretty good quality on a range of devices (we won’t have different images for the different pixel densities, given what this is showing).

The one concern we have is that

[2020-03-24 05:31] marcedwards commented on #35
Is it possible to provide higher quality images for these, or do we have to work with what we have? Even a photo of a printed page may be better than the PDFs.

This is the quality of most of the images:

![screenshot](https://user-images.githubusercontent.com/1121547/77391451-df0b7180-6dec-11ea-8aa2-9f0433658135.png)

Please note that this won’t hold us up. We can get the assets in as is, and imp

[2020-03-24 05:54] maks commented on #46
I agree about using link to a Google form

[2020-03-24 05:55] maks commented on #12
Yes sorry Mike it's done. Will close and follow up with you and Gregg about keystore

[2020-03-24 05:55] #12 closed

[2020-03-24 06:28] #31 closed

[2020-03-24 06:28] greggmiller commented on #46
Excellent. Will draft it out and see if there are any recommended changes or additional feedback points required.

[2020-03-24 06:31] marcedwards commented on #46
I think the form is great. Do we need a quick way of reporting issues vs general feedback? I think the most likely reason people will seek to send us feedback is if they’ve spotted an issue and would like to let us know to fix it?

[2020-03-24 06:34] alessandrofavero commented on #44
Implemented with PR #58

[2020-03-24 07:02] lukesleeman commented on #30
@adamkoch Is the phone number you need for the little Phone icon?

I would say don't worry about that now - the phone buttons on each screen will a feature that comes along later.  I'll fire up a new issue for doing that a little later this evening.

Wondering if we could close out this issue now?

[2020-03-24 07:13] lukesleeman commented on #35
Yeah, I believe greg should be able to chase up better images, though it will take a little while.  I think run with the pixelated ones for the time being 😬

[2020-03-24 07:36] lukesleeman commented on #56
Oh, that would be super helpful.  Can you tag me when the PR comes through?  Love to see what is happening.

We have a `docs` directory in the repo as well as a wiki.  Hopefully one of those can help out.

[2020-03-24 07:46] #26 closed

[2020-03-24 08:12] lukesleeman commented on #44
@alessandrofavero I can see the code in there for the contact numbers, but when I run the latest firebase build (which should have this) tapping the contact numbers in the information screen does nothing.

I'm re-opening this.  If I'm somehow getting this wrong and it is actually working, just close it again

[2020-03-24 08:21] alessandrofavero commented on #44
Hey @lukesleeman, my bad I didn't connect that card I will do it now. Can you please confirm that by going:
home page -> your welfare --> click on the action button on the navbar
takes you to the web page? Thanks

[2020-03-24 08:24] lukesleeman commented on #44
Ahhhhh, I see.  It's good that the phone icon in that screen takes you there.  But also clicking the little info icon on the home screen, then going to contact numbers should take you to the same web page

Luke
On 24 Mar 2020, 7:21 PM +1100, Alessandro Favero <notifications@github.com>, wrote:

[2020-03-24 09:36] suesitran commented on #28
do we have a different design for **"Intubation Checklist" screen**? the image from https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/COVID-19_Emergency_Intubation_Checklist.png can be used in app, but it will not fit nicely in mobile screen

[2020-03-24 09:41] lukesleeman commented on #28
Yeah, the designers are working on building out more detailed designs.  This issue is just to rough things in.  I think @DylanLange has already added in that particular image to the app, with pinch to zoom 😁

Proper designs and building a good version of the screen is being tracked in #38

[2020-03-24 09:54] marcedwards commented on #35
Absolutely. Images coming to the repo soon!

[2020-03-24 10:07] adamkoch commented on #30
Ah got it, actually @alessandrofavero updated the phone icon to go to the contacts web link already in https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/58 so we're all set there.

Can close this one out once this is merged:
https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/61

[2020-03-24 10:57] #30 closed

[2020-03-24 11:02] lukesleeman commented on #48
☝️ just as soon as @marcedwards SVG is in, can we mark this ready for dev?  It will be great to get @ericjiang97 working on it :-)

Design looks so awesome, can't wait to see it in a build!

[2020-03-24 11:47] workerbee22 commented on #17
Firebase support for Android merged to Master and codemagic setup and tested deployment correctly to Android devices, with release notes.

[2020-03-24 11:47] #17 closed

[2020-03-24 11:50] workerbee22 commented on #18
iOS Firebase support added to the app and deployed to Master branch. Tested locally and works fine distributing a 'manual' .IPA build file to Firebase App Distribution.

But codemagic needs iOS builds to be signed using a 'provisioning profile' setup via an Apple Developer account. So the codemagic script line to deploy to Firebase is commented out for now until this iOS code signing can be done.

[2020-03-24 11:51] marcedwards commented on #48
FYI:

`/assets/images/main_logo.svg` = the logo.
`/assets/images/main_header.svg` = the background for the header.

[2020-03-24 11:55] workerbee22 commented on #15
Given we have FB support in the app for FB App Dist ... we could use Crashlytics, but I'm not that wedded to it.

[2020-03-24 11:58] workerbee22 commented on #14
Needs the Apple Developer account to create a provisioning profile, to then sign the iOS file and produce a .IPA file for distribution via Firebase App Distribution (or TestFlight or App Store).

[2020-03-24 12:22] fmatosqg commented on #56
@lukesleeman @greggmiller  coming through https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/69

[2020-03-24 12:32] lukesleeman opened #70 "Update Readme.md to be clear that all WH logos, etc are ©"
Our readme.md currently has a section on licensing, which says the app is licensed under ASF 2.0

We need to include some additional info that says all the western health logos, etc belong to western health.

Some examples of how other projects have tackled this:

https://github.com/bjango/Bjango-Templates
https://github.com/rust-lang/rust

[2020-03-24 12:35] workerbee22 opened #71 "Update Android Launcher Icon and App Name"
Make the launcher icon an Android Adaptive Icon, so on devices like Google Pixel, Samsung devices etc. the icon is not just a white circle with the icon very small in the middle of the white circle.

[2020-03-24 13:05] rockgecko-development commented on #40
The bullet point content is already included in #54 , merged this morning.

[2020-03-24 19:52] #44 closed

[2020-03-24 20:27] lukesleeman commented on #32
@Mattro put some screens in zeplin!

![image](https://user-images.githubusercontent.com/902252/77473544-bbd2d780-6e69-11ea-90dd-bf2e29b98815.png)

@greggmiller Had some feedback on this:

![image](https://user-images.githubusercontent.com/902252/77473652-e3c23b00-6e69-11ea-9493-d759bbe040f4.png)

@Mattro or @marcedwards  are you able to action gregs feedback, particularly about the order for PPE o

[2020-03-24 20:30] lukesleeman commented on #32
With what Greg was saying about the collapsible text - The designers have taken the deliberate approach not to collapse it, and just have it scrollable.  If we need some way for the users to keep track of their progress through the process (collapsing things? a timer like Kim suggested? checkboxes?) then we can do that a bit later as part of another issue

[2020-03-24 20:32] lukesleeman commented on #33
Just some clarification - perhaps @greggmiller can help out - We have the step by step guide over in issue #32 .  How is the infographic different?  Is this just the complete page 2 from the PDF, totally un-altered?  Perhaps with some pinch to zoom or something?

[2020-03-24 20:36] lukesleeman opened #72 "Update PPE Techniques page buttons"
The PPE page currently looks like this:

![](https://user-images.githubusercontent.com/902252/77302471-79b07580-6d45-11ea-985e-dc63f4a4b326.png)

It needs to look like this:

![image](https://user-images.githubusercontent.com/902252/77474437-35b79080-6e6b-11ea-9442-6c51aa919a2c.png)

The updated designs are in Zeplin.  Things I can see:

- There are two buttons for Taking off PPE
- The taking off

[2020-03-24 20:37] lukesleeman commented on #34
@Mattro FYI, I've created a issue to update the PPE techniques page buttons and a few other things in #72

[2020-03-24 20:42] lukesleeman commented on #34
@Mattro has put some designs in zeplin:

**Method 1**
![image](https://user-images.githubusercontent.com/902252/77474819-e0c84a00-6e6b-11ea-9b07-bce3ae2e473b.png)

**Method 2**
![image](https://user-images.githubusercontent.com/902252/77474841-e9b91b80-6e6b-11ea-82d0-452cd9ff430c.png)

@greggmiller Is this all correct?

In slack @greggmiller said:

I've put some potential suggestions for this over

[2020-03-24 20:43] lukesleeman commented on #35
Just some clarification - perhaps @greggmiller can help out - We have the step by step guide for _taking OFF_ over in issue #34 . How is the infographic different? Is this just the complete page 1 from the PDF, totally un-altered? Perhaps with some pinch to zoom or something?

[2020-03-24 20:50] lukesleeman commented on #48
@ericjiang97 just to be super clear on when you need to start work on this:

Once PR #64 #65 and #66 are merged you will have everything you need to do this work.  Those PRs should be _very, very_ easy to review and merge as they are just adding some assets.  In fact I think @ericjiang97 you can review and merge them yourself, some already have ✅

Once those PR's are merged, please tag this issue

[2020-03-24 21:00] lukesleeman opened #73 "Rough, ugly version of the disclaimer screen"
We need to build a really quick and ugly version of the disclaimer screen.  The nice beautiful ✨ well designed ✨ version of this screen is being tracked as part of #47  .  But its going to be a while until the designers get around to doing it.

In the meantime we have the copy and it would be great to just do a rough version so we have _something_ in the application.

Here is the copy that needs t

[2020-03-24 21:03] lukesleeman commented on #73
@adamkoch given your design background, perhaps this is something you could pick up today and implement in a way that is not _too ugly_ ?

Its going to be a few days until we have actual proper designs from the design team (being tracked in issue #47 ) so I'm keen we just do some "developer design" and get this into the app ASAP.  We can always come and polish it in 3 or 4 days time once the final

[2020-03-24 21:06] lukesleeman commented on #47
FYI just to unblock the developers I've opened up issue #73 to do a rough ugly version of the disclaimer screen.  This is just so we can get something into the app while the designers work on higher priority screens.

Continue to track the proper version of the screen though this issue 🙂

[2020-03-24 21:07] lukesleeman commented on #47
Questions for @greggmiller :

1 - Could we have an "I accep" button instead of a checkbox?  An particular reason for a checkbox?

2 - Does this screen pop up _every_ time the user opens the app?  Or only the 1st time after they have installed it?

[2020-03-24 21:18] lukesleeman commented on #32
Question for @greggmiller - Over in the PPE **taking off** there is a hand hygene image that looks quite nice:

![image](https://user-images.githubusercontent.com/902252/77477880-2d625400-6e71-11ea-8ef9-c5e665ebdb42.png)

Can we use that same image in here for the **putting on** ?

[2020-03-24 21:28] kimngyn commented on #32
I think we should use the same image, and tweak the writing

[2020-03-24 22:14] greggmiller commented on #47
1. Yes! good idea
2. Just first time they use it. After that information is available in About section.

[2020-03-24 22:37] adamkoch commented on #73
@lukesleeman sorry I am of action during the day now as have some urgent work stuff to attend to. i will try and spend some time in the evenings after kids asleep but i would recommend another dev pick it up if possible for now

[2020-03-25 00:05] #28 closed

[2020-03-25 01:19] lukesleeman commented on #73
@Western-Health-Covid19-Collaboration/flutter-devs  - who can pick this issue up?  Its ready for dev to go 😁

[2020-03-25 01:20] lukesleeman commented on #72
@Western-Health-Covid19-Collaboration/flutter-devs who can pick this one up?  Its ready for dev and a great 1st issue for somebody to attack :-)

[2020-03-25 01:22] alessandrofavero commented on #73
I can pick this one up after work @lukesleeman

[2020-03-25 01:24] lukesleeman commented on #73
Thats great!  If anybody else is avalible to tackle it even soon just assign the issue to yourself and start work 😁. If nobody has taken it by the time you get off work Alessandro, you can grab it 👍

Luke
On 25 Mar 2020, 12:22 PM +1100, Alessandro Favero <notifications@github.com>, wrote:

[2020-03-25 01:30] greggmiller commented on #32
Yes fine for hand hygiene to be pulled from elsewhere

And yes, we can put the modifications (collapsible etc.) in  later.

[2020-03-25 01:31] greggmiller commented on #32
@kimngyn Are you happy to take this on?

[2020-03-25 01:37] marcedwards commented on #32
@kimngyn Yep! The plan was to use the same image, but to avoid confusion, maybe I should duplicate it with a different name. I should also rename from `washhands` to `hand_hygene`. I’ll do that now.

[2020-03-25 01:40] lukesleeman commented on #73
Based on https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/47#issuecomment-603532832

This screen should ahve an "I accept" button
It only needs to pop up the first time they enter the app.  Once they accept it, they don;t see it again on app load.  Of course you can access any time through the info screen :+1:

[2020-03-25 01:42] lukesleeman commented on #28
👏👏👏👏👏👏👏 I know it looks ugly as all hell, as it hasn't been properly designed yet, but its amazing seeing this in the app.

So excited 😁

Great job everyone!

[2020-03-25 01:48] greggmiller commented on #34
A ⚠️ icon might be useful to reinforce things.

As long as order matches the source document we are good!

https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/Western%20Health%20donning%20and%20doffing%20PPE.pdf

[2020-03-25 02:16] marcedwards commented on #32
This has been done with https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/75

I think we’re ready for dev now.

[2020-03-25 02:21] marcedwards commented on #34
We have one of those already built and on the repo (`icon_warning.svg`) that might suffice. Here’s a quick mockup with it in place. Is this good enough, or does it need to be stronger?

![alert](https://user-images.githubusercontent.com/1121547/77494974-64e5f600-6e9b-11ea-815c-c953b445c2dd.png)

[2020-03-25 02:23] galtaforce commented on #42
Hi all. Jonathan here, another anaesthetist helping Gregg out.

ICU General Care will contain a daily checklist for managing patients similar to this:
[ICU daily checklist.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4378666/ICU.daily.checklist.pdf)

Probably would work with collapsable sections for each heading. Excuse any Github _faux pas_ as new to using it!

[2020-03-25 02:29] kimngyn commented on #32
Ok ill do this one

[2020-03-25 03:50] greggmiller opened #76 "Change title "Intubation" to "Airway""
Another important aspect of Airway management is Extubation (removing the breathing tube).
Apologies but  consideration of extubation was slightly neglected as we were all focusing on intubation (often its weeks later in COVID patients that they require extubation).

With this in mind, we should change title to Airway (which will cover both intubation and extubation).
Is this easy enough to go str

[2020-03-25 03:54] greggmiller commented on #34
That’s fine. Thanks

[2020-03-25 04:28] marcedwards commented on #47
Here’s one approach we could take:

![Launch Disclaimer](https://user-images.githubusercontent.com/1121547/77501645-ba76ce80-6eac-11ea-8ac8-a6d360789ad0.png)

------

It’s very likely the text won’t all fit on one screen on most devices, and definitely won’t all fit on smaller devices. There’s a couple of solutions for that. If it’s okay for the person to accept the terms, we can just anchor the b

[2020-03-25 04:55] benblackman commented on #47
Hi Ben here, another Anaesthetic doc at WH.

I would have thought medicolegally it would make sense to ensure they've scrolled down as a proxy for ensuring they've read it. Doesn't really affect the usability of the app if we're only doing it on first use as per @greggmiller 's recommendation above. Thanks!

[2020-03-25 05:00] marcedwards commented on #47
@benblackman Thanks! I agree that it’s not likely to be an issue, given it just happens once. We’ll take that path.

[2020-03-25 05:11] marcedwards opened #77 "Remove unneeded images for PPE donning and doffing"
There’s four images that we no longer need. I’m creating this as an issue rather than doing it myself, in case there’s places in the code that reference them that also need to be edited (developer assistance required!).

These can all be deleted:
[code]

[2020-03-25 05:13] marcedwards commented on #76
I think this is entirely your call, and it can go straight to a developer to change.

The only design consideration is to make sure we have updated design docs (hi, @Mattro).

[2020-03-25 05:15] Mattro commented on #76
Can do. Easy change.

[2020-03-25 05:15] greggmiller commented on #76
Thanks Marc, ready for dev it is!

[2020-03-25 05:16] alessandrofavero commented on #73
I'm picking this up now

[2020-03-25 05:38] benblackman commented on #46
I've made a google form and added a question for bug reporting

https://forms.gle/zQtfhvswrKmjJjNV7

Collaborator link: https://docs.google.com/forms/d/1XH3hVTGjP1wGWBLTetxoYYs224U0BRvH3vggj0SsvtU/edit?usp=sharing

I can see that it's not a quick bug reporting option but I haven't made any questions compulsory; could always lead with that question and then users can scroll through the rest if they

[2020-03-25 05:39] marcedwards commented on #47
Just noting here that @Mattro and I discussed that “please scroll down to agree” is a bit ambiguous. Matt suggested “scroll to bottom to agree”. I think that’s better.

[2020-03-25 05:56] marcedwards commented on #46
Looks good. I may be sensible to keep the form as short as possible, to encourage more people to use it? What _don’t_ we need?

Can we know that, by sending some information to the form or by having two forms?

Qualitative, text based responses may be more valuable to us?

I think this is a good approach, it’d just be nice to keep it as short and tidy as possible.

------

Maybe we could change th

[2020-03-25 06:11] greggmiller commented on #76
Is it easy @Mattro @marcedwards to add a subsection within Airway called extubation? It can be lowest in the priority of the section.

[2020-03-25 06:13] Mattro commented on #76
As a sub-heading, or as a button?

Happy to add it. Can you hook me up with some content to put there?

[2020-03-25 06:16] Mattro commented on #76
![image](https://user-images.githubusercontent.com/1920449/77507312-4fcd8f00-6ebc-11ea-80f8-cad4648e2892.png)

**Zeplin**
Web link: https://zpl.io/2GlWe5J
App link: zpl://screen?pid=5e7597a68651056664fb6e53&sid=5e75998deff8336f22e350ed

[2020-03-25 06:22] benblackman commented on #46
Thanks Marc. I've also just made a couple of changes in line with an email from Gregg regarding the intended users.

Knowing the OS would definitely be beyond my expertise; I guess we could have a duplicate form with a different link for Android and iOS systems, but I'd presume that the fewer the differences between the two builds the easier it is for you guys?

There probably is a bit of redundan

[2020-03-25 06:35] marcedwards commented on #46
Sorry, I should have directed that question to someone else! I’m not sure if it’s super easy, or something that will be more of a pain.

[2020-03-25 06:36] greggmiller commented on #46
Agreed streamlining it is best.

OS question can probably be removed @marcedwards @maks @lukesleeman might be the best to answer that?

"What did you find most useful?" we could remove
I think keeping "anything to add" is good as we will note trends.
If there is something that needs removed, will come up as recurring theme in "other comments"

Please report specific bugs to: email

That would leav

[2020-03-25 06:38] greggmiller commented on #76
That's perfect @Mattro

[2020-03-25 06:47] marcedwards commented on #73
@alessandrofavero Awesome! There’s some more info on the design here: https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/47

[2020-03-25 07:25] lukesleeman commented on #32
Just spoke to @kimngyn she is working on this now :-)

Go Kim! 🙌 🙌 🙌

[2020-03-25 07:44] alessandrofavero commented on #73
@marcedwards @lukesleeman I have a first one working with:
- first-time view
- an agree button
- changes if seen from the info page (no button + back button on App bar)
![disclaimer_first_time](https://user-images.githubusercontent.com/43284065/77513117-7f829400-6ec8-11ea-9d6d-e8f06863a0d9.gif)

![disclaimer_accepted](https://user-images.githubusercontent.com/43284065/77513142-8e694680-6ec8-11ea-9

[2020-03-25 07:56] alessandrofavero commented on #73
I'm looking at it now!

[2020-03-25 08:00] lukesleeman commented on #46
Wow, great to see so much collaboration going on in this issue.  @benblackman - are you able to make a call if this is a Priority 1, 2 or 3 issue?  1 being the most important things to get into the app, and 3 being the least?

Once you have decided you can set a label on the issue.  This will help us prioritise the work :-)

[2020-03-25 08:04] lukesleeman commented on #73
Wow!  Amazing work, you are all going sooooo fast!

TBH, when I set things up this morning I didn't think the designs would be done for a few days.  It sounds like they are almost complete!

I'm going to actually close this issue and just get @alessandrofavero working on the final version ( #47 ) , given we have nice designs.

Great job everybody 👏

[2020-03-25 08:04] #73 closed

[2020-03-25 08:05] lukesleeman commented on #47
@alessandrofavero  - I've assigned you to this issue!  Please update your current disclaimer work to match the designs.

I'm amazed how quickly this is coming together ⭐️

[2020-03-25 08:54] greggmiller commented on #35
Yes this is page 1 of PDFs @marc @luke

[2020-03-25 08:55] greggmiller commented on #33
Yes, this is page 2 of PDF @marc @luke

[2020-03-25 09:06] marcedwards commented on #47
Here’s some sizes and specs that may be handy. Spacing and text is all very similar to the rest of the app. The spacing and margins is either 16pt or 32pt. I don’t know if we have a button component like this yet though?

The grey at the top just shows where the status bar is — we’d just have the normal status bar there, like the rest of the app.

![specs](https://user-images.githubusercontent.com

[2020-03-25 09:11] marcedwards commented on #35
Devs: Will we just want this as an image? If so, I can add those to the repo.

[2020-03-25 09:12] alessandrofavero commented on #47
@marcedwards What about something like this for the "scroll down" that disappear.
![Screenshot_1585127434](https://user-images.githubusercontent.com/43284065/77520148-da21ed00-6ed4-11ea-9cc7-441e0d3eed2f.png)

[2020-03-25 09:14] marcedwards commented on #47
Sure! That looks great!

[2020-03-25 09:21] greggmiller commented on #47
That looks great!

[2020-03-25 09:23] greggmiller commented on #46
Priority 2. Ben may be offline for the night.

[2020-03-25 09:30] alessandrofavero commented on #47
Feedback please @marcedwards

First time disclaimer:
![intro_disclaimer](https://user-images.githubusercontent.com/43284065/77521842-69c89b00-6ed7-11ea-80a3-7d939ee7b11b.gif)

Disclaimer view from within the app:
![disclaimer_agreed](https://user-images.githubusercontent.com/43284065/77521884-777e2080-6ed7-11ea-83c1-770d966f54ee.gif)

[2020-03-25 09:45] adamkoch commented on #72
I can do this quickly now if nobody else is?

[2020-03-25 09:49] lukesleeman commented on #72
I think @kimngyn and @ericjiang97 are on it at the moment

[2020-03-25 09:50] adamkoch commented on #72
Ok cool 👍

[2020-03-25 10:07] marcedwards commented on #47
Looking good! Some feedback:

- We probably don’t need to show the “Scroll down to agree” when they’ve agreed?
- There’s some new paragraphs in the text that don’t have a full paragraph space (maybe they need two return characters?).

[2020-03-25 10:14] lukesleeman commented on #33
Ok, awesome!  From a design POV then, I think is pretty easy @marcedwards  - I'm guessing just a view of the image with pinch to zoom?

Based on what the flutter devs are saying in GDG slack, its easy to pull up the OS share sheet thing.  I think it would be a nice idea to add a share button, so they can send the image wherever they need to.

@Western-Health-Covid19-Collaboration/designers are you

[2020-03-25 10:16] lukesleeman commented on #35
Ok, awesome! From a design POV then, I think is pretty easy @marcedwards - I'm guessing just a view of the image with pinch to zoom?

Based on what the flutter devs are saying in GDG slack, its easy to pull up the OS share sheet thing. I think it would be a nice idea to add a share button, so they can send the image wherever they need to.

@Western-Health-Covid19-Collaboration/designers are you ab

[2020-03-25 10:18] lukesleeman commented on #46
I've moved this over to `Ready for Dev`. Can one of the @Western-Health-Covid19-Collaboration/flutter-devs pick it up?  All you need to do is make the button that says "app feedback" in the information screen open this up url up: https://forms.gle/zQtfhvswrKmjJjNV7

[2020-03-25 10:21] lukesleeman commented on #35
Yep, just an image will be best

[2020-03-25 10:22] alessandrofavero commented on #47
No worries, I fixed them.

[2020-03-25 10:25] lukesleeman commented on #42
Wow, I had a look at the PDF and there is a lot in there to put into one mobile app screen.

@galtaforce is there anything that they should prioritise or should remove?  Do we want this checklist with tick boxes that users can tick?

[2020-03-25 10:26] lukesleeman commented on #40
Yep!  This issue is to build out a more nicely designed version of that screen

[2020-03-25 10:52] greggmiller commented on #43
We can always just add Page under construction for this one for time being. This will probably be the last one to fill as we are still waiting for the ICU to provide us with what they wish to do.

[2020-03-25 10:55] lukesleeman commented on #43
Yeah, it currently just says "TODO" in that screen

[2020-03-25 20:49] lukesleeman opened #86 "Add in a code of conduct"
Most open source projects have a code of conduct.  I started things so quickly, I didn't have time to look for a good one and add it to the repo.

Somebody needs to have a look at open source code of conducts, find a commonly used, suitable code, and add it to the `/docs` directory.  The readme.md should be updated to point at it

[2020-03-25 20:50] lukesleeman commented on #86
`@Poornima Sivakumar` from the GDG slack will be working on this one :-)

[2020-03-25 20:50] lukesleeman commented on #70
`@Poornima Sivakumar` from the GDG slack will be working on this one

[2020-03-25 20:52] lukesleeman commented on #77
@marcedwards  - Thanks for the heads up!  I've tagged this one `Read for dev` :-) !  In future feel free to add the `Read for dev` label to issues that are ready to go 👍 🏎🏎

[2020-03-25 20:56] lukesleeman commented on #71
@workerbee22 do you want to tag this one either as `design` if we need assets or `ready for dev` if somebody can pick it up?

I've put this down to 3rd priority - The lack of adaptive icon makes me 😬😬😬 every time I see it, but ultimately the android icon isn't going matter much to the staff in the hospital once the flood of patients starts 😕

[2020-03-25 21:33] galtaforce commented on #42
Yeah, it's a really long checklist - I've been told there is likely to be an updated version soon too. As for mobile display, could it perhaps present a single screen of related questions at a time? Although probably not good UI principles another option for displaying a single question where the user selects YES or NO and is presented with a scrollable summary at the end?

[2020-03-25 21:46] greggmiller commented on #42
@galtaforce I was thinking we could maybe have two subsections here.

One titled: **Daily ward round ICU**
An accordion or carousel with:
[MAKING A PLAN for THE ICU PATIENT-FM.docx](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4383670/MAKING.A.PLAN.for.THE.ICU.PATIENT-FM.docx)
This could be A - G for each page on a carousel with final page maybe the FASTHUGS checkli

[2020-03-25 21:48] greggmiller commented on #42
We also have the option to keep it very simple in the beginning and develop as time goes on.
Low-hanging fruit and efficiency is probably best for first iteration?

[2020-03-25 22:08] greggmiller commented on #43
I have been in touch with one of the ICU consultants (James Douglas)

He is going to draw up 1-page summaries for us for this to start with.
Initial topics are:

Assessment of the ICU patient
Daily protocols/investigations etc.
Ventilation in ARDS/COVID19
Management of the deteriorating patient
(Management and diagnosis of septic shock and ARF _This may come later as will be a bit further down the

[2020-03-25 22:35] workerbee22 commented on #71
Yep all good and appropriate 👍

[2020-03-25 23:01] workerbee22 commented on #18
Issues resolved and Master branch workflow in codemagic is distributing Android and iOS builds to Firebase App Distribution. But for iOS the process to add new tester iPhone devices is  significant effort. So will look to setup and use TestFlight for iOS app deployments instead.

[2020-03-25 23:02] workerbee22 commented on #18
Closing issue as working correctly.

[2020-03-25 23:02] #18 closed

[2020-03-25 23:02] workerbee22 commented on #14
Setup complete and confirmed iOS signing in Codemagic working correctly. Closing th eissue.

[2020-03-25 23:02] #14 closed

[2020-03-25 23:04] workerbee22 commented on #19
We have the Apple Developer account and configs setup with iOS code signing also completed and testing fine.

[2020-03-25 23:11] workerbee22 commented on #19
Setting up TestFlight and the App Store. We will use TestFlight for all iOS app distributions.

[2020-03-25 23:15] benblackman commented on #46
Thanks all. Yes @greggmiller  I had turned in for the night. My apologies; I'm trying to keep a decent gap between bedtime and screentime/COVID madness!

Gregg, I've changed the google form as per your specifications.
Can I clarify, for feedback email, are you happy to be the recipient of bug emails or would they be better going to someone with more of a coding background? I've put yours in for th

[2020-03-25 23:45] benblackman commented on #47
Looking awesome, amazing work @alessandrofavero

[2020-03-25 23:48] benblackman opened #88 "Section for Proning"
Could we consider a section with checklist/steps for proning?

ICU do it a bit differently from us in theatre and theatre staff cross-skilling will need to be on the same page. This is how they do it https://www.youtube.com/watch?v=YFrA1cCuDnY&feature=youtu.be

Not sure whether better as a subsection of #42 ICU > General Care or a subsection in #40 ICU > Ventilation > Adjuncts, but it would lend i

[2020-03-26 00:06] benblackman commented on #42
All sounds good.

I think the aims of the Daily Checklist and Plan documents are slightly different and we probably need to ask the question of who this section of the app is aimed at and what we're hoping to achieve with it. It might be possible to put the two together, but I'd definitely want to seek ICU's input on that.

From a registrar perspective, (especially if working on paper) I'd use the

[2020-03-26 00:08] benblackman commented on #43
Sounds good. The first two on the list of topics may have a lot of crossover with  #42 I think?

[2020-03-26 00:12] greggmiller commented on #46
Yeah all good Ben. Can be my email for now as first TestFlight build will not be to many and then we can decide on which email after that.

[2020-03-26 00:15] greggmiller commented on #42
This section of the app is aimed at the non-intensive care consultant or senior reg (people like me or you). Mainly as a memory aid as it may be %+ years since we did ICU ward rounds etc.

Agree on the other points. Will wait for @galtaforce opinion and then we can give @Western-Health-Covid19-Collaboration/designers  some clearer direction

[2020-03-26 00:23] galtaforce commented on #88
I think it would be a good idea to include a video. We just need to have an "approved" method of proning.

[2020-03-26 00:26] galtaforce commented on #42
Yeah, I agree might be best separated out. The daily checklist is just an _aide memoire_ for ward rounds which has a different goal from more general tips for managing these patients.

[2020-03-26 00:30] greggmiller commented on #40
@Western-Health-Covid19-Collaboration/designers  beside text "Prone positioning" on "Adjuncts" section could we provide this link https://www.youtube.com/watch?v=YFrA1cCuDnY&feature=youtu.be

[2020-03-26 00:31] benblackman commented on #40
Not wishing to add a lot of complexity, but knowing that low tidal volume ventilation has some of the best evidence for mortality benefit in ARDS, do you think it'd be possible to add a section with a calculator with inputs of Sex (m/f) and Height (cm), and outputs of Ideal Body Weight, 4mL/kg, 6ml/kg, 8ml/kg?

The ARDSNet formulas are:
IBW (kg) in men = 50 + (0.91 × [height in centimeters − 152.4

[2020-03-26 00:33] greggmiller commented on #88
Excellent point Ben.
I think we should have this video link in.
We should include it in ICU general section and JMS section probably?
I think listview would be good for both of these sections. I will put this in #42 and #43

My understanding is that the video content is not embedded in the app so won't take up extra size but instead plays the link through an inbuilt media/youtube player. So extra

[2020-03-26 00:34] domesticmouse commented on #86
[Here's ours](https://github.com/flutter/flutter/blob/master/CODE_OF_CONDUCT.md), for reference.

[2020-03-26 00:45] greggmiller commented on #42
Good @galtaforce and @benblackman do you think we should have both this and #43 as listviews?

In the first instance, I think the lists would include <5-10 topics for each category with a button/gesturedetector to proceed to the information (one page summary).

For this section topics would be:
**Making a plan on daily ward round
Daily checklist
Proning**

For #43 ICU for Junior staffers, topics w

[2020-03-26 00:47] greggmiller commented on #40
Yes this is a greta thought @benblackman I was planning this and a whole section on PEEP/FiO2 ratios and calculations but I thought that might be best left to 2nd iteration once we are up and running so as not to overload the team (any more than already). Sound fair?

[2020-03-26 00:55] greggmiller commented on #88
[Prone Checklist September 2018.pptx](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4384430/Prone.Checklist.September.2018.pptx)

I've just had this checklist sent through from ICU. We will add this in at some point as an infographic.

[2020-03-26 01:20] benblackman commented on #40
Sounds very fair- really impressed with the amount of hard work going into this already. Is it easier to build sections into the architecture now with an 'under construction' flag or just as easy to add them later? @Western-Health-Covid19-Collaboration/designers

[2020-03-26 01:23] benblackman commented on #88
Sounds great. I suspect it may need a bit of reformatting for a small screen but seems very comprehensive.

[2020-03-26 01:36] benblackman commented on #42
@greggmiller I've had a go at putting it in one document (before I saw your last post admittedly, but might as well show it), in order to cover assessment and planning in one place.

You could have a carousel that displays

A (status), A (planning), B (status), B (planning)..... etc.

or

A (status), B (status), C (status)..... A (planning), B (planning), C (planning).... etc.

and that would keep

[2020-03-26 01:49] lukesleeman commented on #40
IMHO it may be best to add "under construction" or TODO to sections.

However - we are moving super, super quick and iterating.  Perhaps a good way of building this is:

Step 1:
@Western-Health-Covid19-Collaboration/medical  gives us some super simple text or pictures we can add in right now.  Just think:  What is the simplest most helpful message for the staff that we can give them _today_

Perha

[2020-03-26 01:52] poornima2796 commented on #86
Thanks @domesticmouse !

[2020-03-26 01:58] benblackman commented on #42
Thinking about it, I think there's a lot of crossover between the information that a senior and junior doc want to access. Would it make more sense just to split up the ICU section by topic rather than seniority?

I also reckon it might be better to divide A-x into one status carousel called Daily Assessment, and one called Targets and Planning, corresponding to the two main columns of the documen

[2020-03-26 02:03] benblackman commented on #40
Sounds great @lukesleeman

Only thing I'd change is to add the recommended tidal volume to your wording

No rush to change it for a calculator.

[2020-03-26 02:33] adamkoch commented on #88
Actually I ended up just embedding lower-res versions inside the binary ([here](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/tree/master/assets/videos)). We can switch it to embedded videos if needed.

[2020-03-26 03:16] greggmiller commented on #42
w/r/t 1st Q: Yes it probably would. The issue is ICU cons have approached me about content for senior medical staff (non-intensivist) and ICU regs about advice for the JMS. The concern with the second topic is that we will end up with medics with almost no critical care experience manning ventilators etc.

However, I think your suggestions make sense.
How about for the 3 boxes below ICU section:

[2020-03-26 03:29] greggmiller commented on #42
Really like the ventilation suggestions. We could have those 4 subsections as list or as recommended by @Western-Health-Covid19-Collaboration/designers

[2020-03-26 03:48] greggmiller commented on #37
@galtaforce Very keen if you have the opportunity to review the above, ensure it complies with current WH policy (I believe there have been recent changes) and amend/modify as you recommend.
@benblackman Please feel free to provide feedback also!

[2020-03-26 03:52] galtaforce commented on #37
Looks to comply as far as I can see. All following the SAS guidelines. There may be the addition of hooded coverall PPE so perhaps we could just direct people to the PPE section to make sure only the most recent information is shown.

[2020-03-26 04:17] joshcase commented on #76
Fixed in #91

[2020-03-26 04:17] workerbee22 commented on #71
Note that designers have provided and assets in the app for Adaptive Icons already. So will just investigate why these are not being used atm.

[2020-03-26 04:17] marcedwards commented on #35
This should be ready for some dev work. The related images are now here:

`/assets/images/infographics/taking_off_ppe_1.png`
`/assets/images/infographics/taking_off_ppe_2.png`

[2020-03-26 04:18] marcedwards commented on #33
This should be ready for some dev work. The related image is now here:

`/assets/images/infographics/putting_on_ppe.png`

[2020-03-26 04:38] greggmiller commented on #35
@Western-Health-Covid19-Collaboration/flutter-devs  Anyone free to help Marc with the above?

[2020-03-26 04:43] benblackman commented on #37
Agreed with redirection to the PPE section

I think David Bramley mentioned that we don't want people to think that the hooded coverall is a necessary condition of AGP care once it arrives, as stock levels may require us to return to standard gowns. Should we present it as an alternative option? I guess more of a question for #32 ?

[2020-03-26 04:48] benblackman commented on #42
Thanks Gregg. So is what you're saying the following?

ICU >

Daily Management
- Daily Assessment [A-CPR (status)]
- Targets and Planning [A-CPR (planning)]
- Daily Care Checklist [FLATCHUGS]

Ventilation
- Ventilation in COVID-19/ARDS
- Proning
- Tidal Volume calculator
- PEEP Chart

Additional ICU Guidance
- COVID-19 Treatment Protocol
- Management of the Deteriorating Patient

[2020-03-26 06:21] fabiendade commented on #42
Hey all, I’m Fabien - ICU reg.

Re “splitting ICU guidance” between junior and senior medical staff, it may be simpler to include both sets of information in one list, but insert prompts to escalate/ discuss with ICU reg / Anaesthetic reg at an appropriate point in the pathway.

For things which require senior discussion e.g introducing an inotrope - a prompt to inform a senior medical staff membe

[2020-03-26 07:10] kimngyn commented on #37
[SAS COVID 19 infographics.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4385546/SAS.COVID.19.infographics.pdf)

[2020-03-26 07:27] benblackman commented on #42
Sounds good to me Fabien.

[2020-03-26 07:45] kimngyn commented on #38
![COVID-19_Emergency_Intubation_Checklist](https://user-images.githubusercontent.com/42886400/77622195-eae46880-6f91-11ea-8f0e-74e5732adecc.png)

[2020-03-26 09:34] lukesleeman commented on #39
[SAS COVID 19 infographics 1 2.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4386285/SAS.COVID.19.infographics.1.2.pdf)

[2020-03-26 09:41] lukesleeman commented on #36
[Sustaining wellbeing COVID19_ICS.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4386325/Sustaining.wellbeing.COVID19_ICS.pdf)

[2020-03-26 09:54] workerbee22 commented on #19
App Store Connect setup done initially. Waiting for Apple Beta review of the app. Due in 24 - 48h. In the meantime first 2 distributions via TestFlight tested successfully to iPhones 🎉

[2020-03-26 09:57] workerbee22 commented on #20
After discussion with @maks planning on a Google Play setup for 'Beta' versions of the app. Also considering 'Internal' builds of the Android app version, rather than Firebase App Distribution for Android, although that works well.

Need to be careful as Google seems to be much more strict on Covid19 content in Google Play than App is for the App Store.

[2020-03-26 10:20] lukesleeman commented on #36
Went through and this one is definitely ready for the design team 👍 👨‍🎨

[2020-03-26 10:26] lukesleeman commented on #39
I spent some time discussing this issue and issue #37 with @Mattro on facetime tonight.

It seems like this screen and the "intubation step by step guidance screen" are duplicates of each other?  It's basically that we need to "SAS COVID 19 infographics 1 2.pdf" into the app?

I've asked @Mattro to progress the work via issue #37 and I'm reassigning this one over to @greggmiller

Greg:  Can you cl

[2020-03-26 10:32] lukesleeman commented on #35
@Western-Health-Covid19-Collaboration/medical  I discussed this issue on a call with @Mattro  tonight - He quite accurately pointed out, that with the step by step guide currently going into the app, there is probably no need to display the original infographic in the app.

And if there is a need, the priority is probably quite low, since it just has the same information as the existing step by st

[2020-03-26 10:33] lukesleeman commented on #33
@Western-Health-Covid19-Collaboration/medical  I discussed this issue on a call with @Mattro  tonight - He quite accurately pointed out, that with the step by step guide currently going into the app, there is probably no need to display the original infographic in the app.

And if there is a need, the priority is probably quite low, since it just has the same information as the existing step by st

[2020-03-26 10:33] Mattro commented on #38
Should the state be reset, ever?
IF the state isn't saved, I assume it will be discarded on either:
 - Page load ?
 - App exit/launch ?

(Do I need to account for a reset button?)

[2020-03-26 10:38] greggmiller commented on #36
As the user, our intention would be that this page outlines the phases of the pandemic (as illustrated on page 1 of PDF) and impact it may have at that time on our mental health, then the recommended approach to minimise harm and appropriately self-care.
This would not need to be an exhaustive list of the bullet points but more an over all feeling.

[2020-03-26 10:39] lukesleeman commented on #38
I think on page load.  Basically if you go in, its all fresh, with 0 tickboxes ticked.

[2020-03-26 11:27] greggmiller commented on #42
Great insights Fabs. James Douglas (ICU consultant) will look over this and get back to us.

The intention here is we want to get the broad strokes in management right and not worry over the minutiae of every aspect.

[2020-03-26 11:44] greggmiller commented on #39
Page 2 of SAS COVID 19 infographics 1 2 is not covered in step-by-step guidance so is worth including here.

Given that this topic is now "Airway" could we change this section form "Algorithm" to "Infographics" as we now have infographics that we are using for "Intubation" and "Extubation" from different society/guidelines.

The intention would be to allow us to have quick access to all of these i

[2020-03-26 11:49] greggmiller commented on #35
Unfortunately, I still think we need to include it as although it is a low pixellated mess, it is the "official" ICU and anaesthetics technique.
Is the issue the low-quality and difficulty in cleaning it up?
Maybe @galtaforce knows where we could find a higher quality of the same image?
@Fabiendade do you know from ICU where or how we can get a better quality image of the document below?

PDF in q

[2020-03-26 11:49] greggmiller commented on #33
Unfortunately, I still think we need to include it as although it is a low pixellated mess, it is the "official" ICU and anaesthetics technique.
Is the issue the low-quality and difficulty in cleaning it up?
Maybe @galtaforce knows where we could find a higher quality of the same image?
@Fabiendade do you know from ICU where or how we can get a better quality image of the document below?

PDF in q

[2020-03-26 11:50] greggmiller commented on #33
Agree, though priority 3 is fine for this

[2020-03-26 12:04] lukesleeman commented on #39
Ok, thats great.  So just to be 100% clear:

Issue #37 **only covers page 1 of `SAS COVID 19 infographics 1 2.pdf`**

This issue is that we should display page two of `SAS COVID 19 infographics 1 2.pdf` and `Extubation_Infographic.pdf` just as pinch to zoom images, just so we have the infographics in the app?

@greggmiller Is that correct?  If so, can you:

- Tag this issue as `design`
- Comment o

[2020-03-26 12:06] lukesleeman commented on #35
Ahhh, ok, I understand.  I think for version 1 the pixellated mess will be fine.  We can always include a higher resolution version when we find it.

I'm re-assigning this over to design.  As I mentioned above, I think just a pinch to zoom version of the image should be fine.  A button to bring up the OS share sheet would be nice.

[2020-03-26 12:07] lukesleeman commented on #33
Awesome got it 👍 - as I said in the other issue, I think for version 1 the pixellated mess will be fine.  We can always include a higher resolution version when we find it.

I'm re-assigning this over to design.  As I mentioned above, I think just a pinch to zoom version of the image should be fine.  A button to bring up the OS share sheet would be nice.

[2020-03-26 12:09] greggmiller opened #96 "Changes to wording on home screen and on app hierarchy map"
After several discussions throughout today with @Western-Health-Covid19-Collaboration/medical  and others.

**_Changes are:_**

**ICU**
**Ventilation** remains
**General care** change to **Daily Round**
Tips for **Junior staff**  change to **Cross-skilling**

(Cross-skilling is the likely event that many medics will be working in roles outwith their usual responsibilities during the surge of the p

[2020-03-26 12:10] lukesleeman commented on #86
This is now merged, great job @poornima2796 ! 🙌

[2020-03-26 12:10] #86 closed

[2020-03-26 12:11] marcedwards commented on #33
We can build as is, then swap in higher quality images, if we get them.

[2020-03-26 12:41] fabiendade commented on #35
I will contact the department who created the poster tomorrow and see if they have higher resolution images.

[2020-03-26 20:39] lukesleeman commented on #76
Nice!

[2020-03-26 20:39] #76 closed

[2020-03-26 20:50] lukesleeman commented on #70
this is done!

[2020-03-26 20:50] #70 closed

[2020-03-26 20:55] lukesleeman opened #98 "Display failed codemagic builds in PRs"
I investigated some PRs that got stuck last night:

https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/89
https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/82

And it seems the build is actually failing due to code style errors.  However if you look at the PR it looks like we are just waiting on the build to complete:?

![image](https://user-image

[2020-03-26 20:59] lukesleeman commented on #96
Yep, I think either @Mattro or @marcedwards Will need to update the `Main` and `Flow Diagram` screens in zeplin, with these changes, then we should be good to go.

[2020-03-26 21:00] Mattro commented on #96
I’ll knock this one off in the next hour.

[2020-03-26 21:01] lukesleeman commented on #96
Amazing!  🙌

Post some pics and move to ‘read for dev’ when you get it done 🙂

Luke
On 27 Mar 2020, 8:00 AM +1100, Matt Kelsh <notifications@github.com>, wrote:

[2020-03-26 22:37] Mattro commented on #96
This is ready to go @lukesleeman

[2020-03-26 22:58] greggmiller commented on #96
Awesome!

@Western-Health-Covid19-Collaboration/flutter-devs
Over to you! Thanks!

[2020-03-26 23:38] greggmiller commented on #96
@Mattro  Sorry after discussing this I’ve realised it might be better if Intubation and Extubation were laid out symmetrically. They are essentially equal and opposite actions (tube goes in, tube comes out!). So it will be more intuitive and functional for the user if the architecture is  the same:

Airway                        -->  Intubation --> Steps, checklist, infographics

[2020-03-26 23:46] #48 closed

[2020-03-26 23:46] ericjiang97 commented on #48
Resolved in #82

[2020-03-26 23:47] ericjiang97 commented on #32
Resolved in #89

[2020-03-26 23:47] #32 closed

[2020-03-27 00:04] workerbee22 commented on #47
Ok so we have a crash on iOS builds, but its a standard Flutter issue ie. Overflowing the bottom of the screen.

![image](https://user-images.githubusercontent.com/5154664/77707909-ae108400-701a-11ea-9505-8a79814701ac.png)

[2020-03-27 00:11] workerbee22 commented on #47
@alessandrofavero Also got this assertion failure on an Android Nexus 6P:

`
════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following assertion was thrown building FutureBuilder<bool>(dirty, state: _FutureBuilderState<bool>#9dfcf):
'package:flutter/src/material/app_bar.dart': Failed assertion: line 199 pos 15: 'automaticallyImplyLeading !=

[2020-03-27 00:18] alessandrofavero commented on #47
Thanks for the feedback @workerbee22 . I didn't encounter this error on testing (Pixel 4XL, Pixel 2, Pixel 3a, Galaxy Nexus). I think I know where the problem is, I need to handle the snapshot better. I'm at work now I will give it a look later today.

[2020-03-27 00:19] alessandrofavero commented on #47
@workerbee22 what is the resolution of the device that you used to test? Thanks

[2020-03-27 00:22] workerbee22 commented on #47
@alessandrofavero Overflow is on an iPhone 6 so not that high a resolution. Not sure the exact height, but we should always allow for almost any height?

[2020-03-27 00:36] alessandrofavero commented on #47
@workerbee22  The thing is, based on the device height it either shows a column (no need to scroll, it fits in the view) or a ListView. I made that condition based on MediaQuery.of(context).size.height with a threshold at 600 logical pixel. I tested on Pixel 4XL, Pixel 3a, Pixel 2 and Galaxy Nexus and it worked just fine. By not having a Mac I'm not able to test on iOS unfortunately. We might need

[2020-03-27 00:59] workerbee22 commented on #47
We should make it a scrollable widget regardless of height, but will have to take a closer look at the code tonight.

[2020-03-27 01:30] domesticmouse commented on #47
Drop the media query and use [SingleChildScrollView](https://api.flutter.dev/flutter/widgets/SingleChildScrollView-class.html) instead. That way it'll do the right thing, no matter the context.

[2020-03-27 02:41] alessandrofavero commented on #47
@domesticmouse true! But if I use a SingleChildScrollView how can I detect if the view fits or not the device display? If it doesn't fit (needs scrolling) I need to show the "Scroll down to agree".

[2020-03-27 02:45] domesticmouse commented on #47
This sounds like a question for `StackOverflow`, as it is beyond my knowledge of the framework. There is a way to measure a widget, but you have to do it during the render phase if memory serves.

[2020-03-27 02:50] alessandrofavero commented on #47
@domesticmouse  no worries! I'll see if any @Western-Health-Covid19-Collaboration/flutter-devs has a possible solution otherwise StackOverflow. Thanks!

[2020-03-27 03:39] greggmiller commented on #96
Can I retract previous comment, (unless @Western-Health-Covid19-Collaboration/designers @Mattro  have been working on it in last few hours).

It is good for the first iteration if extubation is one box.

I am removing design label and saying ready for @Western-Health-Covid19-Collaboration/flutter-devs

[2020-03-27 03:42] greggmiller commented on #43
This section of app is now titled **Cross-skilling** as per discussions in #96 .
After discussions with ICU today, content is unlikely to be ready until Monday, I will update then.

[2020-03-27 03:45] greggmiller commented on #42
This section is now titled **Daily round** as per # 96

@fabiendade Once we have content from James Douglas and ICU streamlined we will discuss with @Western-Health-Covid19-Collaboration/designers our intention to have prompts for pathway (e.g. escalate/discuss with senior) who will come up with a great solution I'm sure.

[2020-03-27 03:56] greggmiller commented on #38
Agree with @lukesleeman, if you go in having gone out it should be all fresh

[2020-03-27 04:17] fabiendade commented on #35
The person who created the poster (Maureen Canning) is not in today. She is working on a newer version of the PPE poster with better quality images. She will get in touch with me again on Monday with hopefully less pixelated images. May have to make do with the current version for now

[2020-03-27 04:35] greggmiller opened #100 "Build out infographics section of Airway"
The intention for this section is for the user to be able to slide and zoom into the various infographics related to Airway. This would include various documents from source documents:

Page 2 https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/SAS%20COVID%2019%20infographics%201%202.pdf

https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob

[2020-03-27 04:47] greggmiller opened #101 "Build out extubation screen"
Please refer document:
https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/WH_Extubation_infographic.pdf

The intention would be for the user to have step by step guide to follow for extubating a patient.
This document will require an anaesthetist to review first to order it sequentially.

Alternatively, this could be breaking down the infographic
https://github.co

[2020-03-27 05:37] greggmiller commented on #101
@A-Gynther has kindly agreed to look at this at some point over next few days.

[2020-03-27 05:58] greggmiller commented on #39
Yes, that's true #37 is just Page 1 and the bullet points I entered there for step by step advice.
I created a duplicate issue of this and called it in infographics and detailed in #100 should we close one of them have provided more up to date details there?
I forgot that I had written the above last night so as I must have been quite tired. Apologies @lukesleeman @marcedwards

[2020-03-27 05:59] greggmiller commented on #100
This is a duplicate issue of #37 my mistake @lukesleeman @marcedwards Should we close one?

[2020-03-27 06:03] galtaforce commented on #39
That's all for now.

[2020-03-27 06:37] galtaforce commented on #35
They appear to have stolen some images from the CDC: https://www.cdc.gov/hai/pdfs/ppe/PPE-Sequence.pdf

It's not a one-to-one though. I'll have a look around. This is what happens when you have Infection Control people doing graphic design. "What's a vector?"

There is also https://coronavirus.wh.org.au/wp-content/uploads/2020/02/9.-Donning-PPE-Poster-DHHS-Poster.pdf but it's also full of compress

[2020-03-27 06:51] lukesleeman commented on #96
Awesome!  This is how its looking now:

![Main](https://user-images.githubusercontent.com/902252/77729716-77a32b00-7053-11ea-8862-22d35e716814.png)

Can one of our @Western-Health-Covid19-Collaboration/flutter-devs pick it up and implement?

Don't forget there are a few changes to the info screen as well.  See gregs description on this issue :-)

[2020-03-27 06:56] lukesleeman commented on #100
Yeah, thanks for flagging that.  I'll close 👍

[2020-03-27 06:56] #100 closed

[2020-03-27 07:05] lukesleeman commented on #39
Yep, looks like some confusion on whats in this screen.  Just to be 100% clear, it needs to display the following infographics:
**SAS COVID 19 infographics 1 2.pdf - Page 2**

![image](https://user-images.githubusercontent.com/902252/77730641-4cb9d680-7055-11ea-86c0-e04ddf8b077e.png)

**SAS COVID 19 infographics 1 2.pdf**

![image](https://user-images.githubusercontent.com/902252/77730676-5e02e300

[2020-03-27 07:07] lukesleeman commented on #37
Yeah, so there has been a little bit of confusion between what this issue is and waht is covered by #39 .  Just to be clear, this is Page 1 of SAS COVID 19 infographics.pdf.  Basically this:

![image](https://user-images.githubusercontent.com/902252/77730417-dae18d00-7054-11ea-96d0-8da4eb7310f4.png)

[2020-03-27 07:10] lukesleeman commented on #35
I would suggest for the designers:

1. Lets design and build it with just the crappy version of the image right now :-)
2. When the good image comes through its super easy to just drop it in.

[2020-03-27 07:12] greggmiller commented on #39
Yes I think it should also include: https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/COVID-19_Emergency_Intubation_Checklist.png

Although this seems like duplication from checklist #38 that @Mattro is working on,  some anaesthetists will probably want it infographics too. However, if cleaning up the image is significant work for @design lets just leave this out

[2020-03-27 07:15] greggmiller commented on #37
Yes, @lukesleeman Apologies for the confusion!

[2020-03-27 07:58] maks opened #103 "On Android it's currently possible to back out of disclaimer"
If you press the back button, you nca back out of the disclaimer without accepting it!

[2020-03-27 10:14] maks commented on #103
Whoever fixes this, please add tests for the fix. :pray:

[2020-03-27 21:51] greggmiller commented on #40
@Luke @Western-Health-Covid19-Collaboration/designers @benblackman

I have put a fair bit more thought into this section to try and simplify things and present the info better.

**The intention is that the user feels safe, they do the simple things well, and have a clear idea of a stepwise approach to basic troubleshooting ventilation in COVID.**
This page and subsections can both be used as an ai

[2020-03-27 22:44] joshcase commented on #103
I'll tackle this

[2020-03-27 23:07] workerbee22 commented on #103
Just use the following when pushing the Disclaimer button. So replace
`Navigator.pushNamed'' with `Navigator.pushReplacement'

[2020-03-27 23:09] workerbee22 commented on #19
Apple App Store Connect Beta Review of iOS app failed. They want more app context. Will get and then re-submit. TestFlight distributions blocked until the BetaReview passes.

[2020-03-27 23:10] workerbee22 commented on #20
Agreed new name as WHAC19 and initial Google Play submission started. Priority for iOS first.

[2020-03-27 23:10] joshcase commented on #103
Looks like we are already using Navigator.pushReplacementNamed, I will do a bit more digging
[code]

[2020-03-27 23:41] workerbee22 commented on #103
Check the build method for `_DisclaimerViewState` it has a `.pushNamed` in the `_agreeButton` Container.

[2020-03-27 23:42] suesitran commented on #46
I can pick this up

[2020-03-27 23:43] workerbee22 commented on #103
So need to update the route used when the button is pressed. Not the route that gets to the home or disclaimer screen.

[2020-03-27 23:54] workerbee22 commented on #46
@greggmiller Just wondering on this one ... because TestFlight, FB App Dist etc. all present the email for the generic account **western.health.app@gmail.com** and not your personal 'Gregg' email. Are we better to remove the bottleneck on you and your email Gregg and use **western.health.app@gmail.com**. You can obviously login to that Gmail account, but so can others when you get super busy. I th

[2020-03-28 00:16] lukesleeman commented on #98
Just checking in with @maks and @workerbee22  on this one - is it something simple we can easily fix up, a bug with codemagic, or some huge bit of work?

[2020-03-28 00:18] lukesleeman commented on #56
Thanks to the excellent work by @fmatosqg we can now close this issue 🙌

[2020-03-28 00:18] #56 closed

[2020-03-28 00:19] lukesleeman commented on #47
@alessandrofavero where did we get to with this issue?  I've seen the screen in the app now :-) Can we close this issue?  Or was there more work needed?

[2020-03-28 00:24] alessandrofavero commented on #47
Hey @lukesleeman don't close it yet. I've created a new branch with some fixes and @workerbee22 is working on a different solution.

[2020-03-28 00:26] joshcase commented on #103
I can't see how that's related at this stage, as pressing the back button doesn't seem to call the onPressed function for the button.

Resolved the issue by wrapping the Scaffold in a WillPopScope. Writing the tests now and will send PR soon.

[2020-03-28 00:39] lukesleeman commented on #16
This is sort of working, though as I mentioned in issue #98 it doesn't seem like failed builds are showing up.

Did we want to close this issue and track the failed builds problem by #98 ?

[2020-03-28 00:44] workerbee22 commented on #47
Still an issue ... should have a fix in today

[2020-03-28 00:44] workerbee22 commented on #98
@maks is looking at it

[2020-03-28 00:51] workerbee22 commented on #103
So I guess we need to test. When on Disclaimer, what happens when press Back? But also, if you accept the Disclaimer by pressing the button and then end up in the home screen, what happens when you press Back again, and again and again?

[2020-03-28 00:52] suesitran commented on #46
Why don't you create a mailing group and add POC into the group? i'm not a fan of sharing credentials

[2020-03-28 00:52] suesitran commented on #46
@greggmiller  @lukesleeman will this form be opened as external browser (aka user leave the app, fillup the form, then return to app), or as inview web page?

[2020-03-28 00:57] workerbee22 commented on #103
Looks like BOTH are an issue. Just tested:

- Back button on Disclaimer ends up at Home screen, so effectively skips the Disclaimer acceptance. So not good.
- If you accept the Disclaimer and end up on Home, then push Back it does do back to the Disclaimer screen (but does show you have accepted), but it should not go back to Disclaimer screen at all. So also not good.

Thus we should also change

[2020-03-28 01:02] lukesleeman commented on #46
Just had a quick discussion on slack - we are doing external browsers on other screens, so I think do that here as well

Luke
On 28 Mar 2020, 11:53 AM +1100, suesitran <notifications@github.com>, wrote:

[2020-03-28 02:26] joshcase commented on #103
Fixed in #106 - did not provide testing as I couldn't work out how to simulate the Android back button in any testing environment

[2020-03-28 03:34] maks commented on #98
@lukesleeman yes, I fixed it a few days ago, I think the overnight missing statuses is because Codemagic support has reported they had some issues with recent maintenance and had to do a DB rollback.

[2020-03-28 03:35] lukesleeman commented on #98
Cool.  You happy for me to close this issue then?

[2020-03-28 04:48] lukesleeman opened #108 "Support for other hospitals"
Currently the app supports just Western health, and in particular WH anaesthetists.   However there is obviously a lot of potential to help out other hospitals and medical staff.  For the time being we need to stay laser focused on shipping what WH needs right away.

However in the mid to long term we are going to need to think about how to support others.  There are a few tasks things which we wo

[2020-03-28 04:49] lukesleeman commented on #108
Tagging this as `Low Priority - Later`  we don't need to deal with it right now.

[2020-03-28 06:35] yimingc2 commented on #96
Hi @greggmiller @lukesleeman , I don't see **WH Novel Coronavirus information** section in the design. Was there a **Google Covid News Feed** section in the info page? Thanks

![example](https://user-images.githubusercontent.com/14011195/77817213-6161a180-711d-11ea-9304-3fb54376dea3.gif)

I added this section like that. What do you think?

[2020-03-28 09:03] greggmiller commented on #96
Hi @yimingc2, on information architecture https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/blob/master/README.md there was, but you are right I don't think it made it on to information screen.

Is it easy enough to add a "WH COVID-19 information" section on the information page? @Western-Health-Covid19-Collaboration/designers

The swipe works well @yimingc2  but would need to

[2020-03-28 09:07] Mattro commented on #38
<img width="1978" alt="image" src="https://user-images.githubusercontent.com/1920449/77820204-95948c80-7134-11ea-95b2-80e56e450762.png">

**Ziplen**
Web: https://zpl.io/V478mgz
App: zpl://project?pid=5e7597a68651056664fb6e53&tags=Checklist

[2020-03-28 09:31] #34 closed

[2020-03-28 09:31] #72 closed

[2020-03-28 09:37] Mattro commented on #38
A note: One of the checklist items uses superscript. My design tool doesn't allow me to use superscript, so I've used ^-1 on the design. **Please use a superscript -1** when implementing.

[2020-03-28 09:45] lukesleeman opened #111 "Build re-usable infographic widget"
There are a number of infographic screens in the app.  They all need to

- Display a single pinch to zoom image
- Have either a "x" or "<" button in the left hand corner
~- Have a share button in the top right which brings up the OS share sheet to share the image~
- Have configurable theming.  Either blue, purple or green
- Have a configurable title.

**These are the colours to use in green mode**

[2020-03-28 09:54] lukesleeman commented on #111
Here is a mockup of the screen showing an image.

![Intubation : Algorithm](https://user-images.githubusercontent.com/902252/77820398-2e77d780-7136-11ea-9144-a2c3d8759c26.png)

Note the padding around the image when it first appears.  Obviously once you start to zoom in that will go away.

[2020-03-28 09:54] kimngyn commented on #111
Yes, Sir!

[2020-03-28 10:14] yimingc2 commented on #96
In a device with a smaller screen, say iPhone SE, the title of the sections can be cut off as well.

![Simulator Screen Shot - iPhone SE - 2020-03-28 at 21 12 09](https://user-images.githubusercontent.com/14011195/77820789-ed34f700-7138-11ea-933f-bec1288d8d24.png)

Since we don't have much time, maybe we don't need to spend too much time on this if there's no easy fix.

[2020-03-28 11:15] lukesleeman opened #112 "Build out infographic screens"
This issue depends on issue #111 and #96 being built out 1st.   Once we have our reusable infographic widget and the home screen is updated, there are 5 different infographics screens which need to be added to the app which will make use of it.

TASKS
- [x] PPE ON infographic
- [x] Taking off PPE Method One
- [x] Taking off PPE Method Two
- [x] Intubation Infographic
- [x] Intubation Checklist Inf

[2020-03-28 11:18] lukesleeman commented on #112
If anybody wants to see some examples of what some of these screens should look like, we have:
![Intubation : Algorithm](https://user-images.githubusercontent.com/902252/77821906-f24a7400-7141-11ea-9cdc-21451fbb376a.png)
![Extubation : Infographic](https://user-images.githubusercontent.com/902252/77821907-f4143780-7141-11ea-8176-a5893610458c.png)

[2020-03-28 11:20] lukesleeman commented on #111
Once this issue is complete, issue #112 can be moved to ready for dev

[2020-03-28 11:23] lukesleeman commented on #112
Question for @greggmiller do we also need to include page 1 of of the `SAS COVID 19 infographics 1 2.pdf` in infographic form?   That page will be adapted into a beautifully designed mobile app screen as part of issue #37 - but do we need to include the original un-altered infographic.

FYI. this is what Page 1 of `SAS COVID 19 infographics.pdf` looks like:

![](https://user-images.githubuserconte

[2020-03-28 11:25] #77 closed

[2020-03-28 11:30] lukesleeman commented on #112
@marcedwards Are you able to put a better version of `intubation_checklist.png` in the repo?  I think it's the wrong size, and it's in the wrong folder.

Also, are you able to update sketch and zeplin designs to reflect my awful mockups I put on this issue 😂   I'm guessing you can make them look better than my attempts in keynote

[2020-03-28 11:32] lukesleeman commented on #39
Based on advice from the flutter devs, we are going to build a single re-usable infographic widget, then just configure it to display the different images used all over the app.

As such this issue has been rolled into issue #112 and I'm closing it.

[2020-03-28 11:32] #39 closed

[2020-03-28 11:33] lukesleeman commented on #35
Based on advice from the flutter devs, we are going to build a single re-usable infographic widget, then just configure it to display the different images used all over the app.

As such this issue has been rolled into issue #112 and I'm closing it.

@fabiendade don't let that stop you chasing down high resolution versions of the images.  Once you have them provide the to @marcedwards and he can d

[2020-03-28 11:33] #35 closed

[2020-03-28 11:34] lukesleeman commented on #33
Based on advice from the flutter devs, we are going to build a single re-usable infographic widget, then just configure it to display the different images used all over the app.

As such this issue has been rolled into issue #112 and I'm closing it.

[2020-03-28 11:34] #33 closed

[2020-03-28 21:14] lukesleeman opened #113 "Onboarding screens"
We have the disclaimer which pops up when the app launches - but of course nobody really reads that.  There are a few key things it might be good to make really obvious to users when they first launch:

☑️ What is actually in the app: Info for aesthetic and critical care doctors and nurses.  PPE, intubation, etc
🙅‍♀️The app is informational.  Don't rely on it exclusively, confirm things against ac

[2020-03-28 21:37] lukesleeman opened #114 "Figure out a managed release process"
At the moment everything merged to master gets rolled out to everybody signed up for testing.  This is great for quickly iterating, but if we are to ship this "to production" we are going to need a more managed process for promoting a particular test build to prod.

This is for medical and ethical reasons:  We **need** to have at least one of the WH medical staff test and approve the build before

[2020-03-28 22:43] joshcase opened #115 "DisclaimerView causing overflow errors on some devices"
Note that DisclaimerView uses a MediaQuery to decide whether to build a scrollable list or a static container. This MediaQuery depends on an arbitrary height value that causes overflow errors on some devices, such as my HTC One.

We likely need a more responsive approach that does not depend on arbitrary height values.

[2020-03-28 23:27] workerbee22 commented on #114
@lukesleeman @maks and everyone. So MAks and myself has discussed this a fair bit as we are doing all the CI/CD things. I guess we can summarise the approach right now as follows:

**Objectives**

- Speed of development and release is obviously an objective, given we are racing against the speed of the virus outbreak. To support this we are leaning heavily on automation and CI/CD setups. We also d

[2020-03-28 23:29] workerbee22 commented on #113
I think this is a good idea to give basic context of the app and lots of other first run information, and can integrate the current Disclaimer. I've done loads of this so I'm happy to pick it up, but we'll need to give a little thought to key messages we need to deliver in Onboarding?

[2020-03-28 23:34] workerbee22 commented on #108
White labelling would be effort intensive, as I assume you mean cloning the app for multiple hospitals, thus multiple user groups, diverging content and multiple app versions/beta/alpha builds.

I'd suggest as a first step instead making the app more generic so any Australian hospital staff would find the content useful. Then we keep a single app and the workload does not balloon out. This might m

[2020-03-28 23:38] maks commented on #114
I'm happy with those suggestions @workerbee22

My 2c: good to keep things as simple too. With release to production, since that needs signoff from Gregg anyway, keeping it a manual step should not be too onerous. On Google play at least, it's just a few button clicks to promote a build that has come to internal channel automatically from CI to beta and then to production. I'd expect similar for iO

[2020-03-28 23:49] workerbee22 commented on #47
@alessandrofavero which branch are you using for this? Or should I create a new one for a new PR? Was waiting for @joshcase to finish his fix first, which is [#106](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/106) which is now just Merged by @lukesleeman

[2020-03-29 00:10] workerbee22 commented on #47
Note [issue #113](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/113) is kind of related, so I'll be updating the structure of the app to support some Onboarding screens at the same time

[2020-03-29 00:19] lukesleeman commented on #113
Priority on this is fairly low - i'll tag @greggmiller and label as medic, so we can get some thoughts on what needs to be in there.

[2020-03-29 00:20] workerbee22 commented on #114
I'm afraid the iOS/Apple world is often different to Android 😭But lets see what issues we get with approvals on both stores, but we have lots of options with Firebase right now, so we can deal with it whatever happens. I'm in two minds depending on if we get stuck on approvals, but this only changes which tools we use, the approach remains the same.

[2020-03-29 00:21] workerbee22 commented on #114
ps. Also assume Apple/iOS = 3 x as much effort ... because it is is always at least this or more.

[2020-03-29 00:24] workerbee22 commented on #113
👍Totally, but need to keep Onboarding in mind because the code is very intertwined, so don't want to fix Disclaimer, only to have to almost start again to add Onboarding. So going to just architect Disclaimer fix with Onboarding in mind, because we don't know the onbaording key messages yet.

[2020-03-29 01:31] alessandrofavero commented on #47
I was working on fix/disclaimer but feel free to open a new branch if you need

[2020-03-29 01:45] workerbee22 commented on #47
OK I'll open a new one and come back with you once I have the fix in.

[2020-03-29 02:15] greggmiller commented on #112
@marcedwards re: intubation_checklist.png
Images of the same table appear on right hand side of Safe Airway Society twitter
https://twitter.com/safeairway?lang=en

I am not sure if the image on twitter will be better or worse quality to update 😅

[2020-03-29 02:20] workerbee22 commented on #115
Working on a fix now to remove the MediaQuery so works regardless of device height.

[2020-03-29 02:22] workerbee22 commented on #115
Can probably close this issue as tracking in issue [#47](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/47)

[2020-03-29 03:11] lukesleeman opened #118 "Slight change to wording of disclaimer text"
Currently part of the disclaimer says:

We should update it to:

[2020-03-29 03:23] lukesleeman commented on #101
Just heard from @greggmiller .  For V1 of the app, we can just include the `Extubation_Infographic.pdf` on this screen as a standard infographic screen.  No need for anything fancy

If anybody is wondering it looks like this:

![image](https://user-images.githubusercontent.com/902252/77839478-c9b98d00-71c8-11ea-81da-53fec71e9486.png)

[2020-03-29 03:28] lukesleeman commented on #101
Annnnnd actually, this is already covered under issue #112 .  I'm going to close this issue down now.  We can re-open this issue down the track once we need to design a nicer extubation screen

[2020-03-29 03:28] #101 closed

[2020-03-29 03:43] workerbee22 commented on #96
@yimingc2 There is an easy fix, update `ReusableCard` to ad an `Expanded` widget and a `Wrap` widget or or `Flexible`

[2020-03-29 03:48] lukesleeman commented on #115
Awesome, closing!  Thanks for the bug report @joshcase - keep up the eagle eyes! 👀

[2020-03-29 03:48] #115 closed

[2020-03-29 03:53] lukesleeman commented on #103
@joshcase I just tested this on my Android phone.  Thanks for your work so far!

There are some minor issues I've seen around the back button behaviour:
- On android when you first launch the app you should be able to click the back button, and just have the app close.  Basically if somebody opens it for the first time, decides they don't like the disclaimer, they should be able to press back and

[2020-03-29 03:55] lukesleeman commented on #98
Just an update, I saw this happening again last night, so it seems whatever is happening at the CM end with their DB's hasn't been fixed yet

[2020-03-29 03:58] sallychung commented on #118
I can take this one. Nice intro to the project

[2020-03-29 04:11] greggmiller commented on #114
@workerbee22 @maks @lukesleeman

Agree with all of the above.
From the WH perspective...

**1. Development release**
Myself and if possible the other WH staff who have been involved in providing opinions on content.

**2. Beta release**
Same as above + 3 or 4 others integral to anaesthetic department management, education and information provision.
As we approach a near final V1, there will also l

[2020-03-29 04:38] workerbee22 commented on #118
Just be aware .... also working on Disclaimer atm ... but not the text content.

[2020-03-29 04:49] greggmiller commented on #108
I agree, once we have a functional app, anyone it is useful for should have access. The technical process of adapting the software for other hospitals is beyond my skillset, so I can only talk a little on the medical aspects.

In terms of content, all the guidance and information is quite generic. The actually variations in the step by steps between healthcare institutions would be pretty small. M

[2020-03-29 04:50] workerbee22 commented on #47
@alessandrofavero , @maks and @joshcase just need to get some agreement on the fix for the Disclaimer screen as you have all been working on it or the `into_router`. Core requirements I has are:

- Disclaimer screen shown every time on startup until user presses I Agree button, after that it is never shown at app startup.
- Disclaimer must be able to be declined eg. by pressing Back in Android to

[2020-03-29 04:53] joshcase commented on #47
Yep that's my understanding of the goals, I am building dot point two as we speak

[2020-03-29 05:23] yimingc2 commented on #111
![image](https://user-images.githubusercontent.com/14011195/77841049-a77c3b00-71d9-11ea-8d16-9d1f66884573.png)
This is the big view.

[2020-03-29 05:44] lukesleeman commented on #111
Yep!  For this issue (and PR!) just build the reusable widget.  Then as part of #112 we will use the widget in a bunch of places.

For this issue just stay focused on the widget, don't need to hook it up in all the various places

[2020-03-29 05:55] lukesleeman opened #120 "Add ADRs into the repository"
We have made a lot of technical decisions, which unfortunately are not documented anywhere.?

We should add an ADR template into the repository and start documenting the ADR's

https://adr.github.io/

As part of this issue I will import the template and write up a few of the decisions I know about.

**TODO**
- [x] Import ADR template
- [x] Why flutter
- [x] Flutter beta channel
- [x] Embed content

[2020-03-29 06:02] lukesleeman commented on #118
Yep, Mike is doing some very heavy changes with this screen right now (I'm on a zoom call with him RN :-) )

I've removed `ready for dev` - I think @sallychung just hold up until mike has finished his rebuild

[2020-03-29 06:06] maks commented on #47
Lets add a 'Decline' button to be explicit for the user that they don't accept disclaimer terms and so exist the app.

[2020-03-29 06:19] greggmiller commented on #113
Intention for the user (and WH perspective) would be to distil the key points of the disclaimer,  while reducing the harshness of the legal language and simply outline the apps purpose.

Key intentions would be:

1. the user feels that this app will be simple to use for purpose of staff welfare (PPE use) and critical care of the patient with COVID19.

2. Every hospital has minor variations in thei

[2020-03-29 06:21] yimingc2 commented on #111
@lukesleeman , do we need to implement the "Share Button"? Or do it in next PR?

[2020-03-29 07:04] lukesleeman commented on #111
Yep, please implement the share button

[2020-03-29 08:05] workerbee22 commented on #47
@joshcase I'm actually working on this already, nearly done, but is also a restructure to also allow future Onboarding screens.

[2020-03-29 09:52] poornima2796 commented on #86
Thanks @lukesleeman ! :)

[2020-03-29 09:55] kimngyn commented on #111
I have unassigned myself due to personal commitments, and I have passed this issue on to June.  I will still probably be around to review things and check for errors.

Hopefully, everything will go well. Thanks :)

[2020-03-29 09:56] workerbee22 commented on #47
Fix where disclaimer scrolls and button is fixed. Lots to cleanup here, text big to force being too long for screen etc. But you get the idea. And text will not go 'behind' the button etc.

No MediaQuery and works on any density/height screen. Will cleanup tomorrow but wanted to post an update tonight to update you guys. @alessandrofavero , @maks and @joshcase

Will also fix the other first run is

[2020-03-29 09:57] lukesleeman commented on #111
👋 wave is it possible to get a bit of a status update on what's been done and what is still in progress? What beach are you working in?
On 29 Mar. 2020, 8:55 PM +1100, Kim <notifications@github.com>, wrote:

[2020-03-29 10:00] yimingc2 commented on #111
Hi @lukesleeman , I'm also on this card. The reuseable infographic page with different theme is done basically. I'm working on "Making padding around the image when it first appears." right now.

[2020-03-29 10:00] joshcase commented on #47
Brilliant, thanks @workerbee22. This was a real pain in the backside when running the project on my Android device.

[2020-03-29 10:03] workerbee22 commented on #47
Yeah ... its a nasty/tricky little issue and hard to figure out how to handle. But slightly better than being at the bottom and asking users to scroll @alessandrofavero because the button always on screen. Anyway ... will clean up in the morning and post a better GIF.

[2020-03-29 10:03] workerbee22 commented on #47
@maks will add Decline button too in the morning.

[2020-03-29 10:06] lukesleeman commented on #96
👋 Great work on this @yimingc2

We have some updated designs from the design team.  The home page now has some updates to look like this:

![Main (scrolled)](https://user-images.githubusercontent.com/902252/77846313-086b3980-7201-11ea-838f-816b614964a0.png)

As far as I know its just changes to the titles in the "Airway" section

@yimingc2 Are you able to update?

[2020-03-29 10:41] lukesleeman commented on #112
👋 I have integrated all the latest designs, and updated the description of this issue.

Once issue #111 and issue #96 are complete, this issue should be `Ready for dev` 😁

[2020-03-29 10:51] lukesleeman commented on #46
Now we have merged this into master can we close this issue?

Any further changes to the google doc we can handle through new issues?

[2020-03-29 10:54] lukesleeman commented on #37
@Mattro has posted designs in zeplin, and they look great!

![image](https://user-images.githubusercontent.com/902252/77847281-c4c7fe00-7207-11ea-9a22-f140f355aa6e.png)

@Mattro or @marcedwards  is this one `Ready for dev`?

[2020-03-29 19:46] greggmiller commented on #46
Agreed. We can close this :)

[2020-03-29 19:46] #46 closed

[2020-03-29 20:05] alessandrofavero commented on #47
@workerbee22 great work looks good! Just one question, does the button become active when the user reaches the bottom of the screen or can be tapped even if the user didn't go fully trough the disclaimer?

[2020-03-29 23:14] workerbee22 commented on #47
@alessandrofavero Good question, at the moment it is always active, but can try to add that feature. I guess the trick is that we need to suggest to the user that the Disclaimer does go further down, like you had originally with screen shots above in this issue with the toast message indicating to scroll, if not all on screen. We can never really know the user actually read it, but your right we s

[2020-03-29 23:34] benblackman commented on #37
🔥

Awesome work @Mattro

[2020-03-29 23:47] workerbee22 commented on #120
As discussed @lukesleeman I'm starting to add a couple of extra app wide/architectural issues that go across the whole app. Goal is to make the code and architecture a little more consistent. As those get discussed and agreed, will add them to the ADR 👍

[2020-03-29 23:50] workerbee22 commented on #103
We should probably close this issue once solved, but moving discussion over to [issue 47](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/47).

Having deeper look at Disclaimer requirement and behaviour in [issue 47](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/47) and discussing fixes there, including this bug.

[2020-03-30 00:01] workerbee22 opened #131 "App Size is Larger than it should be"
Because we are placing all the assets for far within the app, the app is currently quite large in size on Android and iOS:

Release build 1.0.69 sizes are:
- **Android** app-release-release-universal.apk file is **33.8 MB** (and app bundle is 33.6 MB)
- **iOS** wh_covid19.ipa file is **32.7 MB**

Suggest we look at some ways to reduce the app size in the short term. Some suggestions:
- PNG image a

[2020-03-30 00:04] workerbee22 commented on #20
Google Play Beta release submitted for review. Waiting on Google result, but warning in Google Play console warns of 7+ days review times. So 7 days would make the date expected around Mon 6th April.

[2020-03-30 00:05] workerbee22 commented on #19
We provided answers to additional info question about intent and audience for the app. APple still reviewing, awaiting updated review result, no ETA at this stage.

[2020-03-30 00:09] workerbee22 commented on #118
@sallychung Please message me directly when this is in. Also note we are adding in i[ssue 47](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/47) a requirement to the Disclaimer, where with the Disclaimer text there is an accompanying version flag. Idea is:

- When the Disclaimer text is changed AND the accompanying version flag, then the user is asked to re-accept th

[2020-03-30 00:11] workerbee22 commented on #71
Adding to scope of this change:

- icon title to be **WHAC19** which is the new working name for the app.

[2020-03-30 07:07] rockgecko-development commented on #111
@yimingc2 let me know if you need a hand re sharing the image to the system share sheet. This is something I have done in another flutter project, so happy to help

[2020-03-30 07:25] yimingc2 commented on #111
That would be great. I thought sharing as PDF was not included in this PR. What do you suggest?

[2020-03-30 07:27] yimingc2 commented on #96
Sure thing! Will do

[2020-03-30 07:52] workerbee22 commented on #47
Nearly there team ... adding finishing touches.

[2020-03-30 08:14] workerbee22 commented on #47
@alessandrofavero @joshcase @maks and @sallychung  I've pushed to the `fix/disclaimer-update` branch, but won't create the PR until tested a little more. But everything is working on Android & iOS.

Still need to pretty up the buttons back to what @alessandrofavero got them too. But wanted you guys to see the functional changes.

We can chat on Slack about how some of these things work, as there w

[2020-03-30 08:34] alessandrofavero commented on #47
@workerbee22 I'm checking the commits and looks very good, great job! BTW it missing when the user go to the disclaimer trough the info page (the disclaimer has already been agreed)

[2020-03-30 08:41] lukesleeman commented on #103
Ok, I'm closing this, it can just be tracked as part of issue #47

[2020-03-30 08:41] #103 closed

[2020-03-30 08:44] rockgecko-development commented on #111
It is, see above ^

I think the share_extend package might share the image, I've used it before.
If it doesnt work by default, you might have to get a path to the underlying asset file...and if that's not possible you'd have to write it to a temp file.... there's a bit of an example on the pub.dev page but it's in chinese :) . EN here https://github.com/zhouteng0217/ShareExtend/blob/master/README-

[2020-03-30 08:46] workerbee22 commented on #47
@alessandrofavero as per Slack, yeah I missed that will add back.

Also @Mattro discussions confirmed approach for iOS apps. Human Interface Guidelines from Apple prohibit an app closing itself, so some Flutter functions are disabled and won't close the app like they do with Android.

So we've agreed to remove the new 'Decline' button @maks even on Android. Even though on Android you will still be

[2020-03-30 08:50] lukesleeman commented on #111
FYI June can read Chinese 😁   Very useful skill!

[2020-03-30 08:54] lukesleeman commented on #47
Totally fine, I don't think I've ever seen a decline button in an app before.  Going back always does the job :-)

[2020-03-30 09:36] maks commented on #47
@lukesleeman what's the plan for iOS though where no system back button? Just expect user to press home button?

[2020-03-30 09:52] lukesleeman commented on #37
Ok @rockgecko-development  - as discussed in tonights call, I've moved this issue over to ready for dev, and assigned you :-)

Ignore the infographic in the above screenshot ☝️ , but all the other screens with the ✅ , etc are for you to build :-)

Have a chat to @ericjiang97 who has already build a similar screen for the checklist

[2020-03-30 10:06] lukesleeman commented on #112
As discussed in tonights call, I'm moving this one over to @yimingc2 with the possibility of @kimngyn helping out a little bit if she gets any time.

@yimingc2 please go on with this one **only after** your PR get merged and we can close off #111

[2020-03-30 10:09] kimngyn commented on #112
Okie dokie :)

[2020-03-30 10:10] lukesleeman commented on #47
🤷‍♂ Yep, I guess that works fine

[2020-03-30 10:19] greggmiller commented on #40
After seeing @mattro really impressive work on intubation checklist and guide by creating the scrollable tabs screen for those pages, I think Ventilation would also suit this same design layout (reasoning below). Checkboxes would not be necessary for the ventilation seciton.

![Uploading Intubation_step_by_step.png…]()

I think adapting the above layout may be of benefit if used across different s

[2020-03-30 11:54] marcedwards commented on #47
Yep. If they don’t agree, then swiping home (or pressing home) and deleting the app is the action they’ll have to take. Totally fine, imo!

[2020-03-30 21:58] maks opened #136 "PNG image assets need to be smaller"
PNG image assets are too big and need to be minified with https://tinypng.com/ or similar.

We need to do this for all existing assets in the app and then going forwards for all new images.

Part of #131

[2020-03-30 22:01] ericjiang97 commented on #136
Also SVGs need to have inline styles!

[2020-03-30 22:05] #120 closed

[2020-03-30 22:08] marcedwards commented on #136
Which PNGs? The ones that were derived from the PDFs have already been run through ImageOptim. We definitely may be able to shave some more bytes off, or even switch to JPEG, but they are large dimension images.

To be clear: I’m _all_ for having a tiny bundle and I can definitely take a look at crunching these down further. Just know that I did a bit of work initially.

Also… lots of ❤️ for calli

[2020-03-30 22:10] ericjiang97 commented on #136
@marcedwards Not at the moment, I've been changing them myself when they're not styled inline.

But I reckon it will be cool if we can automate the compression/inline-styling as a pre-commit hook?

[2020-03-30 22:16] marcedwards commented on #136
@ericjiang97 It’s just an export setting in Illustrator. Not sure anything needs to be automated, but it’s an app global setting, so anyone exporting the SVGs needs to be aware of it (right now, it has just been me exporting them).

If anyone reading this wants to know how to set Illustrator up to export SVGs with inline styles, it’s in the Export for Screens SVG settings (`Export for Screens` › c

[2020-03-30 22:25] greggmiller commented on #113
One way to structure onboarding screens that would benefit the user, and safeguard those involved in developing the app, would be to breakdown the TestFlight information (full text provided at bottom).

_First screen_

This app is designed to serve as an educational tool and interactive cognitive aid for Western Health Anaesthetists and ICU doctors 👩‍⚕ 👨‍⚕ who are managing patients with COVID-19

[2020-03-30 23:21] workerbee22 commented on #113
I just talked with Jenny from Apple on the phone with updates as follows:

- We can continue to submit Beta builds to TestFlight for the purposes of testing .... I'm finishing codemagic integration for this atm.
- But we will need to make the following changes PRIOR to submitting the app for final production Apple App Store review:

1. Provide a prominent Disclaimer .... which we are working on

2

[2020-03-31 00:54] workerbee22 commented on #136
@marcedwards Try tinypng.com ... does not seem to reduce clarity, just optimises PNG format. Pick any PNG ... I was getting 40 - 70% size reductions.

[2020-03-31 00:58] workerbee22 commented on #136
For example `off_hand_hygiene.png` from 143 KB down to 40 KB.

[2020-03-31 00:59] workerbee22 commented on #136
SVGs should be fine and minifed already and inherently.  Just bitmap images like PNGs.

[2020-03-31 04:07] benblackman commented on #42
@fabiendade has done some great work formatting this document
[COVID DAILY ASSESSMENT AND PLAN.docx](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4406707/COVID.DAILY.ASSESSMENT.AND.PLAN.docx)

[2020-03-31 04:29] benblackman commented on #42
@greggmiller and I have had a discussion and we think the best format for the daily round section would be (and correct me if I'm not using the right dev terms) a ribbon of tabs (as per @Mattro 's beautiful [intubation guide](https://user-images.githubusercontent.com/902252/77847281-c4c7fe00-7207-11ea-9a22-f140f355aa6e.png) build) across the top denoting sections:

A, B, C, D, E, F, G, ☑️

These c

[2020-03-31 05:20] greggmiller commented on #42
Discussed above with Ben and we feel this represents intention of medics to give user required information while using format across app for both consistency and clarity.
(While also hopefully saving time for design).

Ready for @Western-Health-Covid19-Collaboration/designers
Feel free to clarify or question any aspects of above 👍

[2020-03-31 05:42] greggmiller opened #140 "Update information section design and links"
Edit by Luke:
The information screen needs updating to match the designs posted by @cjmlgrto below 👇

Changes required
- [ ] WH Novel Coronavirus information button renamed to "WH Novel Coronavirus Website" and changed to purple
- [ ] Purple "WH Anaesthetic Microsite" button to be added, which links to https://whcovid19.wixsite.com/covid19
- [ ] Purple "ICU Microsite" button to be added, which lin

[2020-03-31 05:57] marcedwards commented on #136
Tinypng and similar tools usually achieve that by using indexed PNGs, and reducing the number of colours, often with dithering techniques that assist compression. There’s only so much you can do before the images get severely damaged and are lower quality. I was able to get `off_hand_hygiene.png` down to 90,597 bytes and most of the images are indexed PNGs with reduced number of colours already. I

[2020-03-31 07:05] rockgecko-development commented on #38
Re not saving state. There's one other scenario in addition to @Mattro 's list: app is pushed out of memory, eg because user gets a phone call. When user switches back to the app, the flutter engine will load again from scratch - so back to the main home screen, checklists all reset. This _could_ be dangerous, if user really needs to know what step they were up to. BUT, it is better than resuming

[2020-03-31 07:48] lukesleeman commented on #113
I've assigned to version 2 - I think V1 will be just via TF anyway?

[2020-03-31 08:43] lukesleeman commented on #38
Ok, thats a really good catch.  Perhaps saving state (plus a clear button or something) is a feature we can look at for a later version of the app

[2020-03-31 10:02] #37 closed

[2020-03-31 10:19] lukesleeman opened #141 "Share infographics"
It would be helpful for users to be able to share the infographics in the app, along with downloading and viewing the original PDFs.

We had a crack at this as part of issue #111  however it proved to be quite complex.  We started running into OS specific issues around permissions, etc.

We can build out a better specified, more functional implementation as part of this issue.

[2020-03-31 10:21] lukesleeman commented on #141
I've marked this as a `low prority` and `medic` - we can probably start the process off by asking @greggmiller what exact problem and user need we will solve via the share button.

TBH, I added in the share button requirement because it sounded like a valuable thing for staff to be able to send the infographics to each other, etc, and because it sounded like an easy thing to add.

Its now not look

[2020-03-31 10:22] lukesleeman commented on #111
👋 @yimingc2 I've moved the requirement for a share button out to issue #141  - we can address that much later.

[2020-03-31 10:26] sallychung commented on #47
Sorry if this has already been discussed but I didn’t see it in the comments here...

Are we keeping track of the user accepting the disclaimer and conditions of use based off a storing a version / date? It’d help ensure we cater for supporting changes to the T&Cs in the future if we need them to re-accept again.

I assume it’s a relatively small change to make before we release it out to beta use

[2020-03-31 10:36] marcedwards commented on #113
One potential issue with splitting this into pages: We have to ensure the longest page fits on the smallest device without scrolling (scrolling up and down + swiping left and right for pages = a bit confusing).

It seems like the original plan of just having a single scroll view, but with added headings could be good? I think it’s okay if this screen is pretty dry and uninteresting. It’s not suppo

[2020-03-31 10:45] sallychung commented on #38
For future when we’re saving state, please also consider option to reset. Maybe also confirm to reset as it’s destructive?

[2020-03-31 10:46] Mattro commented on #113
Unpacking this a bit, I feel the goals of the onboarding are:

**From Apple:**
- Provide a prominent Disclaimer .... which we are working on
- Provide a prominent and clear message that the app is only for clinician/hospital staff use only (not the general public)

Adding paging and stuff feels like a distraction, when we could lead the disclaimer with:

Then the rest of that content Gregg has wri

[2020-03-31 10:46] lukesleeman commented on #118
@workerbee22 did you want to also log the changes that apple requested to the disclaimer in here?  Then we can hit the text all at once

[2020-03-31 11:01] lukesleeman commented on #113
Oh, that sounds like a quick and pragmatic solution to solve the current problems we are facing 👍

I think a good plan is to just put that in the disclaimer and then build out a set of proper onboarding screens later down the track once we have the rest of the app built out 🙂

I've updated issue #118 with the text

[2020-03-31 11:03] lukesleeman commented on #118
Based on https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/113#issuecomment-606547631 we might put something like

Right up the top of the disclaimer to address what apple needs of us.

[2020-03-31 11:28] workerbee22 commented on #118
Yep I will 👍

[2020-03-31 21:45] lukesleeman commented on #118
I think given the situation I'll also assign @workerbee22 to this issue - I think it looks like @sallychung will be mostly focusing on QA.  It might make sense for mike to just implement all this as part of his disclaimer changes.

[2020-03-31 21:52] lukesleeman commented on #140
@Mattro or @marcedwards - Can you folks update the designs to put a new button in the information screen above the "WH Novel Coronavirus information" one?  Once thats done post a screenshot and change to ready for dev :-)

[2020-03-31 23:30] marcedwards commented on #47
@sallychung That’s a great question and suggestion. Hopefully it’s easy to add. I think if we did need to make significant changes to the terms, we could reset it for everyone, but your suggestion would be a nicer way to go, if possible.

[2020-04-01 00:17] greggmiller commented on #141
@lukesleeman We can probably live without the feature of sharing.

The infographic as a tertiary screen that @Mattro  behind checklists and guides works very well as a visual aid the user can rapidly move between.

For sharing, all the infographics are available on the WH Anaethestia COVID-19 microsite.
https://whcovid19.wixsite.com/covid19

This site is a more comprehensive information page and i

[2020-04-01 02:35] greggmiller commented on #96
This looks great on the current build now 😄 Thanks @yimingc2 👍

I have one minor change request.
Could "Extubation" be changed to "Extubation guide" and the subtext under extubation be changed from "infographic" to "step by step guide" please?
This is to match the intubation guide.
This is ready for @Western-Health-Covid19-Collaboration/flutter-devs.
👍

[2020-04-01 02:42] yimingc2 commented on #96
Hi Greg, sorry the PR related to this issue is already merged. I should close this one. We can create another issue for the further wording changes. BTW maybe the design in Zeplin should update for the new changes first in case some misundertanding.

[2020-04-01 02:42] #96 closed

[2020-04-01 03:38] greggmiller commented on #43
Still awaiting further content for this section from ICU.

We can begin to build this out though when @Western-Health-Covid19-Collaboration/designers  get an opportunity.

The consensus is that this would be best to be a list with subheaders.

The subheaders would reflect the categories of #42.

Airway
Breathing
Circulation
Disability/Neurological
Exposure/Infection
Fluids/Renal
GIT
Haem/blood

Un

[2020-04-01 05:45] greggmiller opened #144 "Build out Extubation Screen"
The intention is that this provides a step-by-step for the user highlighting main ways COVID19 intubations are different from our day to day intubations.
It is some pointer and a list of do’s and don’ts for intubation.
This guide can both be used in the preparation phase, the simulated environment for training and as an educational/revision tool.

The 5 tabs for **scrollable tab** would be

* Plan

[2020-04-01 07:36] workerbee22 commented on #113
So we are all on the same page, onboarding something like this which is kind of standar on Android and iOS ???

- Pages that user swipes
- 1 and only 1 key message per page
- a graphic of some kind to visually reinforce the key message
- 'Get Start' button, Skip or other to exit onboarding and go to the app home page
- page dots (sorry bug the current page dot should be black

Something like this:

[2020-04-01 07:43] workerbee22 commented on #118
Yep easy ... will fold these words into my current branch `fix/disclaimer-update`

[2020-04-01 08:29] lukesleeman commented on #141
Yep, I'll close

[2020-04-01 08:29] #141 closed

[2020-04-01 08:34] lukesleeman commented on #43
Awesome - I've hidden a lot of chatter on this issue to make it clear to the designers what to look at.  @Mattro or @marcedwards either of you want to pick it up?

[2020-04-01 08:57] #38 closed

[2020-04-01 09:45] Mattro commented on #113
Here's some Zeplin screens of how it can look.

https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e84628a5dde8b4871f851da

[2020-04-01 10:01] lukesleeman commented on #118
Here are @Mattro 's designs from zeplin for the extra text:

![Disclaimer : Long](https://user-images.githubusercontent.com/902252/78124900-0f41b880-745c-11ea-96ff-6d1e1582d001.png)

Screens are in zeplin

[2020-04-01 10:01] #118 closed

[2020-04-01 10:10] #111 closed

[2020-04-01 10:36] greggmiller commented on #40
As discussed with @Mattro
![intubation guide step-by-step](https://user-images.githubusercontent.com/54889183/78127941-cb9d7d80-7460-11ea-87c0-99e2e2d47ef4.png)

[2020-04-01 10:37] kimngyn commented on #40
@greggmiller  will you be adding the peep chart, general observation, cardiomyopathy, low tidal volume formulas and prone positioning on another screen? I read the pdf and watched the video

[2020-04-01 10:39] lukesleeman commented on #144
FYI, we are currently just putting the infographic into the extubation screen - I guess once this is designed properly, we will move that out under a "PDF" button?

[2020-04-01 10:39] greggmiller commented on #40
good points. We will probably add them into the ICU cross-skilling section @kimngyn  Thanks for reminding me 😄

[2020-04-01 10:48] lukesleeman commented on #42
Awesome work everybody in getting this specified 👏
Just to make it clear for @Mattro and @marcedwards what needs to be done, I've gone and hidden a bunch of comments, so there is one clear description of what needs to be built 🙂

[2020-04-01 10:54] lukesleeman commented on #96
Huh, just checked the app and its done.  I think @marcedwards took care of it 😁

Great job everybody 🙌

[2020-04-01 10:54] Mattro commented on #40
@greggmiller how essential is this information? Unfortunately, we can't detect hover on a touch screen because there's no mouse cursor! Should I find a different way to display it, or leave it out?

[2020-04-01 11:02] lukesleeman opened #147 "Build a Licenses screen"
We will probably need to add in a licenses screen for the various bits of open source software we are including

[2020-04-01 11:04] lukesleeman commented on #147
@marcedwards or @Mattro when you get some time, can you put a button to link out to licenses on the information screen.

In terms of how the licenses screen its self needs to look - I think just a huge wall of text?

[2020-04-01 11:04] lukesleeman opened #148 "Build out the Acknowledgements and references screen"
We need to build out an Acknowledgements and references screen

[2020-04-01 11:05] lukesleeman commented on #148
@greggmiller are you able to provide some details on what should go in it?  For acknowledgements we have some in the Readme.md we could use.  What kind of references did you envisage this screen having?

[2020-04-01 11:20] lukesleeman commented on #40
👋 Just FYI everybody, I hid a bunch of older comments, just so its easier to see the final request from greg, etc on this issue

[2020-04-01 22:24] greggmiller commented on #36
As described above, the intention is that this provides some insight into psychological impact of each phase of the COVID-19 pandemic and recommendations to help mental well-being during each phase.

This correlates with source document:

Page 1:
https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/Sustaining%20wellbeing%20COVID19_ICS.pdf

and also some reference to

[2020-04-01 22:55] Mattro commented on #40
Ventilation is Ready to go.

<img width="1345" alt="image" src="https://user-images.githubusercontent.com/1920449/78194144-18686f00-74c8-11ea-9bf2-ec2f97e930a3.png">

https://zpl.io/ad0QLXR

[2020-04-01 23:04] greggmiller commented on #144
Yes @lukesleeman  I have had a discussion with @Mattro about this and how the scrollable tabs can be used to display this very well.

It would be an excellent addition for the first full beta version as it is an aspect of care we discuss a lot but this would depend on how much extra time it would take the team and particularly @Mattro who has said he would be keen to take this one on 😄

[2020-04-01 23:05] greggmiller commented on #96
Yeah @marcedwards 🙌  did it and let me know on Slack. Thanks all 😃

[2020-04-01 23:08] greggmiller commented on #148
@lukesleeman I'll do this by tomorrow... References will be the medical evidence and guidelines all the apps information is from. This is mainly Australia New Zealand College of Anaesthesia (ANZCA) and the Australia New Zealand Intensive Care Society (ANZICS) and a few others.

Should hopefully not require too much design/dev time after that.

[2020-04-02 06:58] workerbee22 commented on #47
@alessandrofavero @maks @bramt I have pushed an update commit to `fix/disclaimer-update` branch. it has one bug, but everything else ... and there is heaps ... now fixed.

[2020-04-02 06:58] workerbee22 commented on #47
I'll raise a PR shortly after the Flutter event.

Note it also has the latest updates to the Disclaimer content.

[2020-04-02 08:24] lukesleeman commented on #36
Looking good for design to go!  I've hidden a bunch of older comments to make the issue a bit clearer to read for the designers

[2020-04-02 23:09] workerbee22 commented on #71
@Mattro Mentioned working on a new icon. Either way, I've been held up. So someone else can get to this once we check if there will be a new product icon with @Mattro

[2020-04-03 00:06] #136 closed

[2020-04-03 05:19] alessandrofavero commented on #47
I think we can close this one @workerbee22 ?

[2020-04-03 05:42] workerbee22 commented on #147
Note Flutter has two classes for these sorts of things. But they result in a default UI. We can roll our own but use these to automatically provide the info for the app, especially all licences info:

https://api.flutter.dev/flutter/material/LicensePage-class.html
https://api.flutter.dev/flutter/material/AboutDialog-class.html

It allows for easily getting the current app icon, version and other d

[2020-04-03 05:43] workerbee22 commented on #114
Ok the more detailed implementation of this process has chnaged slightly and summarised as follows:

[WHAC19 CI & CD Overview v2.pdf](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4425241/WHAC19.CI.CD.Overview.v2.pdf)

[2020-04-03 05:50] workerbee22 commented on #114
Further to this we have in effect:

**Closed Beta (both Android and iOS)**

-App Store Connect - for list of invited testers/reviewers. In App Store Connect this is via enrolling iOS testers in as Western Health account 'App Store Connect Users.

-Google Play - Closed Beta

**Open Beta (both Android and iOS)**

-App Store Connect - External group called 'User Testers' utilising a 'Public Link' whe

[2020-04-03 05:51] workerbee22 commented on #47
Yep I think so 👍Now that all functional and tests are in too.

[2020-04-03 05:51] #47 closed

[2020-04-03 05:56] workerbee22 commented on #20
Initial Beta review resulted in App Suspension. Since then @adamkoch talked to people and now it has been removed from Google Play.

Next step is to submit a new Beta release, which should get approved.

[2020-04-03 05:57] workerbee22 commented on #19
Apple called me and they have things we need to do around the Disclaimer, the apps purpose and audience. But this is only for the production release. Until then we can push out via TestFlight as many Beta releases as we like.

[2020-04-03 07:21] workerbee22 commented on #114
Will keep this issue open until we are in the production app stores.

[2020-04-03 23:19] greggmiller commented on #148
The intention is to both acknowledge everyone who has worked so hard on this project and to also cite the references from which the content is derived.

_**References:**_

1. The Safe Airway Society for allowing us to use their guidelines and infographics.
https://www.safeairwaysociety.org/covid19/
2. Intensive Care Society https://www.ics.ac.uk/ICS/Education/Wellbeing/ICS/Wellbeing.aspx
3. Austra

[2020-04-03 23:23] greggmiller opened #153 "references"

[2020-04-03 23:24] #153 closed

[2020-04-03 23:24] greggmiller commented on #153
Written in error.

[2020-04-04 00:35] lukesleeman commented on #147
Yeah, I'm thinking for the licenses screen, there is no point spending any design time on it.  I think if @Mattro or @marcedwards can just add a button to the information screen to launch it, and update the flow diagram, then we can move this one over to ready for dev.

[2020-04-04 01:15] lukesleeman opened #154 "Audit app UI against Zeplin and raise `UI Polish` issues"
There are a lot of small places where the app needs additional polish or minor work to bring it in line with the screens in zeplin.  Things like padding, colours, and other minor visual tweeks would go a long way.

This issue is for somebody to go through the app screen by screen and do a cross check agains't what is in zeplin.  Any problems can be written up as issues in Github and tagged with th

[2020-04-04 01:33] workerbee22 opened #155 "Home screen Content Alignment"
The headings and card edges on the Home screen are not quite aligned to the left.

Changes required:
- No changes to the AppBar as this will be addressed by a separate issue.
- Content padding: let’s leave it at the passing defined in zeplin. 16pt/dp margins, 8pt/dp spacing. So headings padded slightly more to be aligned with edge of cards.

![image](https://user-images.githubusercontent.com/51546

[2020-04-04 01:40] workerbee22 opened #156 "Home screen Background not full Width in Landscape"
Home screen background (green/blue/purple Western Health branding) is fixed width, and when the phone is rotated to landscape, does not adapt to the new landscape orientation screen width. Found by @kimngyn 👍

Changes required:
- Home screen in landscape, the background image should be the width of the screen
- Background image should not 'distort'

![image](https://user-images.githubusercontent.c

[2020-04-04 02:07] greggmiller opened #157 "Simple modifications to PPE step-by-step"
A few simple changes required that should be ready for @Western-Health-Covid19-Collaboration/flutter-devs
Assuming @Western-Health-Covid19-Collaboration/designers  and @lukesleeman are happy with below:

on PPE screen:
- Change words "Putting on" to "Donning"
- Change words "Taking off" to "Doffing"

------------

In "Donning" step by step guide (previously called putting ON)

- In Step 2: the wor

[2020-04-04 02:10] greggmiller opened #158 "Minor amendment to Intubation guide Pre-oxygenation tab"
On intubation guide can remove dot point:

"Attached to manual ventilation device or Anaesthetic machine."

Point probably not required. Thanks for bringing it to my attention @A-Gynther

Probably ready for dev @lukesleeman and a good first issue?

[2020-04-04 02:19] lukesleeman commented on #157
@Mattro or @marcedwards Do you want to update the designs, so that they stay in sync?

[2020-04-04 02:20] lukesleeman commented on #158
@Mattro or @marcedwards are you able to update the designs so they stay in sync?

[2020-04-04 02:32] lukesleeman commented on #154
I've also assigned @kimngyn who says she will be @sallychung's assistant 🙂

A designer that I have worked with is particularly good at reporting issues like these.  What he typically does is, produce a screenshot, which he annotates with labels:

![image](https://user-images.githubusercontent.com/902252/78416912-7b006d00-7678-11ea-919b-ba20dc692844.png)

Which gets included in the issue.  He uses

[2020-04-04 03:57] lukesleeman opened #159 "Update the layout of the airway section"
The airway section in the app currently has "Intubation checklist" and "Extubation Guide" as small buttons side by side:

![image](https://user-images.githubusercontent.com/902252/78418057-6c1fb780-7684-11ea-82d4-e794c67193dc.png)

Where as the designs in Zeplin have them in a list:

![image](https://user-images.githubusercontent.com/902252/78418069-89ed1c80-7684-11ea-8996-9c8c9dfd6b98.png)

The a

[2020-04-04 04:07] lukesleeman commented on #159
I had a look into why this is occurring and it seems to be just a bit more than some one line fixes.  We have a `CardContainer` widget which contains a title, and a list of cards.  The way it lays out its cards depends on how many there are in the list:

- 2 Cards go in a horizontal row
- 3 Cards with one large one, and two smaller ones underneath
- 4 Cards go in a grid of small cards
- Otherwise

[2020-04-04 04:24] alessandrofavero commented on #156
I can pick this one up!

[2020-04-04 04:27] alessandrofavero commented on #156
Can something like this be alright? @workerbee22
![Screenshot_1585974390](https://user-images.githubusercontent.com/43284065/78418527-b0ad5200-7688-11ea-9e24-7b349160a5a9.png)

[2020-04-04 04:28] alessandrofavero commented on #156
![untitled](https://user-images.githubusercontent.com/43284065/78418544-e05c5a00-7688-11ea-8f61-a1fbf821c432.gif)

[2020-04-04 04:33] alessandrofavero commented on #156
Or this:
![Screenshot_1585974785](https://user-images.githubusercontent.com/43284065/78418626-9cb62000-7689-11ea-9a27-2bea3f9d34ba.png)

[2020-04-04 04:42] lukesleeman commented on #156
I think thats looking pretty good.  We will need to talk to the designers about getting something which adapts better to wide screens, but in the meantime I think you have done a pretty good job of solving the issue.

[2020-04-04 04:48] alessandrofavero commented on #155
@workerbee22
![Screenshot_1585975702](https://user-images.githubusercontent.com/43284065/78418843-c7a17380-768b-11ea-81e8-21f310c3d47b.png)

[2020-04-04 04:49] lukesleeman commented on #98
It's still occurring on and off, but I don't think there is much we can actually do about it.  We have a reasonable work around which is to just push through a small commit to kick off the build again.

Perhaps I could update the `Readme.md` with the work around and then we can close this issue.  What do you think @maks ?

[2020-04-04 04:52] lukesleeman commented on #16
I'm closing this issue as most of the discussion is under #98

[2020-04-04 04:52] #16 closed

[2020-04-04 04:55] lukesleeman commented on #155
Whoever picks this up should be aware that issue #159 also touches these sections of the home screen and may result in some refactoring.

Check out issue #159 and see what status if has before its you get too far into this.

[2020-04-04 04:55] lukesleeman commented on #159
Whoever picks this up should be aware that issue #155 also touches these sections of the home screen

Check out issue #155 and see what status if has before its you get too far into this.

[2020-04-04 05:34] alessandrofavero commented on #159
I like the idea of enums! @lukesleeman  I can make the change if @workerbee22  and @maks agree

[2020-04-04 05:39] workerbee22 commented on #156
Yeah the changes to orientation for landscape are the default widget rebuild behaviour right now. But when we do that there are several issues to consider where we may want to slightly change layout in landscape orientation change. We should do them all together.

@alessandrofavero I think this can be closed.

[2020-04-04 05:39] workerbee22 commented on #155
Can be closed also 👍

[2020-04-04 05:44] workerbee22 commented on #159
enum is fine, although there is only one instance of this layout, so lets not get too tricky given we use it once.

[2020-04-04 05:44] #156 closed

[2020-04-04 05:44] #155 closed

[2020-04-04 06:00] lukesleeman commented on #131
Based off what @workerbee22 is saying there are no further design tasks needed with this

[2020-04-04 06:16] lukesleeman commented on #158
So I've pulled the designers off this until we get the code updated.  Once thats done, I'll hook them back up to sync whats in zeplin with the app.

[2020-04-04 06:16] lukesleeman commented on #157
So I've pulled the designers off this until we get the code updated.  Once thats done, I'll hook them back up to sync whats in zeplin with the app.

[2020-04-04 06:38] maks commented on #159
@alessandrofavero yes given that this isn't used anywhere else, I'd say just change the current layout for 3 items to be full width. Pls assign this to yourself if you'll be picking it up to fix.

[2020-04-04 06:43] #112 closed

[2020-04-04 06:43] sallychung opened #164 "Intubation - UI Inconsistencies"
Intubation Guide
- [x] *A* - Title font should be semi bold
- [x] *B* - Subtitle in cells should be grey (Zeplin: #blackAlpha600)
- [ ] *E* - Emojis don’t match Zeplin designs 🤏⚖️

![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 17 33 55](https://user-images.githubusercontent.com/12321678/78420500-6bdee680-769b-11ea-8a34-1f4c0a13fbe1.png)

![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 17

[2020-04-04 06:47] lukesleeman commented on #159
If you do this, unfortunately it will break the layout for ICU

![image](https://user-images.githubusercontent.com/902252/78420613-5cac6880-769c-11ea-9afb-a564fc85d6de.png)

I've attached a screenshot of the ICU layout.  I think in this case an enum may be a better solution

[2020-04-04 06:51] sallychung commented on #154
Checklist here on what’s been audited

- [x] Disclaimer
- [x] Main Screen
- [x] Information
- [x] PPE
- [x] PPE - Putting On Step By Step Guide
- [x] PPE - Putting On Step By Step Infographic
- [x] PPE - Taking off Method 1 Step By Step Guide
- [x] PPE - Taking off Method 1 Step By Step Infographic
- [x] PPE - Taking off Method 2 Step By Step Guide
- [x] PPE - Taking off Method 2 Step By Step Info

[2020-04-04 06:56] maks commented on #147
:+1: to using the builtin AboutDialog and LicensePage we get alot of functionality for free and no need to spend effort on this non-core functionality.
@lukesleeman can this go out for dev to pickup now?

[2020-04-04 06:57] maks commented on #148
@lukesleeman  Can we do this in the About Dialog and so use the work fror #147  ?

[2020-04-04 06:59] lukesleeman commented on #147
@maks any idea on how we go about getting a list of licenses we need to include?

[2020-04-04 07:02] lukesleeman commented on #148
I think that sounds like a good idea.  If we use the about dialog what kind of guidance do we need from the designers?

[2020-04-04 07:03] alessandrofavero commented on #159
@lukesleeman @workerbee22 @maks something like this:

![ezgif com-resize](https://user-images.githubusercontent.com/43284065/78420833-a1d19a00-769e-11ea-9929-a2f101d0f8de.gif)

[2020-04-04 07:05] maks commented on #98
@lukesleeman :+1: This seems to actually be mostly a Github issue. Looking on CI, they complete successfully and since *i* wrote the work-around script that notifies Github I think its actually error on their end but with GH so swamped and unresponsive at the moment not much more we can do. I'll add a note to the Readme for this.

[2020-04-04 07:12] maks commented on #147
@lukesleeman The beauty of it is it should all be automatic with the package manager taking care of it: https://api.flutter.dev/flutter/foundation/LicenseRegistry-class.html

[2020-04-04 07:13] sallychung opened #166 "Update Information screen & remove Lorem ipsum"
![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 18 12 28](https://user-images.githubusercontent.com/12321678/78420981-e578d380-769f-11ea-9429-92d5347a29c3.png)

[2020-04-04 07:23] sallychung opened #167 "Disclaimer - UI Inconsistencies"
- [x] *A* - Content needs to be indented for sections under "Please keep in mind” and “WHAC19 does not...”
- [x] *B* - Font colour should be grey (Zeplin: #blackAlpha900, 60%)

![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 18 17 48](https://user-images.githubusercontent.com/12321678/78421091-da727300-76a0-11ea-9bb5-19efa85f4844.png)

[2020-04-04 08:27] lukesleeman commented on #159
Nice!

[2020-04-04 08:28] lukesleeman commented on #98
No worries, close this issue once we have the note in the readme.  Might also be good to add something to the FAQ section of the github101.md as well 🙂

[2020-04-04 08:29] lukesleeman commented on #147
Oh, nice!  In that case moving this one to ready for dev!

[2020-04-04 09:37] cjmlgrto commented on #166
The repo's README's sums up the intent of the app nicely. I've re-worded it a little:

[2020-04-04 09:59] kimngyn commented on #166
@greggmiller  is that ok with you?

[2020-04-04 10:28] sallychung opened #171 "Intubation Checklist resets when traversing between tabs"
**Steps to reproduce**
1. Go to Intubation Checklist
2. Select cells under Teams
3. Go to any other tab and select cells, ie, Patient
4. Go back to Teams

Expected:
Selected cells should remain selected

Actual:
All cells have been deselected

![checklist_bug](https://user-images.githubusercontent.com/12321678/78424704-0bf83800-76bb-11ea-9f50-0981f7192e2d.gif)

[2020-04-04 10:42] sallychung opened #173 "Main Screen - UI Inconsistencies"
- [ ] A - Info button is not aligned to the title
- [ ] B - Content below title is not aligned on the left
- [ ] C - Buttons’s height under Intubation are too tall

![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 21 34 35](https://user-images.githubusercontent.com/12321678/78424969-d6ece500-76bc-11ea-8b3c-fdd784108881.png)

[2020-04-04 11:00] sallychung opened #174 "Information - UI inconsistencies"
- [ ] A - Title is too large
- [ ] B - Button height is taller than specified on Zeplin
- [ ] C - Margin between buttons are bigger than in Zeplin
- [ ] D - Font and color in About section doesn’t quite match
- [ ] E - Icon should have rounded corners with more margin around it

Screenshot is on an iPhone 5s so that it’s easier to read in GitHub. Also checked against iPhone 11 Pro Max

![Simulator

[2020-04-04 11:07] workerbee22 commented on #174
👍The other thing I've noticed too is Status bar icons are white on white. But I'm raising a separate issue for that tomorrow.

[2020-04-04 11:12] sallychung opened #175 "Your Welfare - UI Inconsistencies"
- [ ] A - Title too large
- [ ] B - Phone icon doesn't match design
- [ ] C - Margins needs to be larger
- [ ] D - Font colour should be black (Zeplin #blackAlpha900)

Note: Broken emojis raised as a separate issue #176

![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 22 03 21](https://user-images.githubusercontent.com/12321678/78431475-e110e280-76c0-11ea-9c6a-178cf8514568.png)

[2020-04-04 11:14] sallychung opened #176 "Support only iOS 12 and above"
Emojis aren’t displayed correctly on iOS 11.0.1
- Eat well
- Stay in contact with loved ones
- Avoid unhelpful coping strategies...

Note: This was tested on simulator only as I don’t have a physical device

![Simulator Screen Shot - iPhone 5s - 2020-04-04 at 22 12 46](https://user-images.githubusercontent.com/12321678/78433390-6c8a7380-76c1-11ea-9921-8a18cbcceb7f.png)

[2020-04-04 13:37] cjmlgrto commented on #42
Alright, I've got a first draft of some screens here ready for a review.

Keen to get the eyes off @Western-Health-Covid19-Collaboration/medical and the @Western-Health-Covid19-Collaboration/designers on this.

![Slice](https://user-images.githubusercontent.com/1712450/78452210-b3826400-76d5-11ea-822f-ca0dc0b2676b.png)

[2020-04-04 20:41] kimngyn commented on #42
Great work @cjmlgrto !

Can we please make it blue ? Preferably the same blue as the app bar. Thanks
![6393A746-41AB-4769-A7EF-806535437E73](https://user-images.githubusercontent.com/42886400/78460924-74b9d180-7708-11ea-8737-656be26a3ad9.jpeg)

[2020-04-04 22:23] #159 closed

[2020-04-04 23:13] workerbee22 opened #177 "System Bars styling"
The status bar on iOS and Android and the navigation bar on Android are usually styled by the system. For example by ensuring contracts and color, icons can always be clearly visible for users.

- **Operating System version variations** - Different versions of iOS and Android take different approaches to ensuring clarity of system and navigation bars, and so the result varies based on the operatin

[2020-04-05 00:24] greggmiller commented on #166
Thanks @sallychung and @kimngyn for picking up on this one! Discussed in #172 and probably best we remove it as all the content is going to be elsewhere within the app. 👍

[2020-04-05 00:32] greggmiller commented on #42
This looks Fantastic 👏 😄  Incredible work 🔥

I'm sure @benblackman will also be appreciative after the work he has put in here.

Thanks!

[2020-04-05 01:18] lukesleeman commented on #158
Now this is in the app, I'm re-assigning to the @Western-Health-Covid19-Collaboration/designers for them to sync the copy changes with what is in zeplin

[2020-04-05 01:28] lukesleeman commented on #42
Wow!  This looks incredible!  Just wanted to check with @greggmiller to see if this is ready for dev?  In particular are we happy with the text and emoji?

[2020-04-05 01:31] cjmlgrto commented on #42
Thanks folks!

I’ll update the designs and make those changes. Will let you all know once they’re up on Zeplin.

[2020-04-05 01:43] greggmiller commented on #42
Thanks @lukesleeman , ready for @Western-Health-Covid19-Collaboration/flutter-devs 👍

[2020-04-05 01:54] lukesleeman commented on #157
This is now in the app - I'm moving over to design, to sync zeplin with the copy in the app 🙂

[2020-04-05 02:08] workerbee22 commented on #176
Note everyone that currently we are supporting iOS 9 and above. But we can easily increase that to say 11.

[2020-04-05 02:09] workerbee22 commented on #177
Fix for this will resolve a few issues, but due today.

[2020-04-05 02:10] workerbee22 commented on #175
Raises an interesting question. The user base is 90% ish iOS, so we can move to iOS style icons easily without designers have to provide assets, they just choose the standard iOS ones.

[2020-04-05 02:11] lukesleeman commented on #171
Owwwww, good catch!
We wanted it to reset if you leave the page - but probably resetting if you move between tabs is a bit too much!

[2020-04-05 02:12] workerbee22 commented on #174
E - We should use the Flutter classes which will then grab the correct icon for this version of the app ie. the Android or the iOS icon.

Flutter Devs have a look at this API, but we'll need to not use the default UI https://api.flutter.dev/flutter/material/showAboutDialog.html

[2020-04-05 02:12] lukesleeman commented on #173
I've moved this over to "Ready for dev". - Also just a huge ❤️ for those who have already put in so much effort to polish this screen!  Its getting very close to 💯 ✨ ✨ ✅

Keep up the amazing work!

[2020-04-05 02:14] workerbee22 commented on #173
@sally issues A and B are intentional. A previous PR aligned to the left the content. But @Mattro wanted to leave the AppBa.r title and 'i' for now as standard spacing.

So I think we need designer discussion on this one before its ready for dev. So I've removed 'ready for dev' sorry @lukesleeman but need to discuss with @Mattro

[2020-04-05 02:14] lukesleeman commented on #176
@sallychung - are you able to provide any advice about why this may be?  Does the OS not support those emoji we are using?

Do you have any recommendations as to what OS levels on the iOS side we should support?

[2020-04-05 02:16] lukesleeman commented on #166
I'm putting this in design, for the designers to have a think about what to put in here.  It may still be good to say _something_ though I am not sure what?

?

[2020-04-05 02:18] workerbee22 commented on #171
Yep tab switching needs to retain state. Easy to do.

[2020-04-05 02:19] lukesleeman commented on #42
Screens are in zeplin
https://app.zeplin.io/project/5e7597a68651056664fb6e53/dashboard?seid=5e893e64976918bc585f8f8e
zpl://project?pid=5e7597a68651056664fb6e53&seid=5e893e64976918bc585f8f8e

[2020-04-05 02:20] lukesleeman commented on #147
Thanks for the updates to the diagram @cjmlgrto  - I'm moving this one over to dev 🙂

[2020-04-05 02:21] workerbee22 commented on #167
Event though  I did this originally. Happy for another Dev to pick this up as should be straight forward tweaks. 👍

[2020-04-05 02:22] Mattro commented on #173
To talk to this a bit. The navbar content can be omitted from the margins stuff - I don't mind where it sits.

**"What the hell are you talking about, crazy designer?"**
I'm glad you asked.

This was done in a mega hurry. I dropped a stock-standard iOS navbar on the top of the design, then removed it's background. Then, I removed it's title. The only thing remaining were it's alignments and right-

[2020-04-05 04:47] sallychung commented on #176
Some of those emojis used are from later releases. For example, the broccoli was released on iOS 11.1

I’d say probably support from iOS 12 and above? The adoption rate for iOS 13 is quite high sitting at around 77% https://developer.apple.com/support/app-store/

[2020-04-05 04:53] lukesleeman commented on #173
Yeah, I think it all just speaks to how quickly we had to bring the whole thing together!  Damn we moved quick 🙂❤️

So we can get a bit of a conclusion on what way to go with this issue - do people think we need to address Items "A" and "B"?   How much dev effort is involved in changing it?

[2020-04-05 05:13] cjmlgrto commented on #157
Design are now synced to Zeplin 👌

[2020-04-05 05:13] cjmlgrto commented on #158
Designs synced — they're up on Zeplin now 👍

[2020-04-05 05:17] cjmlgrto commented on #43
Is something like this what you're after @greggmiller? I'll hold off on this until we get the first round of content in.

![Tips](https://user-images.githubusercontent.com/1712450/78467453-655e7680-7750-11ea-8b82-f99e5d6ddd06.png)

[2020-04-05 05:22] sallychung commented on #154
@lukesleeman What’s the extent on us supporting landscape mode? I noticed a bug was raised about it in the main screen. Should I audit every other screen with landscape?

[2020-04-05 05:26] cjmlgrto commented on #166
How's this? Tidied this up as well, since some of them will open Flutter's out-of-the-box screens for info about the app, based discussions from #147.

![Information](https://user-images.githubusercontent.com/1712450/78468395-f9354000-775a-11ea-8521-5657929839f0.png)

[2020-04-05 05:27] sallychung opened #180 "Disclaimer - Fix capitalisation in content"
Can we please verify that `anaesthetic`, `critical care` and `clinician` aren’t proper nouns and should be lower case?

![Image from iOS (2)](https://user-images.githubusercontent.com/12321678/78467598-94291c80-7751-11ea-8207-82e11f50c574.jpg)

![Image from iOS (1)](https://user-images.githubusercontent.com/12321678/78467601-97bca380-7751-11ea-9c5d-62aacc3edf05.jpg)

[2020-04-05 05:29] greggmiller commented on #43
@cjmlgrto 🙌 💯  Yes that looks excellent. This will probably be the aspect that fills out most over time.
At the moment there are only a few infographics/videos to put in this section, but this is likely to grow to total of 20-30.
It shouldn't end up much more than this as we have other means for the more comprehensive stuff (we now have separate anaesthetic and ICU microsites).
Mainly items that a

[2020-04-05 05:40] cjmlgrto commented on #140
Here's what that screen will look like.

![Information](https://user-images.githubusercontent.com/1712450/78468395-f9354000-775a-11ea-8521-5657929839f0.png)

[2020-04-05 06:06] Mattro commented on #173
A: Info button should be top aligned to the wordmark as per Zeplin.
B: Content should sit 16px/pt/dp from the edge, which is the same as aligning it to that logo.
C: Button height is a deliberate 88px/pt/dp.

Each task is legit.

[2020-04-05 06:12] #40 closed

[2020-04-05 06:27] #158 closed

[2020-04-05 06:27] #157 closed

[2020-04-05 06:32] workerbee22 commented on #71
Waiting on new assets and/or new icon from designers before we do this.

[2020-04-05 06:39] lukesleeman commented on #180
@greggmiller are you able to have a look over the disclaimer and give us the 👍 if tweaks to capitalisation @sallychung is proposing are ok to make?

[2020-04-05 06:49] benblackman commented on #42
Looking great!  🔥

Thanks for all the hard work all  😃

[2020-04-05 06:57] cjmlgrto commented on #45
Here's a first pass. Decided to remove the links to the microsite since they're already in the screen before it ([Information](https://app.zeplin.io/project/5e7597a68651056664fb6e53/screen/5e75996c5f1e2a6dd0200cc1/)).

I've also made the titles more terse, but we have an opportunity to add subtitles, much like the links at the bottom of the list. Thoughts?

![Additional Resources](https://user-ima

[2020-04-05 07:07] greggmiller commented on #180
Yes agreed, they are common nouns and not titles etc. so can be lower case. My mistake, thanks for picking up @sallychung 👍 .

There will probably be some other modifications to disclaimer picked up by others a more medics review, should we wait to change in bulk? or is this a simple fix to flag and correct as an issue?

[2020-04-05 07:20] greggmiller commented on #140
As discussed with @cjmlgrto but to clarify for others...

The info page could do with 3 links at the top that would be most useful for user on this.
This is
WH Novel Coronavirus microsite
WH Anaesthesia COVID-19 microsite
and
WH ICU COVID-19 microsite.

This is in addition to the other sites on additional resources.

I think @cjmlgrto has some designs for this that he might be adding to Zeplin.
Th

[2020-04-05 07:24] lukesleeman commented on #154
Thats a really good question.  I think in general we just need to support a bunch of screen sizes.  Trying things in landscape mode is a good way of finding bugs that may happen on something with a wider screen, such as a phablet or small tablet.  So it might be a good thing to test.

With that said, I don't think landscape is a huge priority - problems in landscape are more just an indication tha

[2020-04-05 07:29] lukesleeman commented on #166
That looks great!  I'm moving this one over to ready for dev, and hiding a bunch of comments, just so its clear what we need to build out in this screen 🙂👍

[2020-04-05 07:29] benblackman commented on #173
Hey all, looking great even if there's a couple of little things to polish.

Just wanted to feedback that on iOS the title bar does a bit of a strobe thing when you scroll (obviously wants to be clear at the top of the screen and white when scrolling down to cover anything underneath) there's evidently a point in the scroll where it can't make up its mind and goes a bit 📸💥🚨

Video screenshot:
http

[2020-04-05 07:36] kimngyn commented on #45
Capital needed? To make it consistent?

![8605B667-84C0-4E2D-B363-54682205C715](https://user-images.githubusercontent.com/42886400/78469373-eb37ed00-7763-11ea-97a1-e6b2cc6940c9.jpeg)

[2020-04-05 07:42] kimngyn commented on #173
@benblackman I think @mike will deal with that issue

[2020-04-05 07:59] benblackman commented on #173
Thanks kim and mike

[2020-04-05 08:15] lukesleeman commented on #71
Good call - I've pulled off the ready for dev label.

[2020-04-05 08:18] lukesleeman commented on #180
I think this is a really simple one.  I'll assign it over to ready for dev, and somebody an probably knock it off in a few mins

[2020-04-05 08:25] lukesleeman commented on #45
Yeah, I think subtitles might be nice, just describing what people will find on that page

[2020-04-05 08:31] lukesleeman commented on #176
👍 As discussed in our call this evening, we can lock the app down to a higher OS version.  I'll update the title of this issue to be "Support iOS 12 and above" and open a different issue up for Android.

[2020-04-05 08:35] lukesleeman opened #183 "Lock android versions down to api 21 and above"
The app needs to be changed to only support android versions on API 21 and above

The app currently supports some really old versions of Android.  As we are using a lot of emoji this can be a problem (see issue #176 for the problems on the iOS side).  Locking the app to API 21 won't fully fix the issues, however it will mean that we don't have to worry about some of the very oldest devices.  We di

[2020-04-05 08:46] lukesleeman opened #185 "Move away from emoji content and towards proper iconography"
The app currently uses a lot of emoji.  This lets us move really fast, however there are a few concerns that apple may be rejecting apps that use emoji in their UI.  For an example see:
https://blog.emojipedia.org/apples-emoji-crackdown/

In addition OS support for emojis and consistency is not great.  This is particularly an issue on Android where there are a lot of older versions around which do

[2020-04-05 08:47] lukesleeman commented on #185
Issues #176 and #183  show some of the issues we are having with emoji

[2020-04-05 09:24] cjmlgrto commented on #144
Alright, here's a first pass at the screens. Main thing I'm unsure about is the sentence capitalisation.

Keen to hear your thoughts @Western-Health-Covid19-Collaboration/medical + @Western-Health-Covid19-Collaboration/designers

![Slice](https://user-images.githubusercontent.com/1712450/78471195-d44cc700-7772-11ea-9c97-c1b563023b15.png)

[2020-04-05 09:24] rockgecko-development commented on #164
Item `A,C,D` was fixed by @ericjiang97 in #178
Item `E` is intentional, as I mentioned under 'things to note' in original issue #133
Will submit a PR for `B`

[2020-04-05 09:37] lukesleeman commented on #166
Actually, I just noticed #140 covers the same things.  I'm closing off this issue in favour of issue #140 where things are a bit more fully specified

[2020-04-05 09:37] #166 closed

[2020-04-05 09:40] kimngyn commented on #144
Friendly suggestion: in the room.

And please make the word “including” with a capital I? You seem to have done it everywhere else.

I’m not on a computer at the moment to cross-check. I’ll check again tomorrow morning 😊

![EDD074A9-3B56-46EE-A151-B8084EB0492C](https://user-images.githubusercontent.com/42886400/78471498-124aea80-7775-11ea-9b78-51a0364a9e42.jpeg)

[2020-04-05 09:40] lukesleeman commented on #140
I've cleaned up the issue description, and moved this over to ready for dev.

One small change - After thinking it over, it might be better to say:

"Bunch", sounds like we are bunch of bananas or something 😂

I think "band" either sounds like we are either some musicians coming together to jam out some awesome tunes, or a roving band of desperados hiding out in the mountains, and coming together

[2020-04-05 09:45] workerbee22 commented on #183
Done in PR https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/184

[2020-04-05 09:45] workerbee22 commented on #177
Done in PR https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/184

[2020-04-05 09:46] workerbee22 commented on #176
Done in PR https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/184

[2020-04-05 09:47] workerbee22 commented on #114
Google Play Beta release re-submited after initial Beta submission/suspension/removal.

Once this is approved, will look to moving 'Alpha' distributions away from Firebase App Distribution to Google Play Internal channel.

[2020-04-05 09:48] workerbee22 commented on #71
PR https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/184

Fixes the icon title for iOS and Android. But still need to fix Android Adaptive icon, for which waiting for new assets/icon.

[2020-04-05 09:49] workerbee22 commented on #20
Google Play Beta release re-submited after initial Beta submission/suspension/removal.

Once this is approved, will look to moving 'Alpha' distributions away from Firebase App Distribution to Google Play Internal channel.

[2020-04-05 09:50] workerbee22 commented on #19
Beta builds flowing into TestFlight fine and fully automated from codemagic.

[2020-04-05 09:57] lukesleeman opened #188 "Build out Ventilation Infographic screen"
In the ventilation screen there is a "PDF" button to link off to an infographic screen.  We need to build out the Ventilation Infographic Screen.

image: sari_treatment_poster_1.png which is contained in PR #192
left hand side button: X
Theme: Blue
Title: Ventilation Infographic

[2020-04-05 09:58] lukesleeman commented on #188
@greggmiller or one of the @Western-Health-Covid19-Collaboration/medical  - are you able to let us know which documents to use for the 3 ICU infographic screens?

[2020-04-05 10:04] rockgecko-development commented on #175
`A,B` fixed
For `C`, what should the margin be? The mock doesn't have content for this screen, but every other screen has margins of 16dp, which is what this is currently set to also.
`D` fixed, but I don't see that information in the mock https://app.zeplin.io/project/5e7597a68651056664fb6e53/screen/5e75996b2f9154659ff7e114

[2020-04-05 10:07] lukesleeman opened #189 "Replace SVG icons with build in flutter icons"
Flutter has the ability to use built in icons, which are pre-rendered to a bunch of screen densities - it should be a pretty simple one line of code to use the built in icons.

We should start using the build in icons, and we can remove the SVG ones the designers have provided.

By using the flutter ones, we can also use platform appropriate icons on both the iOS and Android side.

[2020-04-05 10:08] lukesleeman commented on #189
I'm moving this one over to @workerbee22 as he has a much better idea of what needs to be done.  Once your happy with it @workerbee22 just move it over to `Ready for dev`

[2020-04-05 10:14] workerbee22 commented on #189
Sounds good ... was just playing with the standard icon package for ios.

[2020-04-05 10:25] rockgecko-development commented on #174
I think this task might have been superseded by design changes in #140 . Definitely that issue should be checked before making changes here

[2020-04-05 10:41] kimngyn commented on #189
Yay! I mentioned this at the start of the project lol

[2020-04-05 10:48] rockgecko-development commented on #175
Need more info for `C` before this can close

[2020-04-05 10:51] workerbee22 commented on #189
Just so everyone is aware there are two core icon packages, one for material design icons and the other for cupertino icons (list of icons here: https://pub.dev/packages/cupertino_icons).

There are some places in the app where we use SVG and should continue to do so. Like the colors on Home screen background:

![image](https://user-images.githubusercontent.com/5154664/78472810-1bd95000-777f-11ea-

[2020-04-05 10:52] workerbee22 commented on #189
So actions for me on this change is, for standard icons:

- convert to standard Icon widgets or IconButton etc.
- Remove SVG asset from the app and `pubspec.yaml`

At the moment I'll just replace like for like and no-one will be able to tell the difference.

[2020-04-05 20:26] greggmiller commented on #188
Hi @lukesleeman

Ventilation should be this document from ICU:
https://github.com/Western-Health-Covid19-Collaboration/source-documents/blob/master/COVID-SARI%20Treatment%20Poster%202020.pdf

Daily screens won't need an infographic as it is summary of lengthy policies/documents

Cross-skilling - I will log some issues later regarding some of the information to go in there.

Thanks 😄

[2020-04-05 22:23] lukesleeman commented on #188
Awesome, assigning this one over to @marcedwards to get the PDF converted over and into the codebase.

[2020-04-06 00:02] kimngyn commented on #144
Friendly suggestion: lower case a

![Screenshot (97)_LI](https://user-images.githubusercontent.com/42886400/78513277-b6707800-77ed-11ea-84b1-964631dac876.jpg)

[2020-04-06 00:03] kimngyn commented on #144
Friendly suggestion: "Have a runner in the anaesthetic bay" and lower case v

![Screenshot (98)_LI](https://user-images.githubusercontent.com/42886400/78513286-c9834800-77ed-11ea-8837-5e0555cbdb43.jpg)

[2020-04-06 00:05] kimngyn commented on #144
Friendly suggestion: inconsistent capitals? possibly, nasal prongs.

![Screenshot (100)_LI](https://user-images.githubusercontent.com/42886400/78513329-19faa580-77ee-11ea-807d-00c69a7e7c9c.jpg)

[2020-04-06 00:05] kimngyn commented on #144
Friendly suggestion: lowercase b for buddy.

![Screenshot (99)_LI](https://user-images.githubusercontent.com/42886400/78513341-2da60c00-77ee-11ea-9a84-137899e77d1b.jpg)

[2020-04-06 06:24] #171 closed

[2020-04-06 07:14] rockgecko-development commented on #164
I'll leave this for @sallychung  to confirm all is resolved

[2020-04-06 09:52] lukesleeman commented on #43
👋 Hey @greggmiller with this one, should I leave it with design, or remove the designers from it until you get more resources to add into this screen?

[2020-04-06 10:03] marcedwards commented on #188
Should I turn this into two images? If the answer is yes, do we have a plan for how to get to each page? Two buttons?

[2020-04-06 10:22] greggmiller commented on #43
I think @fabiendade was going to start putting together some content for this.
So he might come back to us in the next couple of days.

In the meantime if it was built out like above with each A,B.C... etc..
Saying something like content pending or blank underneath.
This would give users the chance to see the intention for the app.
From what @Mattro said on the call this should be ok?

[2020-04-06 10:25] kimngyn commented on #140
by volunteer developers? :)

[2020-04-06 10:25] greggmiller commented on #188
The first page should be fine for this @marcedwards 👍

Some way down the line it might be good to try and build out the infographic screen so that it can slide between a few images but I don't know how challenging this would be.

[2020-04-06 10:28] rockgecko-development commented on #174
Luke notes that A,B,C,E are still relevant

[2020-04-06 10:34] marcedwards commented on #188
Ok. I’ve added both for now (the images are as small as I could get them, so having the second page doesn‘t seem like a bad thing).

[2020-04-06 10:39] greggmiller commented on #144
Thanks @kimngyn for your close eye to detail.

I agree with all the changes you have suggested.

A couple of others I would recommend:

**Planning:**

Bullet point under assemble team we can add ONLY to the end so it reads:
"Anaesthetists and anaesthetic nurse ONLY"

(The emphasise on ONLY as we want to minimise those in the room at the time that we might be aerosolising viral particles)

**Prepar

[2020-04-06 10:56] fabiendade commented on #43
I have been compiling a list of useful topics to include in this section and should have something back to you by Wednesday morning. Will Liase with Ben and some other Reg’s to make sure it is relevant.

[2020-04-06 10:57] lukesleeman commented on #144
I think lets just move this one over to ready for dev, then the designers can circle back around later to update the copy on the zeplin side

[2020-04-06 10:58] Mattro commented on #144
Thanks everyone. These copy adjustments are up to date in Zeplin too. 👍

[2020-04-06 10:59] lukesleeman commented on #174
I'm adding @workerbee22 in on this - as discussed in tonights call he may be able to address a bunch of these with the theming work he is planning tomorrow.

[2020-04-06 10:59] lukesleeman commented on #167
I'm adding @workerbee22 in on this - as discussed in tonights call he may be able to address a bunch of these with the theming work he is planning tomorrow.

[2020-04-06 11:01] lukesleeman commented on #113
I'm removing design a medic from this until we get some time to re-visit it later

[2020-04-06 11:08] lukesleeman commented on #188
Ok, I'm moving this over to ready for dev and hiding some old comments

[2020-04-06 11:20] lukesleeman commented on #43
I think in this case, its probably best to just wait for @fabiendade info on wednesday, then move it back to design then

[2020-04-06 12:12] rockgecko-development commented on #175
Mock has updated, and the margin is 16dp, same as what is already implemented.

[2020-04-06 12:12] #175 closed

[2020-04-06 12:19] #176 closed

[2020-04-06 12:19] #177 closed

[2020-04-06 12:19] #183 closed

[2020-04-06 14:01] rockgecko-development commented on #174
Done in PR #194

[2020-04-06 22:39] workerbee22 opened #195 "Information / Disclaimer & Conditions of use - Back button cannot be seen"
Bug where the 'back' button in top left on the AppBa is there, but is colored white on white. Functions correctly but cannot be seen.

Note this is probably a theming issue, so avoid hard coding a color: property. Instead investigate the theme color being used.

![image](https://user-images.githubusercontent.com/5154664/78611905-53ddb180-78ab-11ea-8e29-82df487a0e9a.png)

[2020-04-06 22:56] workerbee22 commented on #15
@maks @lukesleeman @rockgecko-development So this along with analytics can be delayed until just before large beta group. Also **expanding the scope of this issue to include analytics**. But I think in this case Crashlytics may be the better choice because:

- `google-services` already in the app code for iOS and Android
- Firebase app setup for Android and iOS also already setup in the app and in

[2020-04-06 22:57] #144 closed

[2020-04-06 23:29] maks commented on #15
There's trade offs on both sides.

My main reasons for suggesting Sentry over Crashlytics:

* Personal experience in trying to get Crashlytics working on previous commercial Flutter project was **absymal**
* **Real time** data reporting so you don't wait X hours to find out about mass crash spikes
* Sentry package pure dart so much easier to work with than FB
* Sentry dashboard much more developer

[2020-04-06 23:31] workerbee22 opened #196 "iOS Version - App Store Connect Reported Issues"
When we submit to App Store Connect (used for TestFlight and the App Store) Apple analyses the app files and reports on any issues.

As at v1.0.101 we have these issues:

![image](https://user-images.githubusercontent.com/5154664/78614613-555ea800-78b2-11ea-8f7c-17d0f7568df5.png)

[2020-04-06 23:33] workerbee22 commented on #196
**ITMS-90078: Missing Push Notification Entitlement**

Is a Flutter framework issue, that is being worked on but the consensus is to ignore it for now. See Flutter issue:  https://github.com/flutter/flutter/issues/9984

[2020-04-06 23:35] workerbee22 commented on #196
**ITMS-90381: Too many symbol files**

Crept in as a new issue with v1.0.101 when I locally updated brew, ruby and cocoapods to make sure we were using cocoapods v1.9.1.

There are fixes for this that I'm investigating such as this and others: https://stackoverflow.com/questions/34313049/too-many-symbol-files-warning-when-submitting-app

This may be caused by our change in v1.0.101 to only support

[2020-04-06 23:44] workerbee22 commented on #15
Ok we need to make a decision at some point. Sentry wise yep I like too and is a friendly console too.

But I also have Crashlytics working on Android and iOS in multiple projects and didn't see big issues. Reporting is also not that long ... from memory it like 10s of minutes not hours to report to console.

@maks do we know how good Sentry is with iOS? I've only used on Android.

But how about w

[2020-04-07 00:33] maks commented on #15
I'm ok with Crashlytics as long as I don't have to set it up 😉

But is the error reporting from Flutter not being given error status in Crashlytics still an issue?

Also seems to be problems getting it working properly on iOS: https://stackoverflow.com/q/60111182/85472

[2020-04-07 03:15] workerbee22 opened #197 "Use of Strings class in strings.dart"
Already partially implemented, but this issue about cleaning up the code to FULLY support the use of a strings file.

### Proposal

Instead of embedding or 'hard coding' string constants in ui code, use a Strings class member instead. The benefits are

- maintainability as key strings can then be easily changed in one place without touching the ui code itself.
- more readable code

For example for

[2020-04-07 04:14] workerbee22 opened #198 "Icons Migrate to standard Icon Widgets"
Look to migrate away from custom SVG icons to Flutter standard icons. This is only for standard icons and not for larger images like the Home screen brand background (green/blue/purple shapes).

The following icons are custom but have iOS and Android standard versions in Flutter:

![image](https://user-images.githubusercontent.com/5154664/78628938-07a96600-78d9-11ea-889f-c09adae33d07.png)

Actions

[2020-04-07 04:16] workerbee22 commented on #189
Look to migrate away from custom SVG icons to Flutter standard icons. This is only for standard icons and not for larger images like the Home screen brand background (green/blue/purple shapes).

The following icons are custom but have iOS and Android standard versions in Flutter:

![image](https://user-images.githubusercontent.com/5154664/78628938-07a96600-78d9-11ea-889f-c09adae33d07.png)

Actions

[2020-04-07 04:17] workerbee22 commented on #198
Closing as is a duplicate of https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/189

[2020-04-07 04:17] #198 closed

[2020-04-07 04:18] workerbee22 commented on #189
We do just need to confirm if we want to use the iOS standard icons on iOS and the MAterials Design ones on Android? I'm assuming yes?

[2020-04-07 04:25] kimngyn commented on #189
I don’t mind Cupertino, but the documentation is already well written for material icons class. Maybe material and then we can get “fancy” later.

[2020-04-07 05:25] workerbee22 commented on #189
Yeah ... I'm keep to talk to designers tonight before I do this. Because I can just convert SVGs over to Icon() widgets and leave them as Material Design icons.

The other problem though ... when is 'later'? If we work to plan the app will be with many users over the weekend as a 'beta'.

But things to discuss:
- Material Design icons appropriate for app where 80%+ are iOS?
- How well do we want t

[2020-04-07 05:31] greggmiller opened #199 "Topic in Cross-skilling Section C: ALS/BLS pandemic modifications"
There are modifications to how we perform Basic Life Support and Advanced Life Support during COVID pandemic.
The intention is that this page summarises those changes in Scrollable stab format.

Title Page: ALS/BLS pandemic modifications

4 scrollable Tabs:
**Principles
PPE
BLS
ALS**

**Principles:**
CPR is an Aerosol Generating Procedure (AGP)!
Your safety is a priority
DO not enter the bed space

[2020-04-07 05:38] workerbee22 commented on #15
I can set it up, given I know it better than most.

That info on crashes not being reported as 'non-fatal' is no longer true. See below:

![image](https://user-images.githubusercontent.com/5154664/78633390-d767c480-78e4-11ea-8dd2-839af7be8504.png)

🙈See several 'Crash' status errors reported ... won't show the rest of the list ... lots of Carsh status errors 🙈🤣

See also working on iOS ... but hav

[2020-04-07 06:28] adamkoch commented on #15
Interesting. I've never been able to get it working personally. For reference, the issue is here:
https://github.com/FirebaseExtended/flutterfire/issues/398

[2020-04-07 06:38] #140 closed

[2020-04-07 06:38] #147 closed

[2020-04-07 06:38] #174 closed

[2020-04-07 06:45] rockgecko-development commented on #195
Back button is showing for me on info screen in latest build. Refer screenshots in https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/194

I guess the fix for disclaimer screen would be to conditionally set `AppBar.iconTheme: Styles.appBarIconTheme,` based on if this is the first time disclaimer is showing (and you aren't allowed to hit the back button) or not.

[2020-04-07 08:45] lukesleeman commented on #144
Great work Matt!

I've hidden all the to-and-fro on the copy - @rockgecko-development be sure to check out zeplin for the latest copy and ... well copy form there :-)

[2020-04-07 09:36] #180 closed

[2020-04-07 09:37] workerbee22 commented on #15
@adamkoch Yeah I might have to update the issue FirebaseExtended/flutterfire#398 with some 'tricks' I've discovered. But before we finalise Crashlytics wan to do some quick retesting ... just in case.

[2020-04-07 09:39] workerbee22 commented on #15
Here are more examples of crashes:

![image](https://user-images.githubusercontent.com/5154664/78654093-6be31e80-7907-11ea-8ac8-c892f1651144.png)

[2020-04-07 09:58] lukesleeman commented on #197
These sound like some sensible suggestions 👍

[2020-04-07 10:34] workerbee22 commented on #189
Agreed to keep the SVG icon approach.

[2020-04-07 10:34] #189 closed

[2020-04-07 10:44] Mattro commented on #167
May I add to this issue?

**Main screen > Info > Disclaimer's** back button is missing on the latest TestFlight build (104). (Tested on iPod touch [iOS 12] and iPhone 11 Pro [iOS 13.4].

<img width="320" alt="image" src="https://user-images.githubusercontent.com/1920449/78660497-8a99e300-7910-11ea-8166-de3c4da8a979.png">

[2020-04-07 11:01] workerbee22 commented on #167
@Mattro Yep we have an bug logged already. IS actually there but is white on white. https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/issues/195

[2020-04-07 11:08] kimngyn commented on #199
4 Scrollable Tabs:
**Principles**
**PPE**
**BLS**
**ALS**

**Principles:**

CPR is an Aerosol Generating Procedure (AGP)!
Your safety is a priority
Do NOT enter the bed space until appropriate PPE applied
Limit number of responders to essential staff only
Minimise interruptions to compressions
Rhythm check at appropriate times

**PPE**

For COVID-19 proven, suspected or unknown patients:

- Full P

[2020-04-07 11:31] sallychung opened #202 "Intubation - Inconsistent capitalisation"
**Updated from comments**

**Intubation Guide**
- [x] A Intervene Early -> Intervene early
- [x] B Allocate roles & Share airway -> Allocate roles & share airway plan
- [x] C Use COVID-019 Intubation tray -> Use COVID-019 intubation tray
- [x] D Ensure Viral filter and etCO2 in ventilation circuit -> Ensure viral filter and etCO2 in ventilation circuit
- [x] E use a Spotter -> use a spotter
- [x]

[2020-04-07 11:32] sallychung commented on #202
@greggmiller can you please review the capitalisation before we update it in Zeplin and assign it for dev?

[2020-04-07 11:55] sallychung opened #203 "Ventilation vs Daily Rounds - Capitalisation discrepancies"
Same words are presented different between Ventilation vs Daily Rounds screens

- [ ] **A** Capitalisation - PAO2 vs PaO2
- [ ] **B** Include units? are the values intended? - 55-60 vs 55-70mmHg
- [ ] **C** Capitalisation - PPlat vs Pplat
- [ ] **D** Include units? Spacing? Capitalisation? Double digit after decimal? - pH > 7.20 vs Ph>7.2
- [ ] **E** Capitalisation - "Lung Protective" with capital

[2020-04-07 11:58] lukesleeman commented on #71
I'm assigning @marcedwards to this as well to provide his ✨ new icon ✨

[2020-04-07 12:03] sallychung opened #204 "Swiping up or down while tabs animation could be mistaken for horizontal gestures"
Steps to reproduce:
1. Go to Ventilation/PPE
2. Swipe left
3. Before the animation finishes on Pre-oxygenation, swipe up

Expected:
Pre-oxygenation screen should scroll up

Actual:
Tab is shifted back to PPE

Video on Slack
https://gdganz.slack.com/files/U9VUTTKSR/F011GPLQJE5/img_1348-480.mov

[2020-04-07 12:24] sallychung opened #206 "PPE - UI Inconsistencies"
- [x] A Donning & Doffing Step by Step - Bullet points text colour should be #blackAlpha900
- [x] B Doffing - Both methods - Warning - Background color in warning should be 236 243 240, text color #blackAlpha900
- [x] C Doffing - Both methods - Warning - Margin between warning and Step 1 is too large
- [ ] D Doffing Method One - Step 5 and Step 3 reversed?
- [x] E Toolbar colours don't match zepli

[2020-04-07 20:23] joshcase commented on #197
Great idea. Is this up for grabs @workerbee22 or are you half way down the rabbit hole?

[2020-04-07 21:30] greggmiller commented on #202
A - agree
B- agree and addition of “plan” required. Should read:
“Allocate roles & share airway plan”
C- agree
D - agree V to v and keep etCO2 is best to be universal in app (it stands for end-tidal CO2 i.e. the partial pressure of carbon dioxide (CO2) unexpired breath)
E - agree
F - This is a tricky one, I would probably keep the capitals not as grammatically correct but we want to highlight thos

[2020-04-07 21:41] kimngyn commented on #202
Sorry @sallychung I forgot to give you this one too!

![B404E3BF-9CF2-492F-B33E-4EC557B2854A](https://user-images.githubusercontent.com/42886400/78722167-450b0380-796c-11ea-82be-5a59b424f160.jpeg)

[2020-04-07 22:37] adamkoch commented on #15
@workerbee22 awesome, if you can add more info to the public bug that would be great, then others can also try and get it working 👍

[2020-04-08 01:36] workerbee22 commented on #197
Almost finished @joshcase . See this PR https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/pull/207

So this one nearly done. But check issues list, still many open.

[2020-04-08 01:37] workerbee22 commented on #71
@lukesleeman We'll need a flutter dev to do this on both sides, but we need the assets from @marcedwards

[2020-04-08 01:42] marcedwards commented on #71
@workerbee22 I’m working on the new icon, and will post to the Slack team when it’s very close to being done, and then update all the assets.

[2020-04-08 01:44] workerbee22 commented on #71
@marcedwards Can't wait to see it, but no massive rush today.

[2020-04-08 03:37] fabiendade commented on #43
Under Breathing Section of the cross skilling instructions and a checklist for proning a patient is required - a complex process not often performed - and a checklist would be ideal

Format proposed is a button labelled “Proning” which opens into scrollable Tab format detailed below.

It would be useful if each bullet point (except those under indications and contraindications section) to be check

[2020-04-08 06:23] fabiendade commented on #43
[prone_checklist_september_2018.pptx](https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/files/4448571/prone_checklist_september_2018.pptx)

[2020-04-08 09:00] rockgecko-development opened #210 "ventilation initial actions and adjuncts html pages no longer accessible"
The screens created in #54  for #28  are orphaned and no longer accessible. The data is still there at https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/blob/fc52cf761ad7c49f94b23234a442915411c2c3eb/assets/text/icu_ventilation_initial_actions_content.html#L4 and https://github.com/Western-Health-Covid19-Collaboration/wh_covid19_app/blob/master/assets/text/icu_ventilation_adjun